
.hw-dropdown {
  position: relative;
  height: 58px;
  font-family: var(--hw-font-primay-medium);

  /* Focus styles */
  &:focus {
    outline: 0;
  }
  &:focus .hw-dropdown__inner {
    outline: 6px solid var(--hw-color-secondary);
  }

  /* Clearfix */
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }



  /**
  * Elements
  */

  &__inner {
    display: block;
    position: absolute;
    width: 100%;
    max-height: 58px;
    padding: 0 var(--hw-spacing-2);
    margin-top: 3px;
    background-color: var(--hw-color-white);
    font-size: var(--hw-font-size-small);
    border: 3px solid var(--hw-color-gray-light);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: border-color 0.3s ease, max-height 0.3s ease, transform 0.3s ease;

    &:hover {
      border-color: var(--hw-color-gray-dark);
    }
  }

  &__placeholder {
    padding: var(--hw-spacing-2);
    margin: 3px 0;
  }

  &__arrow {
    
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 22px;
      right: 20px;
      height: 4px;
      width: 16px;
      background-color: currentColor;
      transform: rotate(-45deg);
      transition: transform .1s ease;
    }
    &:after {
      right: 29px;
      transform: rotate(45deg);
    }
  }

  &__options {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__option {
    padding: var(--hw-spacing-2);
    margin: 3px 0;
    border-top: 3px solid var(--hw-color-gray-lighter);

    &:hover {
      color: var(--hw-color-primary-dark);
    }

  }

  &__option[data-hw-dropdown-option-selected="true"]{
    color: var(--hw-color-primary);
  }


  /**
  * Variations
  */
  &--expanded .hw-dropdown__inner {
    max-height: calc(100vh - 60px);
    border-color: var(--hw-color-gray-dark);
    z-index: 2;
  }

  &--expanded .hw-dropdown__arrow:before {
    transform: rotate(45deg);
  }

  &--expanded .hw-dropdown__arrow:after {
    transform: rotate(-45deg);
  }

  /**
  * Extra settings
  */
  &--is-too-big .hw-dropdown__inner {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &--is-too-big .hw-dropdown__inner {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

}
