/**
 * Block
 */

.hw-password {
  position: relative;
  margin-bottom: 30px;

  /**
   * Elements
   */

  &__input {
    @extend .hw-input;
    padding-right: calc(40% + var(--hw-spacing));
  }

  &__bar-container {
    position: absolute;
    top: 50%;
    right: var(--hw-spacing);
    height: 12px;
    width: calc(40% - var(--hw-spacing));
    background-color: var(--hw-color-gray-lighter);
    transform: translateY(-50%);
  }

  &__bar {
    display: block;
    height: 12px;
    background: transparent;
    transition: all 0.3s ease;
  }

  &__feedback {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: var(--hw-color-gray-darkest);
    padding: var(--hw-spacing-smallest) 0;
    text-align: right;

    & svg {
      width: 15px;
      margin-right: 10px;
    }
  }

  &__feedback-bad,
  &__feedback-ok,
  &__feedback-good {
    display: none;
    align-items: center;
    justify-content: flex-end;
  }

  /**
   * Modifiers
   */

  &--strength-1 {
    & .hw-password__bar {
      width: 10%;
      background: var(--hw-color-secondary);
    }

    & .hw-password__feedback-bad {
      display: flex;
    }
  }

  &--strength-2 {
    & .hw-password__bar {
      width: 20%;
      background: var(--hw-color-secondary);
    }

    & .hw-password__feedback-bad {
      display: flex;
    }
  }

  &--strength-3 {
    & .hw-password__bar {
      width: 30%;
      background: var(--hw-color-secondary);
    }

    & .hw-password__feedback-bad {
      display: flex;
    }
  }

  &--strength-4 {
    & .hw-password__bar {
      width: 40%;
      background: var(--hw-color-secondary);
    }

    & .hw-password__feedback-bad {
      display: flex;
    }
  }

  &--strength-5 {
    & .hw-password__bar {
      width: 50%;
      background: var(--hw-color-avocado);
      opacity: 0.5;
    }

    & .hw-password__feedback-ok {
      display: flex;
    }
  }

  &--strength-6 {
    & .hw-password__bar {
      width: 60%;
      background: var(--hw-color-avocado);
      opacity: 0.6;
    }

    & .hw-password__feedback-ok {
      display: flex;
    }
  }

  &--strength-7 {
    & .hw-password__bar {
      width: 70%;
      background: var(--hw-color-avocado);
      opacity: 0.7;
    }

    & .hw-password__feedback-ok {
      display: flex;
    }
  }

  &--strength-8 {
    & .hw-password__bar {
      width: 80%;
      background: var(--hw-color-avocado);
      opacity: 0.8;
    }

    & .hw-password__feedback-ok {
      display: flex;
    }
  }

  &--strength-9 {
    & .hw-password__bar {
      width: 90%;
      background: var(--hw-color-avocado);
      opacity: 0.9;
    }

    & .hw-password__feedback-ok {
      display: flex;
    }
  }

  &--strength-10 {
    & .hw-password__bar {
      width: 100%;
      background: var(--hw-color-avocado);
    }

    & .hw-password__feedback-good {
      display: flex;
    }
  }
}
