/**
 * Block
 */

.hw-banner {
  display: block;
  color: var(--hw-color-gray-darkest);
  background-color: var(--hw-color-gray-lightest);

  /**
   * Elements
   */

  &__trigger {
    display: block;
    width: 100%;
    padding: var(--hw-spacing-smallest);
    font-family: var(--hw-font-primary-medium);
    border: 0;
    color: var(--hw-color-gray-darkest);
    text-align: center;
    background-color: var(--hw-color-secondary);

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 25px solid var(--hw-color-secondary);
      transform: translateX(-50%);

      @media (--medium) {
        display: none;
      }
    }
  }

  &__trigger svg {
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 15px;
    fill: var(--hw-color-gray-darker);
    transform: translateX(-50%);
    z-index: 1;

    @media (--medium) {
      position: static;
      margin-left: var(--hw-spacing-smaller);
      transform: none;
    }
  }

  &__trigger-close {
    display: block;
    width: 100%;
    margin: 0 auto;
    opacity: 0.5;
    border: 0;
    cursor: pointer;

    & svg {
      fill: var(--hw-color-black);
    }

    &:hover,
    &:focus {
      outline: 0;
      opacity: 1;
    }
  }

  &__contents {
    display: none;
    background-color: var(--hw-color-secondary);
    text-align: center;
    padding: var(--hw-spacing) var(--hw-spacing) var(--hw-spacing-large) var(--hw-spacing);
  }

  &__title {
    @extend .hw-h1;

    max-width: var(--hw-width-contents);
    margin: var(--hw-spacing-small) auto 0 auto;
    color: var(--hw-color-gray-darkest);
  }

  &__time {
    margin-top: var(--hw-spacing-small);
    font-family: var(--hw-font-primary-medium);
    font-size: var(--hw-font-size-small);
    color: var(--hw-color-gray-darkest);

    & time {
      margin: var(--hw-spacing-smaller);
    }
  }

  &__subtitle {
    @extend .hw-h3;

    max-width: var(--hw-width-contents);
    margin: var(--hw-spacing-small) auto 0 auto;
    color: var(--hw-color-gray-darkest);
  }

  &__read-more-link {
    display: inline-block;
    position: relative;
    margin-top: var(--hw-spacing-small);
    font-size: var(--hw-font-size-small);
    font-family: var(--hw-font-primary-medium);
    border-bottom: 2px solid var(--hw-color-gray-darkest);
    z-index: 1;

    &:hover,
    &:focus {
      color: var(--hw-color-white);
      border-color: var(--hw-color-white);
      outline: 0;
    }
  }

  &__read-more-button {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: -40px;
    bottom: -15px;
    width: 70px;
    height: 70px;
    margin-top: -30px;
    background-color: var(--hw-color-secondary);
    text-align: center;
    border: 0;
    transform: rotate(45deg);

    & svg {
      position: absolute;
      bottom: 5px;
      transform: rotate(-45deg);
      left: 41px;
      fill: var(--hw-color-black);
      opacity: 0.5;
    }

    &:hover,
    &:focus {
      outline: 0;
    }

    &:hover svg,
    &:focus svg {
      opacity: 01;
    }
  }

  &__read-more-contents {
    display: none;
    max-width: var(--hw-width-contents);
    margin: 0 auto;
    padding: var(--hw-spacing-larger) var(--hw-spacing);
  }

  /**
   * Modifiers
   */

  &--expanded .hw-banner__trigger {
    display: none;
  }

  &--expanded .hw-banner__contents {
    display: block;
  }

  &--read-more-expanded .hw-banner__read-more-contents {
    display: block;
  }
}

/**
  * no-js fallbacks
  */

.no-js .hw-banner__contents {
  display: block;
}
.no-js .hw-banner__read-more-contents {
  display: block;
}
