/**
 * HEWDIG
 *
 * Card
 */

.hw-card-new {
  position: relative;
  background: var(--hw-color-white);
  transition: transform .3s;
  cursor: pointer;
  display: flex;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
  }

  /**
   * States
   */

  &:hover {
      &::after {
        opacity: 1;
      }
  }
  &:hover .hw-card-new__media-inner {
    transform: scale(1.1);
  }

  /**
   * Elements
   */

  &__contents {
    max-width: 286px;
    padding: 0 var(--hw-spacing);
  }

  &__header {
    padding: var(--hw-spacing) 0;
  }

  &__body {
    padding: var(--hw-spacing) 0 var(--hw-spacing) 0;
  }

  &__media {
    flex-grow: 1;
    overflow: hidden;
  }

  &__media-inner {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 1.4s cubic-bezier(0,0,.1,1);
  }

  /**
   * Variants
   */

  &--half {

  }

  &--dark .hw-card-new__contents {
    color: white;
    background: var(--hw-color-gray-darker);
  }

}
