/**
 * Block
 */

.hw-icon-link {
  padding: calc(var(--hw-spacing-smaller) * 2);
  display: block;
  color: var(--hw-color-gray-darkest);
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  height: 100%;
  background: var(--hw-color-primary-lighter);
  font-size: var(--hw-font-size-technical);

  & .hw-icon {
    display: block;
    margin: 0 auto var(--hw-spacing-small) auto;
    width: calc(var(--hw-spacing-larger) * 2);
    height: var(--hw-spacing-larger);
    color: var(--hw-color-primary-dark);
  } 

  &:hover {
    opacity: 0.8;
  }


  /**
  DEPRECATED
  */
  &--border {
    border: 0px solid var(--hw-color-white);
    transition: border-color 0.3s ease;
  }

  &--border-under {
    border-bottom: 1px solid var(--hw-color-gray-light);
  }
}
