.hw-icon-link {
  padding: var(--hw-spacing);
  display: block;
  color: var(--hw-color-gray-darkest);
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  & .hw-icon {
    margin: 0 auto var(--hw-spacing-smaller);
    width: 74px;
    height: var(--hw-spacing-larger);
    display: block;
    @media (--large) {
      margin-bottom: var(--hw-spacing);
    }
  }

  &--border {
    border: 3px solid var(--hw-color-white);
    transition: border-color 0.3s ease;
  }

  &:hover {
    background-color: rgba(0,0,0,0.04);
    border-color: var(--hw-color-gray-light);
  }
}
