/**
 * Block
 */

.hw-table {
  width: 100%;
  border: 0;
  overflow: scroll;
  table-layout: fixed;
  display: table;

  /**
   * Elements
   */

  & table {
    width: 100%;
  }

  & thead {
    color: var(--hw-color-white);
    text-align: left;
  }

  & th {
    background-color: var(--hw-color-gray);
    padding: var(--hw-spacing-small);
    border: 0;
    position: relative;
    border-right: 2px solid #e6e6e6;
  }

  & th:nth-last-of-type {
    border-right: 0;
  }

  & th[data-hw-sort-arrows] {
    cursor: pointer;
  }

  & th[data-hw-sort-arrows]:hover {
    background-color: var(--hw-color-gray-dark);
  }

  & th[data-hw-sort-arrows]::after {
    content: "";
    position: absolute;
    right: var(--hw-spacing-small);
    top: 50%;
    transform: translateY(-50%);
  }

  & th[data-hw-sort-arrows]:hover::after {
    content: "\2193";
    opacity: 1;
    background-color: var(--hw-color-gray-dark);
  }

  & th[aria-sort="ascending"] {
    background-color: var(--hw-color-gray-dark);
  }

  & th[aria-sort="descending"] {
    background-color: var(--hw-color-gray-dark);
  }

  & th[data-hw-sort-arrows][aria-sort="ascending"]::after {
    opacity: 1;
    content: "\2191";
  }

  & th[data-hw-sort-arrows][aria-sort="descending"]::after {
    opacity: 1;
    content: "\2193";
  }

  & tbody {
    background-color: var(--hw-color-white);
    color: var(--hw-color-black);

    & th {
      background-color: var(--hw-color-white);
      border-color: var(--hw-color-gray-lighter);
      display: block;
    }
  }

  & td {
    padding: var(--hw-spacing-small);
    border-width: 2px;
    border-style: solid;
    background-color: var(--hw-color-white);
    border-color: var(--hw-color-gray-lighter);
    border-top: 0;

    &:hover {
      background-color: var(--hw-color-gray-lightest);
    }
  }

  /**
   * Modifiers
   */

  &--fixed-header {
    position: relative;
    display: block;

    & table {
      table-layout: fixed;
      border-collapse: collapse;
      display: block;
      overflow: auto;
    }

    & th {
      min-width: 300px;
    }

    & th[data-hw-table-fixed-left] {
      position: relative;
      box-shadow: 2px 0 3px rgba(0, 0, 0, 0.25);
      z-index: 99;
    }

    & td {
      min-width: 300px;
    }

    & thead {
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 0;
      z-index: 100;
      display: block;
      vertical-align: middle;
      width: 100%;
    }

    & tbody {
      padding-top: 60px;
      position: relative;
      display: block;
      height: 300px;
      width: 100%;
    }
  }
}
