/**
 * Block
 */

.hw-table {

  font-size: var(--hw-font-size-small);
  color: var(--hw-color-black);
  
  & table {
    border-collapse: collapse;
    border:none;
    width:100%;
    text-align: left;
    table-layout: fixed;
  }
  
  & thead th {
    text-align: left;
    border: none;
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-gray-light-stroke) !important;
    font-family: var(--hw-font-primary-medium);
    font-weight: normal;
    color: var(--hw-color-black);
    padding: var(--hw-spacing-medium-2) var(--hw-spacing-small-4) var(--hw-spacing-small-4) 0 !important;
  }

  & tbody td {
    border: none;
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-gray-light-stroke);
    padding: var(--hw-spacing-medium-2) var(--hw-spacing-small-4) var(--hw-spacing-small-4) 0 !important;
  }

  & tbody tr:hover {
    color: var(--hw-color-primary-darker);

    a {
      color: var(--hw-color-primary-dark);
      text-underline-color: var(--hw-color-primary-dark);
    }
  }

  & th {
    color:var(--hw-color-primary-dark);
    padding: var(--hw-spacing-small-4) 0;
    vertical-align: top;
  }

  & td {
    padding: var(--hw-spacing-small-4) 0;
    font-family: var(--hw-font-primary-regular);
    vertical-align: top;
  } 

  & td a {
    text-decoration-line: underline;
    font-size: var(--hw-font-size-smaller);
    font-family: var(--hw-font-primary-regular);
  }
  & td a:hover {
    color: var(--hw-color-primary-dark);
  }

  & td p {
    font-size: var(--hw-font-size-smaller);
    font-family: var(--hw-font-primary-regular);
  }


  /**
   * Elements
   */

  &__description {
    font-size: var(--hw-font-size-smallest);
    color: var(--hw-color-gray-dark);
    padding: calc(var(--hw-spacing-small-3)*2) 0 calc(var(--hw-spacing-small-3)*2) 2px;
  }


  /**
   * Modifiers
   */

  &--column th, &--column td {
    padding: var(--hw-spacing-small-4) 0 !important;
  }

  &--column table {
    border-collapse: separate;
    border-spacing: var(--hw-spacing-medium-4) 0;
    position: relative;
    right: var(--hw-spacing-medium-4);
    width: calc(100% + (2*var(--hw-spacing-medium-4))) !important;
  }

  &--subtitle {
    font-size: 90%;
    color: var(--hw-color-gray-dark);
  }
}


@media(--max-medium){
  .hw-table{
    overflow-x: scroll;
    
    & table {
      min-width: 720px;
    }
  }
}
