
/**
 * Input
 */

.hw-input {
  font-size: var(--hw-font-size-small);
  padding: var(--hw-spacing-xsmall)  var(--hw-spacing);
  border: 3px solid var(--hw-color-gray-light);
  background-color: var(--hw-color-white);
  display: block;
  width: 100%;
  transition: border 100ms;
  margin: 3px 0;
  position: relative;
  font-family: var(--hw-font-primay-medium);
  color: var(--hw-color-gray-darker);
  position: relative;

  /**
   * States
   */

  &:hover {
    border: 3px solid var(--hw-color-gray);
  }

  &:focus {
    border: 3px solid var(--hw-color-gray-darker);
    outline: 0;
  }

  &::-webkit-input-placeholder { /* Not autprefixed - Chrome/Opera/Safari */
    color: var(--hw-color-gray);
  }

  &:-ms-input-placeholder { /* Not autprefixed - IE 10+ */
    color: var(--hw-color-gray);
  }

  &[disabled] {
    border: 3px solid var(--hw-color-gray-lighter);
  }

  &--error {
    position: relative;
    border: 3px solid var(--hw-color-secondary);
    transition: border 150ms;

    &:before {
      position: absolute;
      content: '!';
      background: var(--hw-color-gray);
      color: var(--hw-color-white);
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 50%;
      bottom: 12px;
      right: 12px;
      text-align: center;
      z-index: 5000;
    }
  }
}

/**
 * Error
 */

.hw-error {
  color: var(--hw-color-black);
  background: var(--hw-color-secondary);
  display: inline-block;
  padding: 3px 12px;
  margin-top: -3px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 200ms;

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-4px);
  }
}

/**
 * Error summary
 */

.hw-error-summary {
  border: 3px solid var(--hw-color-secondary);
  padding: var(--hw-spacing-xsmall);
  background: var(--hw-color-white);
}
