
/**
 * Input
 */

.hw-input {
  font-size: var(--hw-font-size-small);
  padding: var(--hw-spacing-xsmall);
  border: 3px solid var(--hw-color-gray-light);
  background-color: var(--hw-color-white);
  display: block;
  width: 100%;
  transition: border 100ms;
  margin: 3px 0;
  position: relative;
  font-family: var(--hw-font-primay-medium);

  /**
   * States
   */

  &:focus {
    border: 3px solid var(--hw-color-gray-dark);
    outline: 0;
  }

  &[disabled] {
    border: 3px solid var(--hw-color-gray-lighter);
  }

  &--error,
  &--error:focus {
    position: relative;
    border: 3px solid var(--hw-color-secondary);
    transition: border 200ms;

    &:before {
      background: var(--hw-color-gray);
      color: var(--hw-color-white);
      position: absolute;
      content: '!';
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 50%;
      bottom: 12px;
      right: 12px;
      z-index: 1000;
      text-align: center;
      z-index: 5000;
    }
  }
}

/**
 * Error
 */

.hw-error {
  color: var(--hw-color-black);
  background: var(--hw-color-secondary);
  display: inline-block;
  float: right;
  padding: 3px 12px;
  margin-bottom: -3px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 200ms;

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
  }
}

/**
 * Error summary
 */

.hw-error-summary {
  border: 3px solid var(--hw-color-secondary);
  padding: var(--hw-spacing-xsmall);
  background: var(--hw-color-white);
}
