.hw-color-primary-darker {
  color: var(--hw-color-primary-darker);
}
.hw-color-primary-dark {
  color: var(--hw-color-primary-dark);
}
.hw-color-primary {
  color: var(--hw-color-primary);
}
.hw-color-primary-light {
  color: var(--hw-color-primary-light);
}
.hw-color-primary-lighter {
  color: var(--hw-color-primary-lighter);
}

.hw-color-gray-lightest{
  color: var(--hw-color-gray-lightest);
}
.hw-color-gray-lighter{
  color: var(--hw-color-gray-lighter);
}
.hw-color-gray-light{
  color: var(--hw-color-gray-light);
}
.hw-color-gray{
  color: var(--hw-color-gray);
}
.hw-color-gray-dark{
  color: var(--hw-color-gray-dark);
}
.hw-color-gray-darker{
  color: var(--hw-color-gray-darker);
}
.hw-color-gray-darkest{
  color: var(--hw-color-gray-darkest);
}

.hw-color-yellow{
  color: var(--hw-color-yellow);
}
.hw-color-green{
  color: var(--hw-color-green);
}
.hw-color-red{
  color: var(--hw-color-red);
}
.hw-color-white{
  color: var(--hw-color-white);
}
.hw-color-black{
  color: var(--hw-color-black);
}
.hw-color-avocado{
  color: var(--hw-color-avocado);
}
.hw-color-secondary{
  color: var(--hw-color-secondary);
}

/* Background colors */

.hw-background-color-primary-darker {
  background-color:var(--hw-color-primary-darker);
}
.hw-background-color-primary-dark {
  background-color: var(--hw-color-primary-dark);
}
.hw-background-color-primary {
  background-color: var(--hw-color-primary);
}
.hw-background-color-primary-light {
  background-color: var(--hw-color-primary-light);
}
.hw-background-color-primary-lighter {
  background-color: var(--hw-color-primary-lighter);
}
.hw-background-color-gray-lightest{
  background-color: var(--hw-color-gray-lightest);
}
.hw-background-color-gray-lighter{
  background-color: var(--hw-color-gray-lighter);
}
.hw-background-color-gray-light{
  background-color: var(--hw-color-gray-light);
}
.hw-background-color-gray{
  background-color: var(--hw-color-gray);
}
.hw-background-color-gray-dark{
  background-color: var(--hw-color-gray-dark);
}
.hw-background-color-gray-darker{
  background-color: var(--hw-color-gray-darker);
}
.hw-background-color-gray-darkest{
  background-color: var(--hw-color-gray-darkest);
}
.hw-background-color-yellow{
  background-color: var(--hw-color-yellow);
}
.hw-background-color-green{
  background-color: var(--hw-color-green);
}
.hw-background-color-red{
  background-color: var(--hw-color-red);
}
.hw-background-color-white{
  background-color: var(--hw-color-white);
}
.hw-background-color-black{
  background-color: var(--hw-color-black);
}
.hw-background-color-avocado{
  background-color: var(--hw-color-avocado);
}
.hw-background-color-secondary{
  background-color: var(--hw-color-secondary);
}

/* Background colors with opacity*/

.hw-background-color-opaque-primary {
  background-color: var(--hw-color-opaque-primary);
}
.hw-background-color-opaque-black{
  background-color: var(--hw-color-opaque-black);
}





