/**
  * Paragraph styles
  */

  p,
  a,
  button {
    font-size: var(--hw-font-size-p);
    line-height: 1.4;
    padding: 0;
    margin: 0;
  }

  input,
  textarea,
  select,
  button {
    font-family: var(--hw-font-primary-regular);
    font-weight: var(--hw-font-weight-regular);
  }

  a {
    color: var(--hw-color-gray-darker);
    text-decoration: none;
  }

  input {
    color: var(--hw-color-gray-darker);
  }

  input::placeholder {
    color: var(--hw-color-gray-dark);
  }

/**
  * Header styles
  */
  h1,
  h2,
  h3,
  h4,
  h5,
  .hw-h1,
  .hw-h1-large,
  .hw-h2,
  .hw-h3,
  .hw-h4,
  .hw-h5 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4,
  .hw-h1,
  .hw-h1-large,
  .hw-h2,
  .hw-h3,
  .hw-h4 {

  }






  .hw-h1-large {
    font-size: var(--hw-font-size-h1-large);
    font-family: var(--hw-h1-large-font-family);
    line-height: var(--hw-h1-large-line-height);
  }

  @media (--xlarge) {
    .hw-h1-large {
      font-size: var(--hw-font-size-max-h1-large-px);
    }
  }


  h1,
  .hw-h1 {
    font-size: var(--hw-font-size-h1);
    font-family: var(--hw-h1-font-family);
    line-height: var(--hw-h1-line-height);
  }

  @media (--xlarge) {
    h1,
    .hw-h1 {
      font-size: var(--hw-font-size-max-h1-px);
    }
  }


  h2,
  .hw-h2 {
    font-size: var(--hw-font-size-h2);
    font-family: var(--hw-h2-font-family);
    line-height: var(--hw-h2-line-height);
  }

  @media (--xlarge) {
    h2,
    .hw-h2 {
      font-size: var(--hw-font-size-max-h2-px);
    }
  }


  h3,
  .hw-h3 {
    font-size: var(--hw-font-size-h3);
    font-family: var(--hw-h3-font-family);
    line-height: var(--hw-h3-line-height);
  }

  @media (--xlarge) {
    h3,
    .hw-h3 {
      font-size: var(--hw-font-size-max-h3-px);
    }
  }


  h4,
  .hw-h4 {
    font-size: var(--hw-font-size-h4);
    font-family: var(--hw-h4-font-family);
    line-height: var(--hw-h4-line-height);
  }

  @media (--xlarge) {
    h4,
    .hw-h4 {
      font-size: var(--hw-font-size-max-h4-px);
    }
  }


  h5,
  .hw-h5 {
    font-size: var(--hw-font-size-h5);
    font-family: var(--hw-h5-font-family);
    line-height: var(--hw-h5-line-height);
  }

  @media (--xlarge) {
    h5,
    .hw-h5 {
      font-size: var(--hw-font-size-max-h5-px);
    }
  }


  h6,
  .hw-h6 {
    font-size: var(--hw-font-size-h6);
    font-family: var(--hw-h6-line-height-font-family);
    line-height: var(--hw-h6-line-height-line-height);
  }

  @media (--xlarge) {
    h6,
    .hw-h6 {
      font-size: var(--hw-font-size-max-h6-px);
    }
  }

/**
  * Extra text styles
  */

  .hw-text {

    &-lead {
      font-size: var(--hw-font-size-lead);
    }
    &-small {
      font-size: var(--hw-font-size-small);
    }

    &-smaller {
      font-size: var(--hw-font-size-smaller);
    }

    &-less-line-height {
      line-height: 1.2;
    }

    &-uppercase {
      text-transform: uppercase;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }

    &-bold {
      font-family: var(--hw-font-primary-bold);
      font-weight: var(--hw-font-weight-bold);
    }

    &-medium {
      font-family: var(--hw-font-primary-medium);
      font-weight: var(--hw-font-weight-medium);
    }

    &-regular {
      font-family: var(--hw-font-primary-regular);
      font-weight: var(--hw-font-weight-regular);
    }

    &-light {
      font-family: var(--hw-font-primary-light);
      font-weight: var(--hw-font-weight-light);
    }

  }


  .hw-text-dropcap {
    &::first-letter {
      float: left;
      font-size: 310%;
      line-height: 75%;
      margin: 0;
      margin-top: 6px;
      letter-spacing: var(--hw-spacing-smallest);
    }

    &.hw-text-lead::first-letter {
      margin-top: 5px;
    }

    &.hw-text-small::first-letter {
      margin-top: 4px;
    }

    &.hw-text-smaller::first-letter {
      margin-top: 3px;
    }
  }


  /** (``) **/

  .hw-h1-ridiculously-huge {
    @extend .hw-h1-large;
  }
