/**
  * Paragraph styles
  */

p,
a,
button {
  font-size: var(--hw-font-size-p);
  line-height: 1.4;
  padding: 0;
  margin: 0;
  letter-spacing: -0.02em;
}

input,
textarea,
select,
button {
  font-family: var(--hw-font-primary-medium);
}

a {
  color: var(--hw-color-gray-darker);
  text-decoration: none;
}

/**
  * Header styles
  */
h1,
h2,
h3,
h4,
h5,
.hw-h1,
.hw-h2,
.hw-h3,
.hw-h4,
.hw-h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  line-height: 1.1;
}

h1,
.hw-h1 {
  font-size: var(--hw-font-size-h1);
}

@media (--xlarge) {
  h1,
  .hw-h1 {
    font-size: var(--hw-font-size-max-h1)px;
  }
}

h2,
.hw-h2 {
  font-size: var(--hw-font-size-h2);
}

@media (--xlarge) {
  h2,
  .hw-h2 {
    font-size: var(--hw-font-size-max-h2)px;
  }
}

h3,
.hw-h3 {
  font-size: var(--hw-font-size-h3);
}

@media (--xlarge) {
  h3,
  .hw-h3 {
    font-size: var(--hw-font-size-max-h3)px;
  }
}

h4,
.hw-h4 {
  font-size: var(--hw-font-size-h4);
}

@media (--xlarge) {
  h4,
  .hw-h4 {
    font-size: var(--hw-font-size-max-h4)px;
  }
}

h5,
.hw-h5 {
  font-size: var(--hw-font-size-h5);

  &.hw-text-bold {
    font-family: var(--hw-font-primary-bold);
  }
}

@media (--xlarge) {
  h5,
  .hw-h5 {
    font-size: var(--hw-font-size-max-h5)px;
  }
}

/**
  * Extra text styles
  */

.hw-text-lead {
  font-size: var(--hw-font-size-lead);
}

.hw-text-small {
  font-size: var(--hw-font-size-small);
}

.hw-text-smaller {
  font-size: var(--hw-font-size-smaller);
}

.hw-text-small .hw-text-light,
.hw-text-smaller .hw-text-light,
p.hw-text-light {
  font-family: var(--hw-font-primary-regular);
}

.hw-text-less-line-height {
  line-height: 1.2;
}
.hw-text-dropcap {
  &::first-letter {
    float: left;
    font-size: 310%;
    line-height: 75%;
    margin: 0;
    margin-top: 1.7%;
    letter-spacing: var(--hw-spacing-smallest);
  }

  &.hw-text-small::first-letter {
    margin-top: 1.3%;
  }

  &.hw-text-smaller::first-letter {
    margin-top: 1%;
  }
}
