/**
  * Paragraph styles
  */

  p,
  a,
  button {
    font-size: var(--hw-font-size-p);
    line-height: 1.4;
    padding: 0;
    margin: 0;
  }

  input,
  textarea,
  select,
  button {
    font-family: var(--hw-font-primary-regular);
    font-weight: var(--hw-font-weight-regular);
  }

  a {
    color: var(--hw-color-gray-dark);
    text-decoration: none;
  }

  b {
    font-family: var(--hw-font-primary-bold);
  }

  input {
    color: var(--hw-color-gray-dark);
  }

  input::placeholder {
    color: var(--hw-color-gray-dark);
  }

/**
  * Header styles
  */
  h1,
  h2,
  h3,
  h4,
  h5,
  .hw-h1,
  .hw-h1-large,
  .hw-h1-display,
  .hw-h2,
  .hw-h3,
  .hw-h4,
  .hw-h5 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4,
  .hw-h1,
  .hw-h1-large,
  .hw-h1-display,
  .hw-h2,
  .hw-h3,
  .hw-h4 {

  }






  .hw-h1-large,
  .hw-h1-display {
    font-size: var(--hw-font-size-h1-large);
    font-family: var(--hw-h1-large-font-family);
    line-height: var(--hw-h1-large-line-height);
  }

  h1,
  .hw-h1 {
    font-size: var(--hw-font-size-h1);
    font-family: var(--hw-h1-font-family);
    line-height: var(--hw-h1-line-height);
  }


  h2,
  .hw-h2 {
    font-size: var(--hw-font-size-h2);
    font-family: var(--hw-h2-font-family);
    line-height: var(--hw-h2-line-height);
  }

  h3,
  .hw-h3 {
    font-size: var(--hw-font-size-h3);
    font-family: var(--hw-h3-font-family);
    line-height: var(--hw-h3-line-height);
  }

  h4,
  .hw-h4 {
    font-size: var(--hw-font-size-h4);
    font-family: var(--hw-h4-font-family);
    line-height: var(--hw-h4-line-height);
  }

  h5,
  .hw-h5 {
    font-size: var(--hw-font-size-h5);
    font-family: var(--hw-h5-font-family);
    line-height: var(--hw-h5-line-height);
  }

  h6,
  .hw-h6 {
    font-size: var(--hw-font-size-h6);
    font-family: var(--hw-h6-line-height-font-family);
    line-height: var(--hw-h6-line-height-line-height);
  }



/**
  * Extra text styles
  */

  .hw-text {
    &-title {
      font-family: var(--hw-font-primary-medium);
    }
    &-lead {
      font-size: var(--hw-font-size-lead);
    }
    &-small {
      font-size: var(--hw-font-size-small);
    }
    &-smaller {
      font-size: var(--hw-font-size-smaller);
    }

    &-less-line-height {
      line-height: 1.2;
    }

    &-uppercase {
      text-transform: uppercase;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }

    &-bold {
      font-family: var(--hw-font-primary-bold);
    }

    &-medium {
      font-family: var(--hw-font-primary-medium);

    }

    &-regular {
      font-family: var(--hw-font-primary-regular);

    }

    &-light {
      font-family: var(--hw-font-primary-light);
    }

    &-technical {
      font-family: var(--hw-technical-font-family);
      font-size: var(--hw-font-size-technical);
    }

    &-technical-title {
      font-family: var(--hw-font-primary-medium);
      font-size: var(--hw-font-size-technical);
    }

    &-caption-title {
      font-family: var(--hw-font-primary-medium);
      font-size: var(--hw-font-size-caption);
    }

    &-caption {
      font-family: var(--hw-caption-font-family);
      font-size: var(--hw-font-size-caption);
    }

  }



/**
  * Max sizes for responsive typography
  */

@media(--xlarge) {
    .hw-h1-large, .hw-h1-display { font-size: var(--hw-font-size-max-h1-large-px); }
    h1, .hw-h1 { font-size: var(--hw-font-size-max-h1-px); }
    h2, .hw-h2 { font-size: var(--hw-font-size-max-h2-px); }
    h3, .hw-h3 { font-size: var(--hw-font-size-max-h3-px); }
    h4, .hw-h4 { font-size: var(--hw-font-size-max-h4-px); }
    h5, .hw-h5 { font-size: var(--hw-font-size-max-h5-px); }
    h6, .hw-h6 { font-size: var(--hw-font-size-max-h6-px); }
}

:root {
  @media(--xlarge) {
    --hw-font-size-caption: var(--hw-font-size-max-caption-px);
    --hw-font-size-p: var(--hw-font-size-max-p-px);
    --hw-font-size-lead: var(--hw-font-size-max-lead-px);
    --hw-font-size-technical: var(--hw-font-size-max-technical-px);
    --hw-font-size-small: var(--hw-font-size-max-small-px);
    --hw-font-size-smaller: var(--hw-font-size-max-smaller-px);
    --hw-font-size-smallest: var(--hw-font-size-max-smallest-px);
  }
}



  /** (``) **/

  .hw-h1-ridiculously-huge {
    @extend .hw-h1-large;
  }
