/**
 * Variables - Bring
 */

:root {

  /**
   * Colors
   */

  --hw-color-primary: #7bc144;
  --hw-color-primary-dark: #4CA200;
  --hw-color-primary-darker: #233813;
  --hw-color-primary-light: #b7dd98;
  --hw-color-primary-lighter: #d8ecc9;

  --hw-color-secondary: #fdbb2f;
  --hw-color-link: #4a90e2;

  --hw-color-gray-darker: #222222;
  --hw-color-gray-dark: #444444;
  --hw-color-gray: #666666;
  --hw-color-gray-light: #918f8f;
  --hw-color-gray-lighter: #f2f2f2;

  --hw-color-white: #ffffff;
  --hw-color-black: #000000;

  /**
   * Fonts
   */

  --hw-font-primay-regular: 'Foundry Monoline Regular';
  --hw-font-primay-medium: 'Foundry Monoline Medium';
  --hw-font-primay-bold: 'Foundry Monoline Bold';

  /**
   * Spacing
   * NOTE: This is in PX because we watn them to specific.
   */

  --hw-spacing-xxsmall: 6px;
  --hw-spacing-xsmall: 12px;
  --hw-spacing-small: 18px;
  --hw-spacing: 24px;
  --hw-spacing-large: 36px;
  --hw-spacing-xlarge: 48px;


  /**
   * Site width limitations
   */

  --hw-container-limit-site: 1065px;
  --hw-container-limit-narrow: 600px;
  --hw-container-limit-wide: 1200px;
  --hw-container-limit-text: 690px;

  /**
   * Font sizes
   * NOTE: This is in PX because we watn them to specific.
   */

  --hw-font-size-h1-mobile: 35px;

  --hw-font-size-h1: 44px;
  --hw-font-size-h2: 28px;
  --hw-font-size-h3: 22px;
  --hw-font-size-lead: 22px;
  --hw-font-size-p: 18px;
  --hw-font-size-small: 15px;

  /**
   * Breakpoints
   * em = 16px
   */

  @custom-media --small (min-width: 460px);
  @custom-media --medium (min-width: 720px);
  @custom-media --large (min-width: 940px);
  @custom-media --xlarge (min-width: 1200px);

  /* Used for min max settings */

  @custom-media --only-base (min-width: 0em) and (max-width: 460px);
  @custom-media --only-small (min-width: 460px) and (max-width: 720px);
  @custom-media --only-medium (min-width: 720px) and (max-width: 940px);
  @custom-media --only-large (min-width: 940px) and (max-width: 1200px);
  @custom-media --only-xlarge (min-width: 1200px);

}
