// .babelrc
{
  "presets": [
    ["@babel/preset-env", { "modules": "auto", "useBuiltIns": "entry", "corejs": 3 }]
  ],
  "plugins": ["@babel/plugin-transform-spread", "@babel/plugin-transform-arrow-functions", [
    "@babel/plugin-transform-runtime",
    {
      "absoluteRuntime": false,
      "corejs": 3,
      "helpers": true,
      "regenerator": true,
      "useESModules": false
    }
  ]]
}
