/**
 * Media queries, should be outside the :root
 */

 @custom-media --small (min-width: 460px);
 @custom-media --medium (min-width: 720px);
 @custom-media --large (min-width: 940px);
 @custom-media --xlarge (min-width: 1200px);

 /* Used for min max settings */

 @custom-media --only-base (min-width: 0em) and (max-width: 459px);
 @custom-media --only-small (min-width: 460px) and (max-width: 719px);
 @custom-media --only-medium (min-width: 720px) and (max-width: 939px);
 @custom-media --only-large (min-width: 940px) and (max-width: 1199px);
 @custom-media --only-xlarge (min-width: 1200px);

 /* Max values */
 @custom-media --max-medium (max-width: 939px);
 @custom-media --max-large (max-width: 1199px);

 /* For high resolution mobiles */
 @custom-media --high-res-mobile (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 939px) ;

  /* For print and/or screen */
  @custom-media --print print;
  @custom-media --screen screen;

 /**
 * Variables - Shared
 */

:root {
  /**
   * Spacing
   * NOTE: This is in PX because we want them to specific.
   */

  --hw-spacing-tiny: 3px;
  --hw-spacing-smallest: 6px;
  --hw-spacing-smaller: 12px;
  --hw-spacing-small: 18px;
  --hw-spacing: 24px;
  --hw-spacing-large: 36px;
  --hw-spacing-larger: 48px;
  --hw-spacing-even-larger: 72px;

  /**
   * Shared colors
   */

  --hw-color-gray-lightest: #f2f2f2;
  --hw-color-gray-lighter: #e6e6e6;
  --hw-color-gray-light: #d6d6d6;
  --hw-color-gray: #888;
  --hw-color-gray-dark: #666;
  --hw-color-gray-darker: #444;
  --hw-color-gray-darkest: #222;
  --hw-color-yellow: #fdbb2f;
  --hw-color-yellow-darker: #f5a623;
  --hw-color-green: #26b576;
  --hw-color-red: #e32d22;
  --hw-color-white: #fff;
  --hw-color-black: #000;
  --hw-color-avocado: #26b576;
  --hw-color-secondary: #fdbb2f;

  /**
  * Colors with opacity
  */

  --hw-color-opaque-black-20: rgba(0,0,0, 0.20); /* #000000 */
  --hw-color-opaque-black-10: rgba(0,0,0, 0.10);
  --hw-color-opaque-black-7: rgba(0,0,0, 0.07);
  --hw-color-opaque-white: rgba(255, 255, 255, 0.50);


  /**
   * Width limitations
   */

  --hw-width-slim: 590px;
  --hw-width-default: 690px; /* Max default width (articles) */
  --hw-width-wide: 1200px; /* Default site width, used in footer etc */
  --hw-width-narrow: 300px; /* Narrow column for centered contents */

  /**
   * Fonts
   */

  --hw-font-primary-regular: 'Posten Sans Regular', sans-serif;
  --hw-font-primary-medium: 'Posten Sans Medium', sans-serif;
  --hw-font-primary-bold: 'Posten Sans Bold', sans-serif;

  /**
   * Font sizes
   * NOTE: To achieve fluid font sizes on h-tags we used the calculation described here:
   * https://css-tricks.com/snippets/css/fluid-typography/
   */
  --hw-font-size-max-view-port: 1200;
  --hw-font-size-min-view-port: 300;
  --hw-font-size-min-view-port-px: 300px;
  --hw-font-size-max-h1-large: 54;
  --hw-font-size-max-h1-large-px: 54px;
  --hw-font-size-min-h1-large: 32;
  --hw-font-size-min-h1-large-px: 32px;
  --hw-font-size-max-h1: 44;
  --hw-font-size-max-h1-px: 44px;
  --hw-font-size-min-h1: 28;
  --hw-font-size-min-h1-px: 28px;
  --hw-font-size-max-h2: 35;
  --hw-font-size-max-h2-px: 35px;
  --hw-font-size-min-h2: 25;
  --hw-font-size-min-h2-px: 25px;
  --hw-font-size-max-h3: 28;
  --hw-font-size-max-h3-px: 28px;
  --hw-font-size-min-h3: 22;
  --hw-font-size-min-h3-px: 22px;
  --hw-font-size-max-h4: 22;
  --hw-font-size-max-h4-px: 22px;
  --hw-font-size-min-h4: 20;
  --hw-font-size-min-h4-px: 20px;
  --hw-font-size-max-h5: 18;
  --hw-font-size-max-h5-px: 18px;
  --hw-font-size-min-h5: 18;
  --hw-font-size-min-h5-px: 18px;
  --hw-font-size-max-h6: 16;
  --hw-font-size-max-h6-px: 16px;
  --hw-font-size-min-h6: 16;
  --hw-font-size-min-h6-px: 16px;
  --hw-font-size-h1-large: calc(var(--hw-font-size-min-h1-px) + (var(--hw-font-size-max-h1-large) - var(--hw-font-size-min-h1-large)) * ((100vw - var(--hw-font-size-min-view-port-px)) / (var(--hw-font-size-max-view-port) - var(--hw-font-size-min-view-port))));
  --hw-font-size-h1: calc(var(--hw-font-size-min-h1-px) + (var(--hw-font-size-max-h1) - var(--hw-font-size-min-h1)) * ((100vw - var(--hw-font-size-min-view-port-px)) / (var(--hw-font-size-max-view-port) - var(--hw-font-size-min-view-port))));
  --hw-font-size-h2: calc(var(--hw-font-size-min-h2-px) + (var(--hw-font-size-max-h2) - var(--hw-font-size-min-h2)) * ((100vw - var(--hw-font-size-min-view-port-px)) / (var(--hw-font-size-max-view-port) - var(--hw-font-size-min-view-port))));
  --hw-font-size-h3: calc(var(--hw-font-size-min-h3-px) + (var(--hw-font-size-max-h3) - var(--hw-font-size-min-h3)) * ((100vw - var(--hw-font-size-min-view-port-px)) / (var(--hw-font-size-max-view-port) - var(--hw-font-size-min-view-port))));
  --hw-font-size-h4: calc(var(--hw-font-size-min-h4-px) + (var(--hw-font-size-max-h4) - var(--hw-font-size-min-h4)) * ((100vw - var(--hw-font-size-min-view-port-px)) / (var(--hw-font-size-max-view-port) - var(--hw-font-size-min-view-port))));
  --hw-font-size-h5: calc(var(--hw-font-size-min-h5-px) + (var(--hw-font-size-max-h5) - var(--hw-font-size-min-h5)) * ((100vw - var(--hw-font-size-min-view-port-px)) / (var(--hw-font-size-max-view-port) - var(--hw-font-size-min-view-port))));
  --hw-font-size-h6: calc(var(--hw-font-size-min-h6-px) + (var(--hw-font-size-max-h6) - var(--hw-font-size-min-h6)) * ((100vw - var(--hw-font-size-min-view-port-px)) / (var(--hw-font-size-max-view-port) - var(--hw-font-size-min-view-port))));
  --hw-font-size-lead: 22px;
  --hw-font-size-p: 18px;
  --hw-font-size-small: 16px;
  --hw-font-size-smaller: 14px;
  --hw-font-size-smallest: 12px;

  /**
   * Breakpoints
   * em = 16px
   */

  /* Navbar heights */
  --hw-navbar-height-mobile: 54px;
  --hw-navbar-height-desktop: 72px;

  /**
   * Global z-index values
   */

  --z-index--stickynav: 100;
  --z-index--navbar: 100;
  --z-index--navbar-drawer: 200;
  --z-index--navbar-drawer-foreground: 300;
  --z-index--navbar-search: 300;
  --z-index--navbar-search-foreground: 400;
  --z-index--hero-search: 100;
  --z-index--modal: 400;
  --z-index--modal-foreground: 500;
}
