/**
 * Block
 */

.hw-radio-button {
  display: inline-block;
  margin: 0.2rem 1rem 0 0;
  cursor: pointer;
  position: relative;
  line-height: 1.5;

  /**
   * Elements
   */

  &__indicator {
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-right: 0.4rem;
    border: 3px solid var(--hw-color-gray-light);
    border-radius: 50%;
    background: var(--hw-color-white);
    width: 22px;
    height: 22px;
    transition: border-color 0.3s ease, max-height 0.3s ease, transform 0.3s ease;
  }

  & > input {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    vertical-align: middle;

    &:hover ~ .hw-radio-button__indicator {
      border-color: var(--hw-color-gray-darker);
    }

    &:checked ~ .hw-radio-button__indicator {
      border-color: var(--hw-color-gray-darker);

      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: var(--hw-spacing-smallest);
        left: var(--hw-spacing-smallest);
        background: var(--hw-color-gray-darker);
      }
    }

    &:focus ~ .hw-radio-button__indicator {
      border-color: var(--hw-color-gray-darker);

      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: var(--hw-spacing-smallest);
        left: var(--hw-spacing-smallest);
        background: var(--hw-color-gray-darker);
      }
    }
  }
}
