/**
 * Block
 */

.hw-icon {
  /*display: inline-block;*/
  /*width: var(--hw-spacing);
  height: var(--hw-spacing);*/
  /*fill: inherit;*/
  /*font-size: 24px;*/

  /**
   * Modifiers
   */

  &--smaller {
    width: var(--hw-spacing-smaller);
    height: var(--hw-spacing-smaller);
  }

  &--small {
    width: var(--hw-spacing-small);
    height: var(--hw-spacing-small);
  }

  &--large {
    width: var(--hw-spacing-large);
    height: var(--hw-spacing-large);
    /*font-size: 36px;*/
  }

  &--primary {
    fill: var(--hw-color-primary);
  }

  &--green {
    fill: var(--hw-color-green);
  }

  &--red {
    fill: var(--hw-color-red);
  }

  &--gray-lighter {
    fill: var(--hw-color-gray-lighter);
  }

  &--gray-darker {
    fill: var(--hw-color-gray-darker);
  }
}
