/**
 * Block
 */

.hw-icon {
  display: inline-block;
  width: var(--hw-spacing);
  height: var(--hw-spacing);
  fill: inherit;

  /**
   * Modifiers
   */

  &--small {
    width: var(--hw-spacing-small);
    height: var(--hw-spacing-small);
  }

  &--large {
    width: var(--hw-spacing-large);
    height: var(--hw-spacing-large);
  }

  &--primary {
    fill: var(--hw-color-primary);
  }

  &--success {
    fill: var(--hw-color-success);
  }

  &--gray-lighter {
    fill: var(--hw-color-gray-lighter);
  }
}
