/**
 * Block
 */

.hw-block {
  display: block;
  padding: 0 var(--hw-spacing);

  /**
   * padding and padding variations
   */

  &--full {
    padding: 0;
  }

  &--half {
    padding: 0 var(--hw-spacing-small);
  }

  &--double {
    padding: 0 var(--hw-spacing-large);
  }

  &--margin-top {
    margin-top: var(--hw-spacing);
  }

  &--margin-bottom {
    margin-bottom: var(--hw-spacing);
  }

  &--margin-top-half {
    margin-top: var(--hw-spacing-small);
  }

  &--margin-bottom-half {
    margin-bottom: var(--hw-spacing-small);
  }

  &--margin-top-double {
    margin-top: var(--hw-spacing-large);
  }

  &--margin-bottom-double {
    margin-bottom: var(--hw-spacing-large);
  }

  &--padding-top {
    padding-top: var(--hw-spacing);
  }

  &--padding-bottom {
    padding-bottom: var(--hw-spacing);
  }

  &--padding-top-half {
    padding-top: var(--hw-spacing-small);
  }

  &--padding-bottom-half {
    padding-bottom: var(--hw-spacing-small);
  }

  &--padding-top-double {
    padding-top: var(--hw-spacing-large);
  }

  &--padding-bottom-double {
    padding-bottom: var(--hw-spacing-large);
  }

  /**
   * Width limitations
   */

  &--limited {
    max-width: var(--hw-container-limit-site);
    margin: 0 auto;
  }

  &--limited-narrow {
    max-width: var(--hw-container-limit-narrow);
    margin: 0 auto;
  }

  &--limited-wide {
    max-width: var(--hw-container-limit-wide);
    margin: 0 auto;
  }

  &--limited-text {
    max-width: var(--hw-container-limit-text);
    margin: 0 auto;
  }

  /**
   * Background colors
   */

  &--col-primary {
    background-color: var(--hw-color-primary);
  }

  &--col-gray {
    background-color: var(--hw-color-gray);
  }

  &--col-gray-light {
    background-color: var(--hw-color-gray-light);
  }
}
