/**
 * Block
 */

.hw-block {
  display: block;
  margin: 0 var(--hw-spacing);

  /**
   * Variants
   */

  &--full {
    margin: 0;
  }

  &--half {
    margin: 0 var(--hw-spacing-small);
  }

  &--double {
    margin: 0 var(--hw-spacing-large);
  }

  &--margin-top {
    margin-top: var(--hw-spacing);
  }

  &--margin-bottom {
    margin-bottom: var(--hw-spacing);
  }

  &--margin-top-half {
    margin-top: var(--hw-spacing-small);
  }

  &--margin-bottom-half {
    margin-bottom: var(--hw-spacing-small);
  }

  &--margin-top-double {
    margin-top: var(--hw-spacing-large);
  }

  &--margin-bottom-double {
    margin-bottom: var(--hw-spacing-large);
  }
  &--padding-top {
    padding-top: var(--hw-spacing);
  }

  &--padding-bottom {
    padding-bottom: var(--hw-spacing);
  }

  &--padding-top-half {
    padding-top: var(--hw-spacing-small);
  }

  &--padding-bottom-half {
    padding-bottom: var(--hw-spacing-small);
  }

  &--padding-top-double {
    padding-top: var(--hw-spacing-large);
  }

  &--padding-bottom-double {
    padding-bottom: var(--hw-spacing-large);
  }
}
