/** 
 * Variables - Bring 
 */

:root {
  /**
   * Colors
   */

  --hw-color-primary: #7BC144;
  --hw-color-primary-dark: #00643A;
  --hw-color-primary-darker: #002F19;
  --hw-color-primary-light: #C8DC8C;
  --hw-color-primary-lighter: #F1F7E9;

  /**
  * Opaque colors
  */
  --hw-color-opaque-primary: rgba(123,193,68, 0.95); /* #7bc144 */

  /**
    * Link Colors
    */

  --hw-color-link: var(--hw-color-black);
  --hw-color-link-underline: var(--hw-color-primary);
  --hw-color-link-hover: var(--hw-color-primary-dark);
  --hw-color-link-underline-hover: var(--hw-color-primary-dark);

  /**
    * Component colors
    */
  --hw-color-input-accent: var(--hw-color-primary-dark);
  --hw-color-checkbox-accent: var(--hw-color-primary-dark);

  /**
    * Button Colors
    */
  --hw-color-button-primary-hover: #86CC4A;

  /**
   * Color mappings
   */

  --hw-color-button-text: var(--hw-color-black);

  /**
   * Logo width adjusted for Bring logo
   */
  --hw-logo-width: 128px;

  /**
   * Font families
   */
  --hw-h1-large-font-family: var(--hw-font-primary-light);
  --hw-h1-font-family: var(--hw-font-primary-light);
  --hw-h2-font-family: var(--hw-font-primary-light);
  --hw-h3-font-family: var(--hw-font-primary-regular);
  --hw-h4-font-family: var(--hw-font-primary-regular);
  --hw-h5-font-family: var(--hw-font-primary-regular);
  --hw-h6-font-family: var(--hw-font-primary-regular);
  --hw-caption-font-family: var(--hw-font-primary-regular);
  --hw-card-title-font-family: var(--hw-font-primary-light);
}
