/**
 * Variables - Bring
 */

:root {
  /**
   * Colors
   */

  --hw-color-primary: #7bc144;
  --hw-color-primary-dark: #00643a;
  --hw-color-primary-darker: #002F19;
  --hw-color-primary-light: #C8DC8C;
  --hw-color-primary-lighter: #F1F7E9;

  /**
  * Opaque colors
  */
  --hw-color-opaque-primary: rgba(123,193,68, 0.95); /* #7bc144 */

  /**
    * Link Colors
    */

  --hw-color-link-underline: rgb(123, 193, 68, 0.50);
  --hw-color-link: #00643a;
  --hw-color-link-hover: #000;
  --hw-color-link-underline-hover: #000;

  /**
   * Color mappings
   */

  --hw-color-button-text: var(--hw-color-black);

  /**
   * Logo width adjusted for Bring logo
   */
  --hw-logo-width: 128px;
}
