/**
 * Variables - Bring
 */

:root {

  /**
   * Colors
   */

  --hw-color-primary: #7bc144;
  --hw-color-primary-dark: #4CA200;
  --hw-color-primary-darker: #233813;
  --hw-color-primary-light: #b7dd98;
  --hw-color-primary-lighter: #d8ecc9;

  --hw-color-secondary: #fdbb2f;
  --hw-color-link: #4a90e2;
  --hw-color-avocado: #26b576;
}
