/**
 * HEWDIG
 *
 * Buttons
 */

.hw-button {
  background: var(--hw-color-gray);
  color: var(--hw-color-white);
  font-size: var(--hw-font-size-small);
  padding: var(--hw-spacing-xsmall) var(--hw-spacing-small);
  font-family: var(--hw-font-primay-medium);
  display: inline-block;
  border: none;
  transition: outline cubic-bezier(.08,.84,.07,.96) 120ms, background 75ms;
  cursor: pointer;

  /**
   * States
   */

  &:hover {
    //background: var(--hw-color-gray-dark);
    outline: 3px solid var(--hw-color-gray-dark);
  }

  /*
    wait
    &:focus {
      outline: 6px solid var(--hw-color-secondary);
    }
   */

  &:active,
  &:focus {
    outline: 3px solid var(--hw-color-gray-dark);
  }

  &:focus:hover {
    background: var(--hw-color-gray-dark);
  }

  &:disabled {
    color: var(--hw-color-white);
    background: var(--hw-color-gray-light);
    cursor: none;
  }

  /**
   * Sizes
   */

  &--large {
    font-size: var(--hw-font-size-p);
    padding: var(--hw-spacing-small) var(--hw-spacing-large);
  }

  &--small {
    padding: var(--hw-spacing-xxsmall) var(--hw-spacing-xsmall);
  }

  /**
   * Variants
   */

  &--primary {
    background: var(--hw-color-primary);
    color: var(--hw-color-white);

    &:hover {
      outline: 3px solid var(--hw-color-primary-dark);
    }

    &:active,
    &:focus {
      outline: 3px solid var(--hw-color-primary-dark);
      background: var(--hw-color-primary-dark);
    }

    &:focus:hover {
      background: var(--hw-color-primary-dark);
    }
  }

  &--outline {
    background: none;
    color: var(--hw-color-gray);
    border: 3px solid var(--hw-color-gray);

    &:disabled {
      outline: 0;
    }

    &:hover {
      background: none;
      outline: 3px solid var(--hw-color-gray);
    }

    &:active,
    &:focus {
      outline: 3px solid var(--hw-color-gray);
      background: var(--hw-color-gray);
      color: var(--hw-color-white);
    }

    &:focus:hover {
      background: var(--hw-color-gray);
      color: var(--hw-color-white);
    }
  }

  &--outline-white {
    background: none;
    color: var(--hw-color-white);
    border: 3px solid var(--hw-color-white);

    &:disabled {
      outline: 0;
    }

    &:hover {
      outline: 3px solid var(--hw-color-white);
    }

    &:focus,
    &:active {
      color: var(--hw-color-gray-dark);
      background: var(--hw-color-white);
      outline: 3px solid var(--hw-color-white);
    }

    &:focus:hover {
      color: var(--hw-color-gray-dark);
      background: var(--hw-color-white);
    }
  }
}
