/**
 * HEWDIG
 *
 * Buttons
 */

.hw-button {
  background: var(--hw-color-gray);
  color: var(--hw-color-white);
  font-size: var(--hw-font-size-small);
  padding: var(--hw-spacing-xsmall) var(--hw-spacing-small);
  display: inline-block;
  border: none;
  transition: background 100ms, outline 50ms;
  cursor: pointer;

  /**
   * States
   */

  &:hover {
    background: var(--hw-color-gray-dark);
  }

  &:focus {
    outline: 6px solid var(--hw-color-secondary);
  }

  &:active {
    outline: 3px solid var(--hw-color-gray-darker);
  }

  &:disabled {
    color: var(--hw-color-white);
    background: var(--hw-color-gray-light);
    cursor: none;
  }

  /**
   * Sizes
   */

  &--large {
    font-size: var(--hw-font-size-p);
    padding: var(--hw-spacing-small) var(--hw-spacing-large);
  }

  &--small {
    padding: var(--hw-spacing-xxsmall) var(--hw-spacing-xsmall);
  }

  /**
   * Variants
   */

  &--primary {
    background: var(--hw-color-primary);
    color: var(--hw-color-white);

    &:hover {
      background: var(--hw-color-primary-dark);
    }

    &:active:hover {
      background: var(--hw-color-primary);
    }

    &:active {
      outline: 3px solid var(--hw-color-primary-dark);
    }
  }

  &--outline {
    background: none;
    color: var(--hw-color-gray);
    border: 3px solid var(--hw-color-gray);

    &:disabled {
      border: 0;
    }

    &:hover {
      background: var(--hw-color-gray);
      color: var(--hw-color-white);
    }
  }

  &--outline-white {
    background: none;
    color: var(--hw-color-white);
    border: 3px solid var(--hw-color-white);

    &:disabled {
      border: 0;
    }

    &:hover {
      color: var(--hw-color-gray-dark);
      background: var(--hw-color-white);
    }
  }
}
