/**
 * Block
 */

.hw-list {
  list-style: none;
  margin: 0;
  margin-bottom: var(--hw-spacing);
  padding-left: 24px;

  & li {
    margin-bottom: 3px;
    position: relative;
  }

  & li::before {
    content: "";
    position: absolute;
    background: var(--hw-color-black);
    width: 7px;
    height: 7px;
    margin-left: -22px;
    border-radius: 50%;
    top: var(--hw-spacing-smallest);
  }

  /**
   * Modifers
   */

  &--large {
    font-size: var(--hw-font-size-lead);

    & li {
      margin-bottom: 0;

      &::before {
        width: 7px;
        height: 7px;
        margin-left: -24px;
      }
    }
  }

  &--numbered {
    list-style: decimal;

    & li::before {
      display: none;
    }
  }

  &--small {
    font-size: var(--hw-font-size-smaller);
    line-height: 1.8;

    & li {
      margin-bottom: 0;

      &::before {
          width: 7px;
          height: 7px;
          margin-left: -20px;
          margin-top: 3px;
        }
    }
  }

  &--no-bullets {
    list-style: none;
    padding-left: 0;

    & li::before {
      display: none;
    }
  }

  &--light {
    font-family: var(--hw-font-primary-regular);
  }

  &--no-padding {
    margin-bottom: 0;
  }
}
