/**
 * Block
 */

.hw-list {
  list-style: none;
  margin: 0;
  margin-bottom: var(--hw-spacing);
  padding-left: 20px;

  & li {
    margin-bottom: 3px;
    position: relative;
  }

  & li::before {
    content: "";
    position: absolute;
    background: var(--hw-color-gray-light);
    width: 10px;
    height: 10px;
    margin-left: -20px;
    border-radius: 50%;
    top: var(--hw-spacing-smallest);
  }

  /**
   * Modifers
   */

  &--numbered {
    list-style: decimal;

    & li::before {
      display: none;
    }
  }

  &--small {
    font-size: var(--hw-font-size-small);

    & li {
      margin-bottom: 0;
    }
  }

  &--no-bullets {
    list-style: none;
    padding-left: 0;

    & li::before {
      display: none;
    }
  }

  &--light {
    font-family: var(--hw-font-primary-regular);
  }

  &--no-padding {
    margin-bottom: 0;
  }
}
