/**
 * Block
 */

.hw-list {
  list-style: none;
  margin: 0;
  padding-left: 24px;
  font-size: var(--hw-font-size-p);

  & li {
    margin-bottom: 7px;
    position: relative;
  }

  & li::before {
    content: "";
    position: absolute;
    background: var(--hw-color-primary-dark);
    width: 6px;
    height: 6px;
    margin-left: -22px;
    border-radius: 50%;
    top: 11px;
  }

  /**
   * Modifers
   */

  &--large {
    font-size: var(--hw-font-size-lead);

    & li {
      margin-bottom: 9px;

      &::before {
        width: 8px;
        height: 8px;
        margin-left: -24px;
        top: 10px;
      }
    }
  }

  &--numbered {
    

    counter-reset: li;
    list-style-type: none;
    position: relative;
    & li::before {
      display: none;
    }
    
    & li::after {
        counter-increment: li;
        content: counter(li) ".";
        position: absolute;
        left: -2.3em;
        width: 2em;
        text-align: right;
        color: var(--hw-color-primary-dark);
    }
  }

  &--small {
    font-size: var(--hw-font-size-smaller);
    line-height: 1.8;
    padding-left: 20px;

    & li {
      margin-bottom: 0;

      &::before {
          width: 5px;
          height: 5px;
          margin-left: -18px;
          margin-top: 3px;
          top: 9px;
        }
    }
  }

  &--no-bullets {
    list-style: none;
    padding-left: 0;

    & li::before {
      display: none;
    }
  }

  &--light {
    font-family: var(--hw-font-primary-regular);
  }

  &--no-padding {
    margin-bottom: 0;
  }
}
