/**
 * Block: Input
 */

.hw-input-basic {
  color: var(--hw-color-gray-dark);
  position: relative;
  display: block;
  width: 100%;
  height: var(--hw-input-field-height);
  /*margin-top: var(--hw-spacing-tiny);*/
  padding: var(--hw-spacing-small);
  background-color: var(--hw-color-gray-lightest);
  font-size: var(--hw-font-size-small);
  line-height: normal;
  border: var(--hw-border-thickness) solid transparent;
  border-radius: var(--hw-border-radius);
  transition: border var(--hw-transition-time-quick);
  -webkit-appearance: none;
  transition: border var(--hw-transition-time-normal) var(--hw-transition-easing-normal);
}

.hw-input {
  @extend .hw-input-basic;

  &::placeholder,
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder{
    color: var(--hw-color-gray-dark);
  }

  color: var(--hw-color-black);

  &:hover {
    color: var(--hw-color-black);
    /*border-bottom: var(--hw-border-thickness) solid var(--hw-color-input-accent);*/
  }

  &:focus {
    color: var(--hw-color-black);
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-input-accent);
    outline: 0;
  }

  &[disabled], &:disabled, &[disabled="disabled"] {
    background-color: var(--hw-color-gray-light);
    border: var(--hw-border-thickness) solid var(--hw-color-gray-light);
  }

  /**
   * Modifers
   */

  &--error {
    position: relative;
    border-bottom: var(--hw-border-thickness-thick) solid var(--hw-color-secondary) !important;
    margin-bottom: calc(var(--hw-border-thickness) - var(--hw-border-thickness-thick)); /* Subtract difference in border height to avoid jumping */
    transition: border var(--hw-transition-time-normal) var(--hw-transition-easing-normal);
  }


  &--line-basic {
    background: transparent;
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-gray-light);
    padding-left: 0px;
    padding-top: var(--hw-spacing-tiny);
    padding-bottom: var(--hw-spacing-smaller);
    height: calc(var(--hw-input-field-height) - var(--hw-spacing-small)  - var(--hw-spacing-small) + var(--hw-spacing-tiny) +  var(--hw-spacing-smaller));
    border-radius: 0px;
  }
  &--line {
    @extend .hw-input--line-basic;

    &:focus {
      border-bottom: var(--hw-border-thickness) solid var(--hw-color-input-accent);
    }

    &[disabled], &:disabled, &[disabled="disabled"] {
      background: transparent;
      padding: var(--hw-spacing-small);
    }
  }
}
