
/**
 * Input
 */

.hw-input {
  position: relative;
  font-size: var(--hw-font-size-small);
  line-height: var(--hw-font-size-p);
  padding: var(--hw-spacing-smaller) var(--hw-spacing-small);
  border: 3px solid var(--hw-color-gray-light);
  background-color: var(--hw-color-white);
  display: block;
  width: 100%;
  transition: border 100ms;
  margin: 3px 0;
  font-family: var(--hw-font-primary-medium);
  color: var(--hw-color-gray-darker);

  &::placeholder {
    color: var(--hw-color-gray);
  }

  /**
   * States
   */

  &:hover {
    border: 3px solid var(--hw-color-gray);
  }

  &:focus {
    border: 3px solid var(--hw-color-gray-darker);
    outline: 0;
  }

  &::-webkit-input-placeholder { /* Not autprefixed - Chrome/Opera/Safari */
    color: var(--hw-color-gray);
  }

  &:-ms-input-placeholder { /* Not autprefixed - IE 10+ */
    color: var(--hw-color-gray);
  }

  &[disabled] {
    border: 3px solid var(--hw-color-gray-lighter);
  }

  &--error {
    position: relative;
    border: 3px solid var(--hw-color-secondary) !important;
    transition: border 150ms;
  }
}

/**
 * Error
 */

.hw-error {
  display: block;
  color: var(--hw-color-gray-darkest);
  padding: var(--hw-spacing-smallest) 0;
  text-align: right;
  transform: translateY(0);
  transition: transform 200ms;
  opacity: 1;

  &::before {
    content: url('https://bring-hedwig.s3.amazonaws.com/hedwig/assets/images/exclamation-mark-circle.svg');
    position: absolute;
    top: -40px;
    right: var(--hw-spacing-small);
    width: 25px;
    height: 25px;
    font-family: var(--hw-font-primary-bold);
    font-size: 17px;
    background: var(--hw-color-gray-darker);
    color: var(--hw-color-white);
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
  }

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-4px);
  }
}

/**
 * Error summary
 */

.hw-error-summary {
  border: 3px solid var(--hw-color-secondary);
  padding: var(--hw-spacing);
  background: var(--hw-color-white);

  &__title {
    position: relative;
    padding-left: var(--hw-spacing-large);
    font-family: var(--hw-font-primary-medium);
    color: var(--hw-color-gray-dark);

    &::before {
      content: url('https://bring-hedwig.s3.amazonaws.com/hedwig/assets/images/exclamation-mark-circle.svg');
      position: absolute;
      left: 0;
      width: 25px;
      height: 25px;
    }
  }
}
