/**
 * Block: Input
 */

.hw-input-basic {
  color: var(--hw-color-gray-dark);
  position: relative;
  display: block;
  width: 100%;
  /*height: var(--hw-spacing-larger);*/
  margin-top: 3px;
  padding: var(--hw-spacing-small);
  background-color: var(--hw-color-gray-lightest);
  font-size: var(--hw-font-size-small);
  line-height: normal;
  border: var(--hw-border-thickness) solid var(--hw-color-gray-lightest);
  border-radius: var(--hw-border-radius);
  transition: border 100ms;
  -webkit-appearance: none;
}

.hw-input {
  @extend .hw-input-basic;

  &::placeholder,
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder{
    color: var(--hw-color-gray-dark);
  }


  color: var(--hw-color-black);

  &:hover {
    color: var(--hw-color-black);
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-primary-dark);
  }

  &:focus {
    color: var(--hw-color-black);
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-primary-dark);
    outline: 0;
  }

  &[disabled] {
    border: var(--hw-border-thickness) solid var(--hw-color-gray-light);
    background-color: var(--hw-color-gray-light);
  }

  /**
   * Modifers
   */

  &--error {
    position: relative;
    border-bottom: var(--hw-border-thickness-thick) solid var(--hw-color-secondary) !important;
    margin-bottom: calc(-(var(--hw-border-thickness-thick)-var(--hw-border-thickness))); /* Subtract difference in border height to avoid jumping */
    transition: border 150ms;
  }
}
