/**
 * Hedwig: Hr
 */

.hw-hr {
  display: block;
  width: 100%;
  max-width: 48px;
  height: 2px;
  border: 0;
  margin: 0;
  background: var(--hw-color-gray-dark);

  &--full {
    max-width: initial;
  }

  &--white {
    background: var(--hw-color-white);
  }
}
