/**
 * Block
 */

.hw-card-magasinet {
  margin-bottom: var(--hw-spacing-large);
  border: 3px solid var(--hw-color-gray-light);
    background: var(--hw-color-white);

  &__link {
    &:hover:after {
      opacity: 0.8;
      background-color: #00000;
    }
  }

  &__icon {
    width: 72px;
    height: 72px;
  }

&__content {
  position: relative;
  text-align: center;
  padding: var(--hw-spacing-large) var(--hw-spacing-larger);

  &:hover {
    content: "";
    width:100%;
    height:100%;
    background-color: var(--hw-color-opaque-black-7);
    color: #444;
    transition: transform 0.3s;

    &::after {
      content: "";
      width:100%;
      height:100%;
      background-color:#fff;
      opacity:1;
    }
  }
}

&__title {
  margin-top: var(--hw-spacing-small);
  margin-bottom: var(--hw-spacing-large);
 }

&__text {
   margin-top: var(--hw-spacing-larger);
   margin-bottom: var(--hw-spacing-large);
 }
}






