/**
 * Block
 */

.hw-card-magasinet {
  position: relative;
  background: var(--hw-color-white);
  padding: var(--hw-spacing-large) var(--hw-spacing-larger);
  text-align: center;
  border: 3px solid var(--hw-color-gray-light);

&__overlay {
   opacity: 1;
   background-color: #ffffff;
&:hover {
   opacity: 0.8;
 }
}

&__title {
   margin-bottom: var(--hw-spacing-small);
   transition: color 0.5s ease(0.165, 0.84, 0.44, 1);
 }

&__sub-title {
   margin-bottom: var(--hw-spacing-large);
 }

&__text {
   margin-top: var(--hw-spacing-larger);
   margin-bottom: var(--hw-spacing-large);
 }

&__hr {
   border: 0;
   background: var(--hw-color-gray);
   height: 3px;
   max-width: var(--hw-spacing);
   margin-bottom: var(--hw-spacing-small);
 }
}
