/**
 * Block
 */

.hw-icon {
  display: inline-block;

  /**
   * Modifiers
   */

  &--size-medium {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }

  &--size-small {
    min-width: 18px;
    width: 18px;
    height: 18px;
  }
}
