
.hw-list {
  font-size: var(--hw-font-size-p);
  font-family: var(--hw-font-primay-regular);
  color: var(--hw-color-gray-darker);
  list-style: none;
  margin: 0;
  padding-left: 20px;
  line-height: 1.4;

  & li {
    margin-bottom: 3px;
    position: relative;
  }

  & li::before {
    content: '';
    position: absolute;
    background: var(--hw-color-gray-light);
    width: var(--hw-spacing-smaller);
    height: var(--hw-spacing-smaller);
    margin-left: -20px;
    border-radius: 50%;
    top: var(--hw-spacing-smallest);
  }
}
