.hw-grid {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: -var(--hw-spacing-2);
}
@media (--child) {
    .hw-grid {
        margin-left: -var(--hw-spacing-4);
    }
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends '.hw-grid'.
 */
.hw-grid--rev {
	direction: rtl;
	text-align: left;
}

.hw-grid--rev > .hw-grid__item {
	direction: ltr !important;
	text-align: left !important;
}

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends '.hw-grid'.
 */
.hw-grid--full {
	margin-left: 0;
}

.hw-grid--full > .hw-grid__item {
	padding-left: 0 !important;
}

/**
 * Align the entire grid to the right. Extends '.hw-grid'.
 */
.hw-grid--right {
	text-align: right;
}

.hw-grid--right > .hw-grid__item {
	text-align: left !important;
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends '.hw-grid'.
 */
.hw-grid--center {
	text-align: center;
}

.hw-grid--center > .hw-grid__item {
	text-align: left !important;
}

/**
 * Align grid cells vertically ('.hw-grid--middle' or '.hw-grid--bottom'). Extends
 * '.hw-grid'.
 */
.hw-grid--middle > .hw-grid__item {
	vertical-align: middle !important;
}

.hw-grid--bottom > .hw-grid__item {
	vertical-align: bottom !important;
}

/**
 * Create grids with narrower gutters. Extends '.hw-grid'.
 */
.hw-grid--narrow {
	margin-left: -var(--hw-spacing-2);
}

.hw-grid--narrow > .hw-grid__item {
	padding-left: var(--hw-spacing-2);
}

/**
 * Create grids with wider gutters. Extends '.hw-grid'.
 */
.hw-grid--wide {
	margin-left: -var(--hw-spacing-2);
}
@media (--child) {
    .hw-grid--wide {
        margin-left: -var(--hw-spacing-4);
    }
}
@media (--adult) {
    .hw-grid--wide {
        margin-left: -var(--hw-spacing-7);
    }
}

.hw-grid--wide > .hw-grid__item {
	padding-left: var(--hw-spacing-2);
}
@media (--child) {
    .hw-grid--wide > .hw-grid__item {
        padding-left: var(--hw-spacing-4);
    }
}
@media (--adult) {
	.hw-grid--wide > .hw-grid__item {
		padding-left: var(--hw-spacing-7);
	}
}


/*
 * Grid item styles
 */

 @import '../../globals.css';

.hw-grid__item {
	display: inline-block;
	padding-left: var(--hw-spacing-2);
	vertical-align: top;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (--child) {
    .hw-grid__item {
        padding-left: var(--hw-spacing-4);
    }
}

/**
* Whole
*/
.one-whole {
	width: 100%;
}

/**
* Halves
*/
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
	width: 50%;
}

/**
* Thirds
*/
.one-third, .two-sixths, .four-twelfths {
	width: 33.333%;
}

.two-thirds, .four-sixths, .eight-twelfths {
	width: 66.666%;
}

/**
* Quarters
*/
.one-quarter, .two-eighths, .three-twelfths {
	width: 25%;
}

.three-quarters, .six-eighths, .nine-twelfths {
	width: 75%;
}

/**
* Fifths
*/
.one-fifth, .two-tenths {
	width: 20%;
}

.two-fifths, .four-tenths {
	width: 40%;
}

.three-fifths, .six-tenths {
	width: 60%;
}

.four-fifths, .eight-tenths {
	width: 80%;
}

/**
* Sixths
*/
.one-sixth, .two-twelfths {
	width: 16.666%;
}

.five-sixths, .ten-twelfths {
	width: 83.333%;
}

/**
* Eighths
*/
.one-eighth {
	width: 12.5%;
}

.three-eighths {
	width: 37.5%;
}

.five-eighths {
	width: 62.5%;
}

.seven-eighths {
	width: 87.5%;
}

/**
* Tenths
*/
.one-tenth {
	width: 10%;
}

.three-tenths {
	width: 30%;
}

.seven-tenths {
	width: 70%;
}

.nine-tenths {
	width: 90%;
}

/**
* Twelfths
*/
.one-twelfth {
	width: 8.333%;
}

.five-twelfths {
	width: 41.666%;
}

.seven-twelfths {
	width: 58.333%;
}

.eleven-twelfths {
	width: 91.666%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (--infant) {
  	/**
     * Whole
     */
	.infant--one-whole {
		width: 100%;
	}
  	/**
     * Halves
     */
	.infant--one-half, .infant--two-quarters, .infant--three-sixths, .infant--four-eighths, .infant--five-tenths, .infant--six-twelfths {
		width: 50%;
	}
  	/**
     * Thirds
     */
	.infant--one-third, .infant--two-sixths, .infant--four-twelfths {
		width: 33.333%;
	}

	.infant--two-thirds, .infant--four-sixths, .infant--eight-twelfths {
		width: 66.666%;
	}
  	/**
     * Quarters
     */
	.infant--one-quarter, .infant--two-eighths, .infant--three-twelfths {
		width: 25%;
	}

	.infant--three-quarters, .infant--six-eighths, .infant--nine-twelfths {
		width: 75%;
	}
  	/**
     * Fifths
     */
	.infant--one-fifth, .infant--two-tenths {
		width: 20%;
	}

	.infant--two-fifths, .infant--four-tenths {
		width: 40%;
	}

	.infant--three-fifths, .infant--six-tenths {
		width: 60%;
	}

	.infant--four-fifths, .infant--eight-tenths {
		width: 80%;
	}
  	/**
     * Sixths
     */
	.infant--one-sixth, .infant--two-twelfths {
		width: 16.666%;
	}

	.infant--five-sixths, .infant--ten-twelfths {
		width: 83.333%;
	}
  	/**
     * Eighths
     */
	.infant--one-eighth {
		width: 12.5%;
	}

	.infant--three-eighths {
		width: 37.5%;
	}

	.infant--five-eighths {
		width: 62.5%;
	}

	.infant--seven-eighths {
		width: 87.5%;
	}
  	/**
     * Tenths
     */
	.infant--one-tenth {
		width: 10%;
	}

	.infant--three-tenths {
		width: 30%;
	}

	.infant--seven-tenths {
		width: 70%;
	}

	.infant--nine-tenths {
		width: 90%;
	}
  	/**
     * Twelfths
     */
	.infant--one-twelfth {
		width: 8.333%;
	}

	.infant--five-twelfths {
		width: 41.666%;
	}

	.infant--seven-twelfths {
		width: 58.333%;
	}

	.infant--eleven-twelfths {
		width: 91.666%;
	}
}

@media only screen and (--baby) {
  	/**
     * Whole
     */
	.baby--one-whole {
		width: 100%;
	}
  	/**
     * Halves
     */
	.baby--one-half, .baby--two-quarters, .baby--three-sixths, .baby--four-eighths, .baby--five-tenths, .baby--six-twelfths {
		width: 50%;
	}
  	/**
     * Thirds
     */
	.baby--one-third, .baby--two-sixths, .baby--four-twelfths {
		width: 33.333%;
	}

	.baby--two-thirds, .baby--four-sixths, .baby--eight-twelfths {
		width: 66.666%;
	}
  	/**
     * Quarters
     */
	.baby--one-quarter, .baby--two-eighths, .baby--three-twelfths {
		width: 25%;
	}

	.baby--three-quarters, .baby--six-eighths, .baby--nine-twelfths {
		width: 75%;
	}
  	/**
     * Fifths
     */
	.baby--one-fifth, .baby--two-tenths {
		width: 20%;
	}

	.baby--two-fifths, .baby--four-tenths {
		width: 40%;
	}

	.baby--three-fifths, .baby--six-tenths {
		width: 60%;
	}

	.baby--four-fifths, .baby--eight-tenths {
		width: 80%;
	}
  	/**
     * Sixths
     */
	.baby--one-sixth, .baby--two-twelfths {
		width: 16.666%;
	}

	.baby--five-sixths, .baby--ten-twelfths {
		width: 83.333%;
	}
  	/**
     * Eighths
     */
	.baby--one-eighth {
		width: 12.5%;
	}

	.baby--three-eighths {
		width: 37.5%;
	}

	.baby--five-eighths {
		width: 62.5%;
	}

	.baby--seven-eighths {
		width: 87.5%;
	}
  	/**
     * Tenths
     */
	.baby--one-tenth {
		width: 10%;
	}

	.baby--three-tenths {
		width: 30%;
	}

	.baby--seven-tenths {
		width: 70%;
	}

	.baby--nine-tenths {
		width: 90%;
	}
  	/**
     * Twelfths
     */
	.baby--one-twelfth {
		width: 8.333%;
	}

	.baby--five-twelfths {
		width: 41.666%;
	}

	.baby--seven-twelfths {
		width: 58.333%;
	}

	.baby--eleven-twelfths {
		width: 91.666%;
	}
}

@media only screen and (--child) {
  	/**
     * Whole
     */
	.child--one-whole {
		width: 100%;
	}
  	/**
     * Halves
     */
	.child--one-half, .child--two-quarters, .child--three-sixths, .child--four-eighths, .child--five-tenths, .child--six-twelfths {
		width: 50%;
	}
  	/**
     * Thirds
     */
	.child--one-third, .child--two-sixths, .child--four-twelfths {
		width: 33.333%;
	}

	.child--two-thirds, .child--four-sixths, .child--eight-twelfths {
		width: 66.666%;
	}
  	/**
     * Quarters
     */
	.child--one-quarter, .child--two-eighths, .child--three-twelfths {
		width: 25%;
	}

	.child--three-quarters, .child--six-eighths, .child--nine-twelfths {
		width: 75%;
	}
  	/**
     * Fifths
     */
	.child--one-fifth, .child--two-tenths {
		width: 20%;
	}

	.child--two-fifths, .child--four-tenths {
		width: 40%;
	}

	.child--three-fifths, .child--six-tenths {
		width: 60%;
	}

	.child--four-fifths, .child--eight-tenths {
		width: 80%;
	}
  	/**
     * Sixths
     */
	.child--one-sixth, .child--two-twelfths {
		width: 16.666%;
	}

	.child--five-sixths, .child--ten-twelfths {
		width: 83.333%;
	}
  	/**
     * Eighths
     */
	.child--one-eighth {
		width: 12.5%;
	}

	.child--three-eighths {
		width: 37.5%;
	}

	.child--five-eighths {
		width: 62.5%;
	}

	.child--seven-eighths {
		width: 87.5%;
	}
  	/**
     * Tenths
     */
	.child--one-tenth {
		width: 10%;
	}

	.child--three-tenths {
		width: 30%;
	}

	.child--seven-tenths {
		width: 70%;
	}

	.child--nine-tenths {
		width: 90%;
	}
  	/**
     * Twelfths
     */
	.child--one-twelfth {
		width: 8.333%;
	}

	.child--five-twelfths {
		width: 41.666%;
	}

	.child--seven-twelfths {
		width: 58.333%;
	}

	.child--eleven-twelfths {
		width: 91.666%;
	}
}

@media only screen and (--teen) {
  	/**
     * Whole
     */
	.teen--one-whole {
		width: 100%;
	}
  	/**
     * Halves
     */
	.teen--one-half, .teen--two-quarters, .teen--three-sixths, .teen--four-eighths, .teen--five-tenths, .teen--six-twelfths {
		width: 50%;
	}
  	/**
     * Thirds
     */
	.teen--one-third, .teen--two-sixths, .teen--four-twelfths {
		width: 33.333%;
	}

	.teen--two-thirds, .teen--four-sixths, .teen--eight-twelfths {
		width: 66.666%;
	}
  	/**
     * Quarters
     */
	.teen--one-quarter, .teen--two-eighths, .teen--three-twelfths {
		width: 25%;
	}

	.teen--three-quarters, .teen--six-eighths, .teen--nine-twelfths {
		width: 75%;
	}
  	/**
     * Fifths
     */
	.teen--one-fifth, .teen--two-tenths {
		width: 20%;
	}

	.teen--two-fifths, .teen--four-tenths {
		width: 40%;
	}

	.teen--three-fifths, .teen--six-tenths {
		width: 60%;
	}

	.teen--four-fifths, .teen--eight-tenths {
		width: 80%;
	}
  	/**
     * Sixths
     */
	.teen--one-sixth, .teen--two-twelfths {
		width: 16.666%;
	}

	.teen--five-sixths, .teen--ten-twelfths {
		width: 83.333%;
	}
  	/**
     * Eighths
     */
	.teen--one-eighth {
		width: 12.5%;
	}

	.teen--three-eighths {
		width: 37.5%;
	}

	.teen--five-eighths {
		width: 62.5%;
	}

	.teen--seven-eighths {
		width: 87.5%;
	}
  	/**
     * Tenths
     */
	.teen--one-tenth {
		width: 10%;
	}

	.teen--three-tenths {
		width: 30%;
	}

	.teen--seven-tenths {
		width: 70%;
	}

	.teen--nine-tenths {
		width: 90%;
	}
  	/**
     * Twelfths
     */
	.teen--one-twelfth {
		width: 8.333%;
	}

	.teen--five-twelfths {
		width: 41.666%;
	}

	.teen--seven-twelfths {
		width: 58.333%;
	}

	.teen--eleven-twelfths {
		width: 91.666%;
	}
}

@media only screen and (--adult) {
  	/**
     * Whole
     */
	.adult--one-whole {
		width: 100%;
	}
  	/**
     * Halves
     */
	.adult--one-half, .adult--two-quarters, .adult--three-sixths, .adult--four-eighths, .adult--five-tenths, .adult--six-twelfths {
		width: 50%;
	}
  	/**
     * Thirds
     */
	.adult--one-third, .adult--two-sixths, .adult--four-twelfths {
		width: 33.333%;
	}

	.adult--two-thirds, .adult--four-sixths, .adult--eight-twelfths {
		width: 66.666%;
	}
  	/**
     * Quarters
     */
	.adult--one-quarter, .adult--two-eighths, .adult--three-twelfths {
		width: 25%;
	}

	.adult--three-quarters, .adult--six-eighths, .adult--nine-twelfths {
		width: 75%;
	}
  	/**
     * Fifths
     */
	.adult--one-fifth, .adult--two-tenths {
		width: 20%;
	}

	.adult--two-fifths, .adult--four-tenths {
		width: 40%;
	}

	.adult--three-fifths, .adult--six-tenths {
		width: 60%;
	}

	.adult--four-fifths, .adult--eight-tenths {
		width: 80%;
	}
  	/**
     * Sixths
     */
	.adult--one-sixth, .adult--two-twelfths {
		width: 16.666%;
	}

	.adult--five-sixths, .adult--ten-twelfths {
		width: 83.333%;
	}
  	/**
     * Eighths
     */
	.adult--one-eighth {
		width: 12.5%;
	}

	.adult--three-eighths {
		width: 37.5%;
	}

	.adult--five-eighths {
		width: 62.5%;
	}

	.adult--seven-eighths {
		width: 87.5%;
	}
  	/**
     * Tenths
     */
	.adult--one-tenth {
		width: 10%;
	}

	.adult--three-tenths {
		width: 30%;
	}

	.adult--seven-tenths {
		width: 70%;
	}

	.adult--nine-tenths {
		width: 90%;
	}
  	/**
     * Twelfths
     */
	.adult--one-twelfth {
		width: 8.333%;
	}

	.adult--five-twelfths {
		width: 41.666%;
	}

	.adult--seven-twelfths {
		width: 58.333%;
	}

	.adult--eleven-twelfths {
		width: 91.666%;
	}
}

@media only screen and (--elder) {
  	/**
     * Whole
     */
	.elder--one-whole {
		width: 100%;
	}
  	/**
     * Halves
     */
	.elder--one-half, .elder--two-quarters, .elder--three-sixths, .elder--four-eighths, .elder--five-tenths, .elder--six-twelfths {
		width: 50%;
	}
  	/**
     * Thirds
     */
	.elder--one-third, .elder--two-sixths, .elder--four-twelfths {
		width: 33.333%;
	}

	.elder--two-thirds, .elder--four-sixths, .elder--eight-twelfths {
		width: 66.666%;
	}
  	/**
     * Quarters
     */
	.elder--one-quarter, .elder--two-eighths, .elder--three-twelfths {
		width: 25%;
	}

	.elder--three-quarters, .elder--six-eighths, .elder--nine-twelfths {
		width: 75%;
	}
  	/**
     * Fifths
     */
	.elder--one-fifth, .elder--two-tenths {
		width: 20%;
	}

	.elder--two-fifths, .elder--four-tenths {
		width: 40%;
	}

	.elder--three-fifths, .elder--six-tenths {
		width: 60%;
	}

	.elder--four-fifths, .elder--eight-tenths {
		width: 80%;
	}
  	/**
     * Sixths
     */
	.elder--one-sixth, .elder--two-twelfths {
		width: 16.666%;
	}

	.elder--five-sixths, .elder--ten-twelfths {
		width: 83.333%;
	}
  	/**
     * Eighths
     */
	.elder--one-eighth {
		width: 12.5%;
	}

	.elder--three-eighths {
		width: 37.5%;
	}

	.elder--five-eighths {
		width: 62.5%;
	}

	.elder--seven-eighths {
		width: 87.5%;
	}
  	/**
     * Tenths
     */
	.elder--one-tenth {
		width: 10%;
	}

	.elder--three-tenths {
		width: 30%;
	}

	.elder--seven-tenths {
		width: 70%;
	}

	.elder--nine-tenths {
		width: 90%;
	}
  	/**
     * Twelfths
     */
	.elder--one-twelfth {
		width: 8.333%;
	}

	.elder--five-twelfths {
		width: 41.666%;
	}

	.elder--seven-twelfths {
		width: 58.333%;
	}

	.elder--eleven-twelfths {
		width: 91.666%;
	}
}


/**
 * Show-hide modifiers
 */

@media only screen and (--only-base) {
	.none {
		display: none;
	}
}

@media only screen and (--only-infant) {
	.infant--none {
		display: none;
	}
}

@media only screen and (--only-baby) {
	.baby--none {
		display: none;
	}
}

@media only screen and (--only-child) {
	.child--none {
		display: none;
	}
}

@media only screen and (--only-teen) {
	.teen--none {
		display: none;
	}
}

@media only screen and (--only-adult) {
	.adult--none {
		display: none;
	}
}

@media only screen and (--only-elder) {
	.adult--none {
		display: none;
	}
}


/**
 * Push modifiers
 */

[class*="push--"] {
	position: relative;
}

/**
     * Whole
     */
.push--one-whole {
	left: 100%;
}

/**
     * Halves
     */
.push--one-half, .push--two-quarters, .push--three-sixths, .push--four-eighths, .push--five-tenths, .push--six-twelfths {
	left: 50%;
}

/**
     * Thirds
     */
.push--one-third, .push--two-sixths, .push--four-twelfths {
	left: 33.333%;
}

.push--two-thirds, .push--four-sixths, .push--eight-twelfths {
	left: 66.666%;
}

/**
     * Quarters
     */
.push--one-quarter, .push--two-eighths, .push--three-twelfths {
	left: 25%;
}

.push--three-quarters, .push--six-eighths, .push--nine-twelfths {
	left: 75%;
}

/**
     * Fifths
     */
.push--one-fifth, .push--two-tenths {
	left: 20%;
}

.push--two-fifths, .push--four-tenths {
	left: 40%;
}

.push--three-fifths, .push--six-tenths {
	left: 60%;
}

.push--four-fifths, .push--eight-tenths {
	left: 80%;
}

/**
     * Sixths
     */
.push--one-sixth, .push--two-twelfths {
	left: 16.666%;
}

.push--five-sixths, .push--ten-twelfths {
	left: 83.333%;
}

/**
     * Eighths
     */
.push--one-eighth {
	left: 12.5%;
}

.push--three-eighths {
	left: 37.5%;
}

.push--five-eighths {
	left: 62.5%;
}

.push--seven-eighths {
	left: 87.5%;
}

/**
     * Tenths
     */
.push--one-tenth {
	left: 10%;
}

.push--three-tenths {
	left: 30%;
}

.push--seven-tenths {
	left: 70%;
}

.push--nine-tenths {
	left: 90%;
}

/**
     * Twelfths
     */
.push--one-twelfth {
	left: 8.333%;
}

.push--five-twelfths {
	left: 41.666%;
}

.push--seven-twelfths {
	left: 58.333%;
}

.push--eleven-twelfths {
	left: 91.666%;
}

@media only screen and (--infant) {
  /**
     * Whole
     */
	.push--infant--one-whole {
		left: 100%;
	}
  /**
     * Halves
     */
	.push--infant--one-half, .push--infant--two-quarters, .push--infant--three-sixths, .push--infant--four-eighths, .push--infant--five-tenths, .push--infant--six-twelfths {
		left: 50%;
	}
  /**
     * Thirds
     */
	.push--infant--one-third, .push--infant--two-sixths, .push--infant--four-twelfths {
		left: 33.333%;
	}

	.push--infant--two-thirds, .push--infant--four-sixths, .push--infant--eight-twelfths {
		left: 66.666%;
	}
  /**
     * Quarters
     */
	.push--infant--one-quarter, .push--infant--two-eighths, .push--infant--three-twelfths {
		left: 25%;
	}

	.push--infant--three-quarters, .push--infant--six-eighths, .push--infant--nine-twelfths {
		left: 75%;
	}
  /**
     * Fifths
     */
	.push--infant--one-fifth, .push--infant--two-tenths {
		left: 20%;
	}

	.push--infant--two-fifths, .push--infant--four-tenths {
		left: 40%;
	}

	.push--infant--three-fifths, .push--infant--six-tenths {
		left: 60%;
	}

	.push--infant--four-fifths, .push--infant--eight-tenths {
		left: 80%;
	}
  /**
     * Sixths
     */
	.push--infant--one-sixth, .push--infant--two-twelfths {
		left: 16.666%;
	}

	.push--infant--five-sixths, .push--infant--ten-twelfths {
		left: 83.333%;
	}
  /**
     * Eighths
     */
	.push--infant--one-eighth {
		left: 12.5%;
	}

	.push--infant--three-eighths {
		left: 37.5%;
	}

	.push--infant--five-eighths {
		left: 62.5%;
	}

	.push--infant--seven-eighths {
		left: 87.5%;
	}
  /**
     * Tenths
     */
	.push--infant--one-tenth {
		left: 10%;
	}

	.push--infant--three-tenths {
		left: 30%;
	}

	.push--infant--seven-tenths {
		left: 70%;
	}

	.push--infant--nine-tenths {
		left: 90%;
	}
  /**
     * Twelfths
     */
	.push--infant--one-twelfth {
		left: 8.333%;
	}

	.push--infant--five-twelfths {
		left: 41.666%;
	}

	.push--infant--seven-twelfths {
		left: 58.333%;
	}

	.push--infant--eleven-twelfths {
		left: 91.666%;
	}
}

@media only screen and (--baby) {
  /**
     * Whole
     */
	.push--baby--one-whole {
		left: 100%;
	}
  /**
     * Halves
     */
	.push--baby--one-half, .push--baby--two-quarters, .push--baby--three-sixths, .push--baby--four-eighths, .push--baby--five-tenths, .push--baby--six-twelfths {
		left: 50%;
	}
  /**
     * Thirds
     */
	.push--baby--one-third, .push--baby--two-sixths, .push--baby--four-twelfths {
		left: 33.333%;
	}

	.push--baby--two-thirds, .push--baby--four-sixths, .push--baby--eight-twelfths {
		left: 66.666%;
	}
  /**
     * Quarters
     */
	.push--baby--one-quarter, .push--baby--two-eighths, .push--baby--three-twelfths {
		left: 25%;
	}

	.push--baby--three-quarters, .push--baby--six-eighths, .push--baby--nine-twelfths {
		left: 75%;
	}
  /**
     * Fifths
     */
	.push--baby--one-fifth, .push--baby--two-tenths {
		left: 20%;
	}

	.push--baby--two-fifths, .push--baby--four-tenths {
		left: 40%;
	}

	.push--baby--three-fifths, .push--baby--six-tenths {
		left: 60%;
	}

	.push--baby--four-fifths, .push--baby--eight-tenths {
		left: 80%;
	}
  /**
     * Sixths
     */
	.push--baby--one-sixth, .push--baby--two-twelfths {
		left: 16.666%;
	}

	.push--baby--five-sixths, .push--baby--ten-twelfths {
		left: 83.333%;
	}
  /**
     * Eighths
     */
	.push--baby--one-eighth {
		left: 12.5%;
	}

	.push--baby--three-eighths {
		left: 37.5%;
	}

	.push--baby--five-eighths {
		left: 62.5%;
	}

	.push--baby--seven-eighths {
		left: 87.5%;
	}
  /**
     * Tenths
     */
	.push--baby--one-tenth {
		left: 10%;
	}

	.push--baby--three-tenths {
		left: 30%;
	}

	.push--baby--seven-tenths {
		left: 70%;
	}

	.push--baby--nine-tenths {
		left: 90%;
	}
  /**
     * Twelfths
     */
	.push--baby--one-twelfth {
		left: 8.333%;
	}

	.push--baby--five-twelfths {
		left: 41.666%;
	}

	.push--baby--seven-twelfths {
		left: 58.333%;
	}

	.push--baby--eleven-twelfths {
		left: 91.666%;
	}
}

@media only screen and (--child) {
  /**
     * Whole
     */
	.push--child--one-whole {
		left: 100%;
	}
  /**
     * Halves
     */
	.push--child--one-half, .push--child--two-quarters, .push--child--three-sixths, .push--child--four-eighths, .push--child--five-tenths, .push--child--six-twelfths {
		left: 50%;
	}
  /**
     * Thirds
     */
	.push--child--one-third, .push--child--two-sixths, .push--child--four-twelfths {
		left: 33.333%;
	}

	.push--child--two-thirds, .push--child--four-sixths, .push--child--eight-twelfths {
		left: 66.666%;
	}
  /**
     * Quarters
     */
	.push--child--one-quarter, .push--child--two-eighths, .push--child--three-twelfths {
		left: 25%;
	}

	.push--child--three-quarters, .push--child--six-eighths, .push--child--nine-twelfths {
		left: 75%;
	}
  /**
     * Fifths
     */
	.push--child--one-fifth, .push--child--two-tenths {
		left: 20%;
	}

	.push--child--two-fifths, .push--child--four-tenths {
		left: 40%;
	}

	.push--child--three-fifths, .push--child--six-tenths {
		left: 60%;
	}

	.push--child--four-fifths, .push--child--eight-tenths {
		left: 80%;
	}
  /**
     * Sixths
     */
	.push--child--one-sixth, .push--child--two-twelfths {
		left: 16.666%;
	}

	.push--child--five-sixths, .push--child--ten-twelfths {
		left: 83.333%;
	}
  /**
     * Eighths
     */
	.push--child--one-eighth {
		left: 12.5%;
	}

	.push--child--three-eighths {
		left: 37.5%;
	}

	.push--child--five-eighths {
		left: 62.5%;
	}

	.push--child--seven-eighths {
		left: 87.5%;
	}
  /**
     * Tenths
     */
	.push--child--one-tenth {
		left: 10%;
	}

	.push--child--three-tenths {
		left: 30%;
	}

	.push--child--seven-tenths {
		left: 70%;
	}

	.push--child--nine-tenths {
		left: 90%;
	}
  /**
     * Twelfths
     */
	.push--child--one-twelfth {
		left: 8.333%;
	}

	.push--child--five-twelfths {
		left: 41.666%;
	}

	.push--child--seven-twelfths {
		left: 58.333%;
	}

	.push--child--eleven-twelfths {
		left: 91.666%;
	}
}

@media only screen and (--teen) {
  /**
     * Whole
     */
	.push--teen--one-whole {
		left: 100%;
	}
  /**
     * Halves
     */
	.push--teen--one-half, .push--teen--two-quarters, .push--teen--three-sixths, .push--teen--four-eighths, .push--teen--five-tenths, .push--teen--six-twelfths {
		left: 50%;
	}
  /**
     * Thirds
     */
	.push--teen--one-third, .push--teen--two-sixths, .push--teen--four-twelfths {
		left: 33.333%;
	}

	.push--teen--two-thirds, .push--teen--four-sixths, .push--teen--eight-twelfths {
		left: 66.666%;
	}
  /**
     * Quarters
     */
	.push--teen--one-quarter, .push--teen--two-eighths, .push--teen--three-twelfths {
		left: 25%;
	}

	.push--teen--three-quarters, .push--teen--six-eighths, .push--teen--nine-twelfths {
		left: 75%;
	}
  /**
     * Fifths
     */
	.push--teen--one-fifth, .push--teen--two-tenths {
		left: 20%;
	}

	.push--teen--two-fifths, .push--teen--four-tenths {
		left: 40%;
	}

	.push--teen--three-fifths, .push--teen--six-tenths {
		left: 60%;
	}

	.push--teen--four-fifths, .push--teen--eight-tenths {
		left: 80%;
	}
  /**
     * Sixths
     */
	.push--teen--one-sixth, .push--teen--two-twelfths {
		left: 16.666%;
	}

	.push--teen--five-sixths, .push--teen--ten-twelfths {
		left: 83.333%;
	}
  /**
     * Eighths
     */
	.push--teen--one-eighth {
		left: 12.5%;
	}

	.push--teen--three-eighths {
		left: 37.5%;
	}

	.push--teen--five-eighths {
		left: 62.5%;
	}

	.push--teen--seven-eighths {
		left: 87.5%;
	}
  /**
     * Tenths
     */
	.push--teen--one-tenth {
		left: 10%;
	}

	.push--teen--three-tenths {
		left: 30%;
	}

	.push--teen--seven-tenths {
		left: 70%;
	}

	.push--teen--nine-tenths {
		left: 90%;
	}
  /**
     * Twelfths
     */
	.push--teen--one-twelfth {
		left: 8.333%;
	}

	.push--teen--five-twelfths {
		left: 41.666%;
	}

	.push--teen--seven-twelfths {
		left: 58.333%;
	}

	.push--teen--eleven-twelfths {
		left: 91.666%;
	}
}

@media only screen and (--adult) {
  /**
     * Whole
     */
	.push--adult--one-whole {
		left: 100%;
	}
  /**
     * Halves
     */
	.push--adult--one-half, .push--adult--two-quarters, .push--adult--three-sixths, .push--adult--four-eighths, .push--adult--five-tenths, .push--adult--six-twelfths {
		left: 50%;
	}
  /**
     * Thirds
     */
	.push--adult--one-third, .push--adult--two-sixths, .push--adult--four-twelfths {
		left: 33.333%;
	}

	.push--adult--two-thirds, .push--adult--four-sixths, .push--adult--eight-twelfths {
		left: 66.666%;
	}
  /**
     * Quarters
     */
	.push--adult--one-quarter, .push--adult--two-eighths, .push--adult--three-twelfths {
		left: 25%;
	}

	.push--adult--three-quarters, .push--adult--six-eighths, .push--adult--nine-twelfths {
		left: 75%;
	}
  /**
     * Fifths
     */
	.push--adult--one-fifth, .push--adult--two-tenths {
		left: 20%;
	}

	.push--adult--two-fifths, .push--adult--four-tenths {
		left: 40%;
	}

	.push--adult--three-fifths, .push--adult--six-tenths {
		left: 60%;
	}

	.push--adult--four-fifths, .push--adult--eight-tenths {
		left: 80%;
	}
  /**
     * Sixths
     */
	.push--adult--one-sixth, .push--adult--two-twelfths {
		left: 16.666%;
	}

	.push--adult--five-sixths, .push--adult--ten-twelfths {
		left: 83.333%;
	}
  /**
     * Eighths
     */
	.push--adult--one-eighth {
		left: 12.5%;
	}

	.push--adult--three-eighths {
		left: 37.5%;
	}

	.push--adult--five-eighths {
		left: 62.5%;
	}

	.push--adult--seven-eighths {
		left: 87.5%;
	}
  /**
     * Tenths
     */
	.push--adult--one-tenth {
		left: 10%;
	}

	.push--adult--three-tenths {
		left: 30%;
	}

	.push--adult--seven-tenths {
		left: 70%;
	}

	.push--adult--nine-tenths {
		left: 90%;
	}
  /**
     * Twelfths
     */
	.push--adult--one-twelfth {
		left: 8.333%;
	}

	.push--adult--five-twelfths {
		left: 41.666%;
	}

	.push--adult--seven-twelfths {
		left: 58.333%;
	}

	.push--adult--eleven-twelfths {
		left: 91.666%;
	}
}

@media only screen and (--elder) {
  /**
     * Whole
     */
	.push--elder--one-whole {
		left: 100%;
	}
  /**
     * Halves
     */
	.push--elder--one-half, .push--elder--two-quarters, .push--elder--three-sixths, .push--elder--four-eighths, .push--elder--five-tenths, .push--elder--six-twelfths {
		left: 50%;
	}
  /**
     * Thirds
     */
	.push--elder--one-third, .push--elder--two-sixths, .push--elder--four-twelfths {
		left: 33.333%;
	}

	.push--elder--two-thirds, .push--elder--four-sixths, .push--elder--eight-twelfths {
		left: 66.666%;
	}
  /**
     * Quarters
     */
	.push--elder--one-quarter, .push--elder--two-eighths, .push--elder--three-twelfths {
		left: 25%;
	}

	.push--elder--three-quarters, .push--elder--six-eighths, .push--elder--nine-twelfths {
		left: 75%;
	}
  /**
     * Fifths
     */
	.push--elder--one-fifth, .push--elder--two-tenths {
		left: 20%;
	}

	.push--elder--two-fifths, .push--elder--four-tenths {
		left: 40%;
	}

	.push--elder--three-fifths, .push--elder--six-tenths {
		left: 60%;
	}

	.push--elder--four-fifths, .push--elder--eight-tenths {
		left: 80%;
	}
  /**
     * Sixths
     */
	.push--elder--one-sixth, .push--elder--two-twelfths {
		left: 16.666%;
	}

	.push--elder--five-sixths, .push--elder--ten-twelfths {
		left: 83.333%;
	}
  /**
     * Eighths
     */
	.push--elder--one-eighth {
		left: 12.5%;
	}

	.push--elder--three-eighths {
		left: 37.5%;
	}

	.push--elder--five-eighths {
		left: 62.5%;
	}

	.push--elder--seven-eighths {
		left: 87.5%;
	}
  /**
     * Tenths
     */
	.push--elder--one-tenth {
		left: 10%;
	}

	.push--elder--three-tenths {
		left: 30%;
	}

	.push--elder--seven-tenths {
		left: 70%;
	}

	.push--elder--nine-tenths {
		left: 90%;
	}
  /**
     * Twelfths
     */
	.push--elder--one-twelfth {
		left: 8.333%;
	}

	.push--elder--five-twelfths {
		left: 41.666%;
	}

	.push--elder--seven-twelfths {
		left: 58.333%;
	}

	.push--elder--eleven-twelfths {
		left: 91.666%;
	}
}
