.hw-attachment {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__icon {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: var(--hw-spacing-smallest);
    border: 2px solid var(--hw-color-gray-dark);
    border-radius: 50%;
    margin-right: var(--hw-spacing-smaller);
    background-color: var(--hw-color-gray-dark);
    transition: background-color 0.2s ease;
  }

  &:hover .hw-attachment__icon,
  &:focus .hw-attachment__icon {
    background-color: var(--hw-color-white);
  }

  &:hover .hw-attachment__icon svg,
  &:focus .hw-attachment__icon svg {
    fill: var(--hw-color-gray-dark);
  }

  &__icon svg {
    fill: white;
    transition: fill 0.2s ease;
  }
}
