/**
 * Block
 */

.hw-wysiwyg {
  & h1 {
    margin-bottom: var(--hw-spacing);
  }

  & h2 {
    margin-bottom: var(--hw-spacing);
    max-width: 690px;
  }

  & p.hw-text-lead {
    font-size: var(--hw-font-size-lead);
    line-height: 1.4;
    color: var(--hw-color-gray-darker);
    font-family: var(--hw-font-primary-regular);
  }

  /* Paragraphs */
  & p {
    margin-bottom: var(--hw-spacing);
  }

  /* Links */
  & a {
    @extend .hw-link;
  }

  /* Combinations */
  & p + h2 {
    margin-top: var(--hw-spacing);
  }

  & hr {
    margin-bottom: var(--hw-spacing);
  }

  /* List */
  & ul {
    @extend .hw-list;
  }

  /* Image */
  & figure {
    margin: 0;
    width: 100%;
    margin-bottom: var(--hw-spacing);
    padding: 0;
  }

  & figcaption {
    margin-top: var(--hw-spacing-smallest);
    font-size: var(--hw-font-size-small);
    color: var(--hw-color-gray-darker);
    font-family: var(--hw-font-primary-medium);
    text-align: left;

    &:empty {
      display: none;
    }

    &::before {
      content: '';
      display: inline-block;
      margin-right: var(--hw-spacing-smallest);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid var(--hw-color-primary);
    }
  }

  /**
   * Modifiers
   */

  /* Small version */
  &--small {
    & p,
    & li,
    & a {
      @extend .hw-text-small;
    }

    & p {
      margin-bottom: var(--hw-spacing-smaller);
    }
  }
}
