/**
 * Block
 */

.hw-wysiwyg {
  & h1 {
    margin-bottom: var(--hw-spacing);
  }

  & h2, & h3 {
    margin-bottom: var(--hw-spacing-smallest);
    max-width: 690px;
  }

  & .hw-quote .hw-quote__content {
    @extend .hw-quote__content;
  }

  & p.hw-text-lead {
    font-size: var(--hw-font-size-lead);
    line-height: 1.4;
  }

  /* Paragraphs */
  & p {
    margin-bottom: var(--hw-spacing);
  }

  /* Links */
  & a {
    @extend .hw-link;
  }

  /* Combinations */
  & p + h2, & p + h3 {
    margin-top: var(--hw-spacing);
  }

  & hr {
    margin-bottom: var(--hw-spacing);
  }

  /* List */
  & ul {
    @extend .hw-list;
  }

  /* Image */
  & figure {
    @extend .hw-figure;
    margin-top: var(--hw-spacing-large);
    margin-bottom: var(--hw-spacing-large);
  }

  & figcaption {
    @extend .hw-figure__figcaption;
  }

  /**
   * Modifiers
   */

  /* Small version */
  &--small {
    & p,
    & li,
    & a {
      @extend .hw-text-small;
    }

    & p {
      margin-bottom: var(--hw-spacing-smaller);
    }
  }
}
