/**
 * Block
 */

.hw-wysiwyg {
  & h1 {
    margin-bottom: var(--hw-spacing);
  }

  & h2,
  & h3 {
    margin-bottom: var(--hw-spacing-smallest);
    max-width: 690px;
  }

  & .hw-quote .hw-quote__content {
    @extend .hw-quote__content;
  }

  & p.hw-text-lead {
    @extend .hw-text-lead;
  }

  /* Paragraphs */
  & p {
    margin-bottom: var(--hw-spacing);
  }

  /* Links */
  & a {
    @extend .hw-link;
  }

  /* Buttons */
  & a.hw-button{
    @extend .hw-button;
  }
  & a.hw-button--primary{
     @extend .hw-button--primary;
   }
  & a.hw-button--secondary{
     @extend .hw-button--secondary;
   }

  /* Combinations */
  & p + h2 {
    margin-top: var(--hw-spacing-larger);
    margin-bottom: var(--hw-spacing-small);
  }

  & p + h3 {
    margin-top: var(--hw-spacing-large);
    margin-bottom: var(--hw-spacing-smaller);
  }

  & hr {
    margin-bottom: var(--hw-spacing);
  }

  /* List */
  & ul {
    @extend .hw-list;
  }

  & ol {
    @extend .hw-list;
    @extend .hw-list--numbered;
  }

  /* Image */
  & figure {
    @extend .hw-figure;

    margin-top: var(--hw-spacing-large);
    margin-bottom: var(--hw-spacing-large);
  }

  & figcaption {
    @extend .hw-figure figcaption;
  }

  /**
   * Modifiers
   */

  /* Small version */
  &--small {
    & p,
    & li,
    & a {
      @extend .hw-text-small;
    }

    & p {
      margin-bottom: var(--hw-spacing-smaller);
    }
  }
  & > :last-child{
     margin-bottom:0px;
  }
}
