.hw-hero {
  position: relative;
  height: 270px;

  &__image,
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Opaque overlay */
  &__overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Content */

  &__contents {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  /**
   * Variants
   */

  &--large {
    height: 39vh;
  }

  &--full {
    height: 100vh;
  }
}

.hw-hero__contents > h1,
.hw-hero__contents > h2,
.hw-hero__contents > h3,
.hw-hero__contents > h4,
.hw-hero__contents > p {
  color: var(--hw-color-white);
}
