/**
 * Block
 */

.hw-image {
  margin: 0;
  padding: 0;

  & img {
    max-width: 100%;
  }

  & figcaption {
    position: relative;
    font-size: var(--hw-font-size-small);
    color: var(--hw-color-gray-darker);
    font-family: var(--hw-font-primary-medium);
    padding-top: var(--hw-spacing-smallest);
    text-align: left;
  }

  &__caption-icon {
    margin-right: calc(var(--hw-spacing-smallest) / 2);
    fill: var(--hw-color-primary);
    margin-top: -2px;
    width: var(--hw-spacing-smaller);
    height: var(--hw-spacing-smaller);
  }

  /**
   * Modifiers
   */

  &--large {
    @media (--medium) {
      margin-left: -72px;
      margin-right: -72px;
    }
  }

  &--full {
    & img {
      width: 100%;
    }
  }
}
