/**
 * Block
 */

.hw-image {
  margin: 0;
  padding: 0;
  background: var(--hw-color-gray-lighter);

  & img {
    max-width: 100%;
  }

  & figcaption {
    font-size: var(--hw-font-size-small);
    font-family: var(--hw-font-primary-medium);
    padding: var(--hw-spacing-smallest);
    text-align: center;
  }

  /**
   * Modifiers
   */

  &--large {
    @media (--medium) {
      margin-left: -72px;
      margin-right: -72px;
    }
  }

  &--full {
    & img {
      width: 100%;
    }
  }
}
