/**
 * Block
 */

.hw-some {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

  /**
  * Elements
  */

  &__button {
    background-color: transparent;
    border-style: solid;
    border-color: var(--hw-color-gray-light);
    fill: var(--hw-color-gray-darker);
    padding: 6px;
    line-height: 3px;
    width: var(--hw-spacing-large);
    height: var(--hw-spacing-large);
    border-width: 2px !important;
    margin-right: calc(var(--hw-spacing-smallest) / 2);
    margin-bottom: 3px;
    min-width: 0;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover,
    &:active,
    &:focus {
      outline: 0;
      color: var(--hw-color-white);
    }

    &--facebook, &--twitter, &--linkedin, &--google, &--instagram, &--email {
      & svg {
        height: 22px;
        width: var(--hw-spacing-small);
      }
    }

    &--facebook {
      padding: 5px;

      &:hover,
      &:focus,
      &:active {
        background-color: #3d5a98;
        border-color: #3d5a98;
      }
    }

    &--twitter {
      &:hover,
      &:focus,
      &:active {
        background-color: #5fa8dc;
        border-color: #5fa8dc;
      }
    }

    &--linkedin {
      &:hover,
      &:focus,
      &:active {
        background-color: #006295;
        border-color: #006295;
      }
    }

    &--google {
      padding: 5px;

      &:hover,
      &:focus,
      &:active {
        background-color: #cd3c28;
        border-color: #cd3c28;
      }
    }

    &--instagram {
      &:hover,
      &:focus,
      &:active {
        background-color: #c94274;
        border-color: #c94274;
      }
    }

    &--email {
      &:hover,
      &:focus,
      &:active {
        background-color: #7bc144;
        border-color: #7bc144;
      }
    }
  }

  /**
  * Modifiers
  */

  &--vertical {
    flex-direction: column;

    & .hw-some__button {
      margin-right: 0;
      margin-bottom: calc(var(--hw-spacing-smallest) / 2);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &--dark {
    & .hw-some__button {
      background-color: var(--hw-color-gray-dark);
      border-color: var(--hw-color-gray-dark);
      color: var(--hw-color-white);

      &:hover,
      &:active,
      &:focus {
        outline: 0;
      }

      &--facebook {
        padding: 5px;

        &:hover,
        &:focus,
        &:active {
          background-color: #3d5a98;
          border-color: #3d5a98;
        }
      }

      &--twitter {
        &:hover,
        &:focus,
        &:active {
          background-color: #5fa8dc;
          border-color: #5fa8dc;
        }
      }

      &--linkedin {
        &:hover,
        &:focus,
        &:active {
          background-color: #006295;
          border-color: #006295;
        }
      }

      &--google {
        padding: 5px;

        &:hover,
        &:focus,
        &:active {
          background-color: #cd3c28;
          border-color: #cd3c28;
        }
      }

      &--instagram {
        &:hover,
        &:focus,
        &:active {
          background-color: #c94274;
          border-color: #c94274;
        }
      }

      &--email {
        &:hover,
        &:focus,
        &:active {
          background-color: #7bc144;
          border-color: #7bc144;
        }
      }
    }
  }

  &--outline-dark {
    & .hw-some__button {
      border-color: var(--hw-color-gray-darkest);

      &--facebook {
        &:hover,
        &:focus,
        &:active {
          border-color: #3d5a98;
        }
      }

      &--twitter {
        &:hover,
        &:focus,
        &:active {
          border-color: #5fa8dc;
        }
      }

      &--linkedin {
        &:hover,
        &:focus,
        &:active {
          border-color: #006295;
        }
      }

      &--google {
        &:hover,
        &:focus,
        &:active {
          border-color: #cd3c28;
        }
      }

      &--instagram {
        &:hover,
        &:focus,
        &:active {
          border-color: #c94274;
        }
      }

      &--email {
        &:hover,
        &:focus,
        &:active {
          border-color: #7bc144;
        }
      }
    }
  }
}
