/**
 * Block
 */

.hw-some {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

  /**
  * Elements
  */

  &__button {
    background-color: transparent;
    border-color: var(--hw-color-gray-light);
    fill: var(--hw-color-gray-darker);
    padding: 6px;
    line-height: 3px;
    width: 30px;
    height: 30px;
    border-width: 2px !important;
    margin-right: calc(var(--hw-spacing-smallest) / 2);
    margin-bottom: 3px;
    min-width: 0;
    border-radius: 50%;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    & .hw-icon {
      width: var(--hw-spacing-small);
      height: var(--hw-spacing-small);
    }

    &:hover,
    &:active,
    &:focus {
      outline: 0;
      fill: var(--hw-color-white);
    }

    &:active {
      outline: 0;
    }

    & .hw-icon {
      margin: 0;
    }

    &--google {
      padding: 5px;
    }

    &--facebook {
      padding: 5px;

      & svg {
        transform: translateX(-1px);
      }
    }

    &--facebook:hover {
      background-color: #3d5a98;
      border-color: #3d5a98;
    }

    &--twitter:hover {
      background-color: #5fa8dc;
      border-color: #5fa8dc;
    }

    &--linkedin:hover {
      background-color: #006295;
      border-color: #006295;
    }

    &--google:hover {
      background-color: #cd3c28;
      border-color: #cd3c28;
    }

    &--instagram:hover {
      background-color: #c94274;
      border-color: #c94274;
    }

    &--email:hover {
      background-color: #7bc144;
      border-color: #7bc144;
    }
  }

  /**
  * Modifiers
  */

  &--vertical {
    flex-direction: column;

    & .hw-some__button {
      margin-right: 0;
      margin-bottom: calc(var(--hw-spacing-smallest) / 2);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &--dark {
    & .hw-some__button {
      background-color: var(--hw-color-gray-dark);
      border-color: var(--hw-color-gray-dark);
      fill: var(--hw-color-white);

      &:hover {
        fill: var(--hw-color-white);
      }

      &--facebook:hover {
        background-color: #3d5a98;
        border-color: #3d5a98;
      }

      &--twitter:hover {
        background-color: #5fa8dc;
        border-color: #5fa8dc;
      }

      &--linkedin:hover {
        background-color: #006295;
        border-color: #006295;
      }

      &--google:hover {
        background-color: #cd3c28;
        border-color: #cd3c28;
      }

      &--instagram:hover {
        background-color: #c94274;
        border-color: #c94274;
      }

      &--email:hover {
        background-color: #7bc144;
        border-color: #7bc144;
      }
    }
  }
}
