/**
 * Block
 */

.hw-trace {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media(--large) {
    flex-direction: row;
    .hw-trace__button {
      margin-left: var(--hw-spacing-small-1);
      margin-top: 0;
    }
    &__input {
      text-align: left;
      margin-bottom: 0;
    }

    &__placeholder {
      text-align: left;
      border: 0;
      margin-bottom: 0;
    }
  }

  /**
   * Elements
   */

  &__inner {
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    overflow: hidden;
    z-index: 1;
    flex-grow: 1;
    text-align:center;
    border-radius: var(--hw-border-radius);
    height: var(--hw-input-field-height);
  }

  &__input {
    @extend .hw-input;
  }

  &__input, &__placeholder {
    font-size: var(--hw-font-size-p);
    margin-top: 0;
    margin-bottom: var(--hw-spacing-small-2);
    height: var(--hw-input-field-height);
  }


  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--hw-color-gray-dark);
    animation: movePlaceholder 3s ease-out infinite 0.3s;
    padding: var(--hw-spacing-small-4) calc(var(--hw-spacing-small-3) * 2);
    border: var(--hw-border-thickness) solid transparent;
    width: 100%;
    pointer-events: none;
    line-height: 1.2em;
  }

  &__button {
    padding: var(--hw-spacing-small-4) calc(var(--hw-spacing-small-3) * 2);
    font-size: var(--hw-font-size-p);
    margin-top: var(--hw-spacing-small-2);
    height: var(--hw-input-field-height);
  }

  &__button-inside {
    position: absolute;
    background: transparent;
    right: var(--hw-spacing-small-4);
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    opacity: 0;
    transition: opacity 0.1s ease, visibility 0.1s ease 0.1s;
    color: var(--hw-color-gray-dark);
    visibility: hidden;
    cursor: pointer;
  }

  &__button-inside:hover,
  &__button-inside:focus {
    color: var(--hw-color-input-accent);
  }
  

  /**
   * Modifiers
   */

  /** Modifiers added by javascript **/
  &--static .hw-trace__placeholder {
    animation: none;
  }

  &--active .hw-trace__placeholder, &--dirty .hw-trace__placeholder {
    visibility: hidden;
  }

  &--hasvalue .hw-trace__button-inside {
    opacity: 1;
    transition: opacity 0.1s ease;
    visibility: visible;
  }

  &--hasvalue .hw-trace__placeholder {
    display: none;
  }

  /* No break, keep the button on the same line as the input */
  
  &--no-break {
    flex-direction: row;
  }

  &--no-break &__button {
    margin-left: var(--hw-spacing-small-1);
    margin-top: 0;
  }

  &--no-break &__input {
    text-align: left;
    margin-bottom: 0;
  }

  &--no-break &__placeholder {
    text-align: left;
    border: 0;
    margin-bottom: 0;
  }

  &--stacked {
    flex-direction: column;

    @media (--large) {
      .hw-trace__button {
          margin-left: 0px;
          margin-top: var(--hw-spacing-small-2);
      }
    }
  }

  .hw-button {
    margin-right: 0;
  }
}
  

@keyframes movePlaceholder {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  75% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(-50px);
    opacity: 0;
  }

  91% {
    transform: translateY(50px);
  }

  92% {
    transform: translateY(50px);
    opacity: 0;
  }
}
