.hw-wysiwyg {

}

/* Headers */
.hw-wysiwyg h1 {
  margin-bottom: var(--hw-spacing);
}

.hw-wysiwyg h2 {
  margin-bottom: var(--hw-spacing);
  max-width: 690px;
}

.hw-wysiwyg p.hw-text-lead {
  font-size: var(--hw-font-size-lead);
  font-family: var(--hw-font-primay-regular);
  line-height: 1.4;
  color: var(--hw-color-gray-darker);
  font-family: var(--hw-font-primay-regular);
}

/* Paragraphs */
.hw-wysiwyg p {
  margin-bottom: var(--hw-spacing);
  //font-family: 'Roboto', sans-serif;
  //font-weight: 300;
  //font-size: 17px;
  //line-height: 1.5;
}

/* Combinations */
.hw-wysiwyg p + h2 {
  margin-top: var(--hw-spacing);
}

.hw-wysiwyg hr {
  margin-bottom: var(--hw-spacing);
}
