.hw-frame {
  display:flex;
  align-items: stretch;
  justify-content: space-between;


}

.hw-frame__item {
  flex-grow: 1;
  flex-basis: 0;
  -ms-flex-preferred-size: auto;

  &--bg-primary {
    background-color: var(--hw-color-primary);
  }

  &--bg-primary-lighter {
    background-color: var(--hw-color-primary-lighter);
  }

  &--bg-gray {
    background-color: var(--hw-color-gray);
  }

  &--bg-gray-light {
    background-color: var(--hw-color-gray-light);
  }

  &--bg-gray-lighter {
    background-color: var(--hw-color-gray-lighter);
  }

  &--bg-gray-lightest {
    background-color: var(--hw-color-gray-lightest);
  }

  &--bg-white {
    background-color: var(--hw-color-white);
  }

}

@media (--max-medium) {
  .hw-frame {
    flex-direction: column;
    border:0;
  }

  .hw-frame__item {
    margin:0;

    &--ml {
      margin-top:3px;
    }
  }
}

@media (--large) {
  .hw-frame {
    flex-direction: row;
    border: 3px solid var(--hw-color-gray-lighter);

    &--no-border {
      border:none;
    }
  }

  .hw-frame__item--ml {
    margin-left:3px;
  }
  
}

@media only screen 
and (--high-res-mobile)
{
  .hw-frame {
    flex-direction: column;
    border:0;
  }
  .hw-frame__item {
    margin:0;

    &--ml {
      margin-top:3px;
    }
  }
}


