/**
 * Block
 */

.hw-breadcrumbs {
  /* Flex to get rid of white space */
  display: flex;
  align-items: baseline;
}

.hw-breadcrumb {
  display: none;
  font-size: 13px;

  /**
  * Elements
  */

  @media (--large) {
    display: inline-block;
  }

  a {
    font-size: 13px;
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-link-underline);
    padding-bottom: 2px;
  }

  &__arrow,
  &__arrow-mobile {
    color: var(--hw-color-gray-dark);
    vertical-align: baseline;
    margin-right: 10px;
  }

  &__arrow{
    display: none;
    color: var(--hw-color-gray-dark);
    vertical-align: baseline;
    margin-right: 10px;
    margin-left: 12px;
    @media (--large) {
      display: inline-block;
    }
  }

  &__arrow-mobile {
    display: inline-block;
    color: var(--hw-color-gray-dark);
    vertical-align: baseline;
    margin-right: 10px;
    margin-left: 0;
    @media (--large) {
      display: none;
    }
  }

  &__previous {
    display: inline-block;
    font-size: 13px;
    a {
      font-size: 13px;
      padding-bottom: 2px;
    }
  }

  &__current {
    display: none;
    font-size: 13px;
    color: var(--hw-color-gray-dark);
    @media (--large) {
      display: inline-block;
    }
  }

  /**
   * Modifiers
   */

  &--single {
      display: inline-block;
      .hw-breadcrumb__arrow {
        margin-left: 0;
        margin-top: 2px;
        display: inline;
    }
  }
}



