/**
 * Label
 */

.hw-label {
  font-size: var(--hw-font-size-small);
  font-family: var(--hw-font-primay-bold);
  margin-bottom: var(--hw-spacing-xsmall);
  color: var(--hw-color-gray-dark);
  display: block;

  &[disabled]{
    color: var(--hw-color-gray-light);
  }
}
