/**
 * Block
 */

.hw-flex {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1;
  }

  /*
   * Modifiers
  */

  /*
  * Make the flex break at 940
  */
  
  &--responsive {
    flex-direction: column;

    @media (--large) {
      flex-direction: row;
    }
  }

  &--guttered {
    & > * {
      margin-left: var(--hw-spacing);
    }

    & > *:first-of-type {
      margin-left: 0;
    }
    &.hw-flex--responsive > * {
      margin-left: 0;
      margin-top: var(--hw-spacing);
      @media (--medium) {
        margin-left: var(--hw-spacing);
      }
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
