/**
 * Block
 */

.hw-search {
  position: relative;
  width: 100%;
  transition: width var(--hw-transition-time-normal) var(--hw-transition-easing-normal), background var(--hw-transition-time-slow) var(--hw-transition-easing-normal);
  display: flex;

  /**
   * Elements
   */

  &__inner {
    position: relative;
    overflow: hidden;
    z-index: 1;
    flex-grow: 1;
  }

  &__input, &__placeholder {
    font-size: var(--hw-font-size-small);
    padding: calc(var(--hw-spacing-smaller) * 2);
    padding-left: calc(var(--hw-spacing) + var(--hw-spacing-larger));
    line-height: 1.3;
    
    color: var(--hw-color-black);
  }

  &__input {
    margin: 0;
    width: 100%;
    transition: outline var(--hw-transition-time-normal) var(--hw-transition-easing-normal);
    background: var(--hw-color-white);
    border: var(--hw-border-thickness) solid transparent;
    border-radius: 2px;

    font-size: var(--hw-font-size-p);

    &:hover, &:focus {
      border-bottom: var(--hw-border-thickness) solid transparent;
      outline: 0;
    }

    &[disabled] {
      border: var(--hw-border-thickness) solid var(--hw-color-gray-light);
      background-color: var(--hw-color-gray-light);
    }
  }


  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--hw-color-gray-dark);
    animation: movePlaceholder 3s ease-out infinite 0.3s;
    border: var(--hw-border-thickness) solid transparent;
    font-size: var(--hw-font-size-p);
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    left: calc(var(--hw-spacing-small) + var(--hw-spacing-tiny));
    color: var(--hw-color-gray-dark);
  }

  &__button {
    margin: 0;
    margin-left: var(--hw-spacing-tiny);
  }

  &__button-inside {
    position: absolute;
    background: transparent;
    right: var(--hw-spacing-small);
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    opacity: 0;
    transition: opacity 0.1s ease, visibility 0.1s ease 0.11s;
    color: var(--hw-color-gray-dark);
    visibility: hidden;
  }

  &__button-inside:hover,
  &__button-inside:focus {
    color: var(--hw-color-input-accenter); 
  }

  &__suggestions {
    position: absolute;
    top: 84px;
    margin: 0;
    list-style-type: none;
    padding-top: var(--hw-spacing-smallest);
    padding-bottom: var(--hw-spacing-smallest);
    padding-left: 0;
    width: 100%;
    background-color: var(--hw-color-white);
    left: 0;
    right: 0;
    border-radius: var(--hw-border-radius);
  }

  &__suggestion {
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-separator-gray);
    &:last-of-type {
      border-bottom: 0px solid;
    }
  }

  &__suggestion-link {
    display: inline-block;
    width: 100%;
    transition: background-color 0.5s ease;
    padding: var(--hw-spacing-small);
    &:hover, &:focus, &:active {
      color: var(--hw-color-input-accent);
      transition: background-color 0s ease;
      z-index: 1;
      position: relative; /* To keep the outline on focus unobstructed */
      & .hw-search__suggestion-extra {
        color: var(--hw-color-input-accent);
      }
    }
  }

  &__suggestion-title {
    color: var(--hw-color-black);
    font-size: var(--hw-font-size-small);
    line-height: 1.2;
  }

  &__suggestion-extra {
    font-size: var(--hw-font-size-smaller);
    padding-top: var(--hw-spacing-smallest);
    color: var(--hw-color-gray-dark);
  }


  /**
   * Modifers
   */

  &--standalone {
    .hw-search__input {
      background: var(--hw-color-gray-lightest);

      &:hover, &:focus {
        border-bottom: var(--hw-border-thickness) solid var(--hw-color-input-accent);
        outline: 0;
      }
    }
    .hw-search__suggestions {
      background-color: var(--hw-color-gray-lightest);
    }
    .hw-search__input, .hw-search__placeholder {
      font-size: var(--hw-font-size-small);
      padding: var(--hw-spacing-small);
      padding-left: 48px;
    }
    .hw-search__icon {
      font-size: var(--hw-font-size-small);
      left: 18px;
    }
    .hw-search__button {
      padding: var(--hw-spacing-small) calc(var(--hw-spacing-smaller) * 2);
    }
  }



  /** Modifiers added by javascript **/
  &--static .hw-search__placeholder {
    animation: none;
  }

  &--active .hw-search__placeholder, &--dirty .hw-search__placeholder {
    color: var(--hw-color-gray-light);
  }

  &--hasvalue .hw-search__placeholder {
    visibility: hidden;
  }

  &--hasvalue .hw-search__button-inside {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s ease;
  }

  /** Manual modifiers **/

  &__suggestions--simple &__suggestion-title {
    color: var(--hw-color-link);
    padding-top: var(--hw-spacing-smaller);
    padding-bottom: var(--hw-spacing-smaller);
  }

  &__suggestions--simple &__suggestion-title:hover {
    color: var(--hw-color-link-hover);
  }


}

/**
 * Animations
 */

@keyframes movePlaceholder {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  75% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(-50px);
    opacity: 0;
  }

  91% {
    transform: translateY(50px);
  }

  92% {
    transform: translateY(50px);
    opacity: 0;
  }
}
