/**
 * Block
 */

.hw-dropdown {
  position: relative;
  height: var(--hw-spacing-larger);
  margin: 3px 0;

  &:focus {
    outline: 0;
  }

  &:focus .hw-dropdown__inner {
    border-color: var(--hw-color-gray-darker);
  }

  /* Clearfix */
  &::after {
    display: table;
    content: ' ';
    clear: both;
  }

  /**
  * Elements
  */

  &__inner {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    max-height: var(--hw-spacing-larger);
    border: 3px solid var(--hw-color-gray-light);
    background-color: var(--hw-color-white);
    font-size: var(--hw-font-size-small);
    cursor: pointer;
    transition: border-color 0.3s ease, max-height 0.3s ease, transform 0.3s ease;

    &:hover {
      border-color: var(--hw-color-gray-darker);
    }
  }

  &__placeholder {
    padding: 11px var(--hw-spacing-large) 9px var(--hw-spacing-small);
    margin: 3px 0;
    line-height: var(--hw-font-size-p);
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__arrow {
    position: absolute;
    right: 0;
    width: 60px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.86);

    &::before,
    &::after {
      position: absolute;
      top: 19px;
      right: var(--hw-spacing-small);
      display: block;
      width: 12px;
      height: 4px;
      content: '';
      background-color: var(--hw-color-gray);
      transform: rotate(-45deg);
      transition: transform 0.1s ease;
    }

    &::after {
      right: 24px;
      transform: rotate(45deg);
    }
  }

  &__options {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    background: var(--hw-color-white);
  }

  &__option {
    padding: var(--hw-spacing-smaller) 0;
    border-top: 3px solid var(--hw-color-gray-lighter);
    margin: 3px var(--hw-spacing-small);
    line-height: var(--hw-font-size-p);

    &:hover {
      color: var(--hw-color-primary-dark);
    }
    &--disabled {
      color: var(--hw-color-gray);
      &:hover {
        color: var(--hw-color-gray);
      }
    }
    &:first-child{
      border-top: 0;
    }
  }

  &__option[data-hw-dropdown-option-selected="true"] {
    color: var(--hw-color-primary);
  }

  /**
  * Modifiers
  */
  &--expanded .hw-dropdown {
    &__inner {
      z-index: 2;
      max-height: calc(100vh - 60px);
      border-color: var(--hw-color-gray-darker);
    }

    &__arrow::before {
      transform: rotate(45deg);
    }

    &__arrow::after {
      transform: rotate(-45deg);
    }
    /* Arrow hidden when open only for dropdown - it is needed in phone-input */
    &__arrow,
    &__placeholder{
      display: none;
    }
  }

  &--transition .hw-dropdown {
    &__placeholder{
      display: none;
    }
  }

  &--searchable {
    & .hw-dropdown__placeholder {
      outline: 0;
      border: 0;
    }
  }

  &--small {
    & .hw-dropdown__arrow {
      width: 30px;
    }

    & .hw-dropdown__arrow::before {
      right: 9px;
    }

    & .hw-dropdown__arrow::after {
      right: 15px;
    }
  }

  /**
  * Modifiers: Extra settings
  */

  &--is-too-big .hw-dropdown__inner {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &--is-too-big .hw-dropdown__inner {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
