/**
 * Block
 */

.hw-dropdown {
  position: relative;
  height: var(--hw-input-field-height);

  &:focus {
    outline: 0;
  }

  &:focus .hw-dropdown__inner {
    border-color: var(--hw-color-gray-darker);
  }

  /* Clearfix */
  &::after {
    display: table;
    content: ' ';
    clear: both;
  }

  /**
  * Elements
  */

  &__inner {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    border-radius: var(--hw-border-radius);
    max-height: var(--hw-input-field-height);
    border: none;
    color: var(--hw-color-black);
    background-color: var(--hw-color-gray-lightest);
    font-size: var(--hw-font-size-small);
    cursor: pointer;
    transition: border-color 0.3s ease, max-height 0.3s ease, transform 0.3s ease;

    &:hover {
      border-color: var(--hw-color-gray-darker);
    }
  }

  &__placeholder {
    padding: var(--hw-spacing-small-4);
    width: 100%;
    height: var(--hw-input-field-height);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: transparent;
    font-size: var(--hw-font-size-small);
    color: var(--hw-color-black);
    line-height: 1.4em;
  }

  &__arrow {
    position: absolute;
    right: 1px;
    width: 20px;
    top: 9px;
    background-color: var(--hw-color-gray-dark);

    &::before,
    &::after {
      position: absolute;
      top: 19px;
      right: var(--hw-spacing-small-4);
      display: block;
      width: 10px;
      height: 2px;
      content: '';
      background-color: var(--hw-color-gray);
      transform: rotate(-45deg);
      transition: transform 0.1s ease;
    }

    &::after {
      right: 22px;
      transform: rotate(45deg);
    }
  }

  &__options {
    padding: 0;
    margin: 0;
    top: calc(var(--hw-spacing-small-4) * 2 + var(--hw-font-size-smaller) + 8px);
    list-style-type: none;
    width: 100%;
  }

  &__option {
    padding: var(--hw-spacing-small-4) 0;
    border-top: var(--hw-border-thickness) solid var(--hw-color-gray-lighter);
    margin: 3px var(--hw-spacing-small-4);
    line-height: var(--hw-font-size-p);

    &:hover {
      color: var(--hw-color-primary-dark);
    }
    &--disabled {
      color: var(--hw-color-gray);
      &:hover {
        color: var(--hw-color-gray);
      }
    }
    &:first-child{
      border-top: 0;
    }
  }

  &__option[data-hw-dropdown-option-selected="true"] {
    color: var(--hw-color-primary-dark);
  }
  

  /**
  * Modifiers
  */

  &--expanded .hw-dropdown {
    &__inner {
      z-index: 2;
      max-height: calc(100vh - 60px);
      overflow-y: auto;
      border-color: var(--hw-color-gray-darker);
    }

    &__arrow::before {
      transform: rotate(45deg);
    }

    &__arrow::after {
      transform: rotate(-45deg);
    }
    /* Arrow hidden when open only for dropdown - it is needed in phone-input */
    &__arrow,
    &__placeholder{
      display: none;
    }
  }

  &--transition .hw-dropdown {
    &__placeholder{
      display: none;
    }
  }

  &--searchable {
    & .hw-dropdown__placeholder {
      outline: 0;
      border: 0;
    }
    &.hw-dropdown--expanded .hw-dropdown__placeholder,
    &.hw-dropdown--transition .hw-dropdown__placeholder{
      display: block;
    }
  }

  &--small {
    & .hw-dropdown__arrow {
      width: 30px;
    }

    & .hw-dropdown__arrow::before {
      right: 12px;
    }

    & .hw-dropdown__arrow::after {
      right: 18px;
    }
  }

  &--line {
    background: transparent;
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-gray-light);
    padding-left: 0px;
    padding-top: var(--hw-spacing-small-1);
    padding-bottom: var(--hw-spacing-small-3);
    height: calc(var(--hw-input-field-height) - var(--hw-spacing-small-4)  - var(--hw-spacing-small-4) + var(--hw-spacing-small-1) +  var(--hw-spacing-small-3));
    border-radius: 0px;

    &.hw-dropdown--native {
      background-image:
      /* Cut off the sharp ends of the arrow */
      linear-gradient(45deg, transparent 74%, var(--hw-color-white) 0%),
      linear-gradient(135deg, var(--hw-color-white) 26%, transparent 26%),
      /* Draw the arrow */
      linear-gradient(135deg, transparent 0, transparent 72%, var(--hw-color-white) 73%, var(--hw-color-white) 100%),
      linear-gradient(45deg, var(--hw-color-white) 0, var(--hw-color-white) 28%, var(--hw-color-gray) 29%, var(--hw-color-gray) 37%, transparent 38%, transparent 100%),
      linear-gradient(135deg, transparent 0, transparent 62%, var(--hw-color-gray) 63%, var(--hw-color-gray) 71%, var(--hw-color-white) 72%, var(--hw-color-white) 100%);
      background-size: var(--hw-spacing-small-4) var(--hw-spacing-small-4);
      background-position: calc(100% - var(--hw-spacing-small-4)) 25%;
      background-repeat: no-repeat;
    }

    .hw-dropdown__inner {
      background: transparent;
    }
    .hw-dropdown__placeholder {
      padding-left: 0px;
      padding-top: 0px;
    }
    .hw-dropdown__arrow {
      top: -5px;
    }
    .hw-dropdown__options {
      background: var(--hw-color-gray-lightest);
      padding: var(--he-spacing-small);
    }

    &:focus {
      border-bottom: var(--hw-border-thickness) solid var(--hw-color-primary-dark);
    }

    &[disabled], &:disabled, &[disabled="disabled"] {
      background: transparent;
      padding: var(--hw-spacing-small-4);
    }
  }

  /**
  * Modifiers: Extra settings
  */

  &--native {
    border: none;
    border-radius: var(--hw-border-radius);
    display: flex;
    width: 100%;
    height: var(--hw-input-field-height);
    font-size: var(--hw-font-size-small);
    cursor: pointer;
    color: var(--hw-color-black);
    background-color: var(--hw-color-gray-lightest);
    -webkit-appearance: none;
    padding: var(--hw-spacing-small-4);
    transition: border-color 0.3s ease, max-height 0.3s ease, transform 0.3s ease;

    &:hover, &:active, &:focus {
      border-color: var(--hw-color-gray-darker);
    }
    &:focus {
      outline: 0;
    }
    background-image:
    /* Cut off the sharp ends of the arrow */
    linear-gradient(45deg, transparent 74%, var(--hw-color-gray-lightest) 0%),
    linear-gradient(135deg, var(--hw-color-gray-lightest) 26%, transparent 26%),
    /* Draw the arrow */
    linear-gradient(135deg, transparent 0, transparent 72%, var(--hw-color-gray-lightest) 73%, var(--hw-color-gray-lightest) 100%),
    linear-gradient(45deg, var(--hw-color-gray-lightest) 0, var(--hw-color-gray-lightest) 28%, var(--hw-color-gray) 29%, var(--hw-color-gray) 37%, transparent 38%, transparent 100%),
    linear-gradient(135deg, transparent 0, transparent 62%, var(--hw-color-gray) 63%, var(--hw-color-gray) 71%, var(--hw-color-gray-lightest) 72%, var(--hw-color-gray-lightest) 100%);
    background-size: var(--hw-spacing-small-4) var(--hw-spacing-small-4);
    background-position: calc(100% - var(--hw-spacing-small-4)) 45%;
    background-repeat: no-repeat;
    /* Remove default down-arrow for IE */
    &::-ms-expand {
      display: none;
    }
    /* Color the selected option with the correct color for IE */
    &::-ms-value {
      color: var(--hw-color-gray-darker);
      background: none;
    }
  }

  &--is-too-big .hw-dropdown__inner {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &--is-too-big .hw-dropdown__inner {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
