/* Animation classes */

.hw-animate {
  animation-duration: 0.5s;
  animation-fill-mode: both;

  &--slide-in-bottom {
    animation-name: slide-in-bottom;
  }

  &--fade-in-overlay {
    animation-name: fade-in-overlay;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(64px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-overlay {
  0% {
    background: rgba(0, 0, 0, 0);
  }

  100% {
    background: rgba(0, 0, 0, 0.4);
  }
}

@keyframes fade-out-overlay {
  0% {
    background: rgba(0, 0, 0, 0.4);
  }

  100% {
    background: rgba(0, 0, 0, 0);
  }
}
