/**
 * Responsive utility classes
 *
*/

 .hw-mobile-only {
  @media(--large){
    display:none;
  }
 }

 .hw-desktop-only {
  @media(--max-medium),
  @media(--high-res-mobile){
    display: none;
  }
 }

@media print {
  .hw-desktop-only,
  .hw-mobile-only,
  .hw-screen-only { display: none; }
}

@media screen {
  .hw-print-only { display: none; }
}

