/**
 * Block
 */

.hw-footer {
  display: block;
  background: var(--hw-color-gray);

  /**
   * Elements
   */

  &__mobile {
    max-width: 510px;
    margin: 0 auto;

    @media (--large) {
      display: none;
    }
  }

  &__desktop {
    display: none;
    padding: var(--hw-spacing) var(--hw-spacing-larger) var(--hw-spacing-smaller) var(--hw-spacing-larger);

    @media (--large) {
      display: block;
      max-width: var(--hw-width-wide);
      margin: 0 auto;
    }
  }

  &__title {
    color: var(--hw-color-white);
    margin-bottom: var(--hw-spacing-smaller);
    font-family: var(--hw-font-primary-medium);
    font-size: var(--hw-font-size-lead);
  }

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;

    & a {
      font-family: var(--hw-font-primary-medium);
      line-height: 1.5;
      color: var(--hw-color-white);
    }

    & a:hover {
      border-bottom: 2px solid var(--hw-color-yellow);
    }
  }

  &__button {
    margin-bottom: var(--hw-spacing-smallest);
    font-family: var(--hw-font-primary-bold);
  }

  &__logo svg {
    display: block;
    height: 70px;
    width: 120px;
    margin: 0 auto;
  }

  &__legal {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin: 0 auto;
    padding: var(--hw-spacing-smaller) 0;

    @media (--large) {
      max-width: 550px;
    }

    & a {
      font-family: var(--hw-font-primary-medium);
      font-size: 12px;
      color: var(--hw-color-gray-dark);

      @media (--large) {
        font-size: var(--hw-font-size-small);
      }
    }

    & span {
      font-family: var(--hw-font-primary-regular);
      font-size: 12px;

      @media (--large) {
        font-size: var(--hw-font-size-small);
      }
    }
  }
}
