/**
 * Block
 */

.hw-textarea {
  font-size: var(--hw-font-size-small);
  padding: var(--hw-spacing-small);
  border: none;
  border-radius: var(--hw-border-radius);
  background-color: var(--hw-color-gray-lightest);
  display: block;
  width: 100%;
  transition: border 100ms;
  margin: var(--hw-spacing-tiny) 0;
  position: relative;
  -webkit-appearance: none;

  &::placeholder {
    color: var(--hw-color-gray-dark);
  }

  &:hover {

  }

  &:focus {
    outline: 0;
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-primary-dark);

    &::placeholder {
      color: var(--hw-color-gray-light);
    }
  }

  &::-webkit-resizer {

  }

  &:disabled {
    color: var(--hw-color-gray-light);
    user-select: none;
    cursor: not-allowed !important;
  }




  /**
   * Modifiers
   */

   /* This will NOT work, as textareas cannot be styled using :before and :after. This does not work with elements that cannot have other elements inside of them. Like textareas and img */;

  &--error,
  &--error:focus {
    position: relative;
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-secondary);
    transition: border 200ms;

    &::before {
      background: var(--hw-color-secondary);
      color: var(--hw-color-white);
      position: absolute;
      content: '!';
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 50%;
      bottom: 12px;
      right: 12px;
      text-align: center;
      z-index: 1000;
    }
  }
}
