/**
 * Block
 */

.hw-textarea {
  font-size: var(--hw-font-size-small);
  padding: var(--hw-spacing-smaller) var(--hw-spacing);
  border: 3px solid var(--hw-color-gray-light);
  background-color: var(--hw-color-white);
  color: var(--hw-color-gray-darker);
  display: block;
  width: 100%;
  transition: border 100ms;
  margin: 3px 0;
  position: relative;
  font-family: var(--hw-font-primary-medium);

  &::placeholder {
    color: var(--hw-color-gray);
  }

  &:hover {
    border: 3px solid var(--hw-color-gray);
  }

  &:focus {
    border: 3px solid var(--hw-color-gray-dark);
    outline: 0;
  }

  &[disabled] {
    border: 3px solid var(--hw-color-gray-lighter);
  }

  /**
   * Modifiers
   */

  &--error,
  &--error:focus {
    position: relative;
    border: 3px solid var(--hw-color-secondary);
    transition: border 200ms;

    &::before {
      background: var(--hw-color-gray);
      color: var(--hw-color-white);
      position: absolute;
      content: '!';
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 50%;
      bottom: 12px;
      right: 12px;
      text-align: center;
      z-index: 1;
    }
  }
}
