/**
 * Block
 */

.hw-textarea {
  font-size: var(--hw-font-size-small);
  padding: var(--hw-spacing-small);
  border: none;
  border-radius: var(--hw-border-radius);
  background-color: var(--hw-color-gray-lightest);
  display: block;
  width: 100%;
  transition: border var(--hw-transition-time-normal) var(--hw-transition-easing-normal);
  margin-top: var(--hw-spacing-tiny);
  position: relative;
  -webkit-appearance: none;

  &::placeholder {
    color: var(--hw-color-gray-dark);
  }

  &:hover {

  }

  &:focus {
    outline: 0;
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-input-accent);

    &::placeholder {
      color: var(--hw-color-gray-light);
    }
  }

  &::-webkit-resizer {

  }

  &:disabled {
    color: var(--hw-color-gray-light);
    user-select: none;
    cursor: not-allowed !important;
  }

  &::-webkit-resizer {
    /* Should be moved 2 px up and to the left. Have not found any good way to do this. Consider this a challenge :) */;
  }


  /**
   * Modifiers
   */

  &--line {
    background: transparent;
    border: var(--hw-border-thickness) solid var(--hw-color-gray-light);
    border-radius: var(--hw-border-radius);
    height: auto;

    &:focus {
      border: var(--hw-border-thickness) solid var(--hw-color-input-accent);
    }

    &.hw-textarea--error,
    &.hw-textarea--error:focus {
      position: relative;
      border: var(--hw-border-thickness-thick) solid var(--hw-color-secondary);
    }

    &.hw-textarea--error + .hw-error {
      padding-left: var(--hw-spacing-small) !important;
    }
  }



  &--error,
  &--error:focus {
    position: relative;
    border-bottom: var(--hw-border-thickness-thick) solid var(--hw-color-secondary);


    /* This will NOT work, as textareas cannot be styled using :before and :after. This does not work with elements that cannot have other elements inside of them. Like textareas and img */;

    &::before {
      background: var(--hw-color-secondary);
      color: var(--hw-color-white);
      position: absolute;
      content: '!';
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 50%;
      bottom: 12px;
      right: 12px;
      text-align: center;
      z-index: 1000;
    }
  }

  &--error + .hw-error:before {
    top: -38px;
  }
}
