/**
 * HEWDIG
 *
 * Card
 */

.hw-card {
  position: relative;
  background: var(--hw-color-white);
  transition: transform .3s;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--hw-spacing);

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
  }


  /**
   * States
   */

  &:hover {
      &::after {
        opacity: 1;
      }
  }
  &:hover .hw-card__media-inner {
    transform: scale(1.1);
  }

  /**
   * Elements
   */

  &__media {
    flex-grow: 1;
    overflow: hidden;
    height: 187px;
  }

  &__media-inner {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 1.4s cubic-bezier(0,0,.1,1);
  }

  &__contents {
    z-index: 1;
    min-height: 187px;
  }
  &__contents p {
    font-size: var(--hw-font-size-small);
    font-family: var(--hw-font-primay-medium);
  }
  &__contents h3 {
    color: var(--hw-color-gray-dark);
    font-family: var(--hw-font-primay-medium);
  }

  /**
   * Variants
   */

  &--dark .hw-card__contents {
    background: var(--hw-color-gray-darker);
  }
  &--dark .hw-card__contents h3,
  &--dark .hw-card__contents p {
    color: white;
  }

}
