/**
 * HEWDIG
 *
 * Card
 */

.hw-card {
  position: relative;
  background: var(--hw-color-white);
  transition: transform .3s;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--hw-spacing);

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
  }


  /**
   * States
   */

  &:hover {
      &::after {
        opacity: 1;
      }
  }
  &:hover .hw-card__media-inner {
    transform: scale(1.1);
  }

  /**
   * Elements
   */

  &__media {
    flex-grow: 1;
    overflow: hidden;
    height: 160px;
  }

  &__media-inner {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 1.4s cubic-bezier(0,0,.1,1);
  }

  &__body {
    z-index: 1;
  }
  &__title {
    color: var(--hw-color-gray-dark);
    font-family: var(--hw-font-primay-medium);
    margin-bottom: var(--hw-spacing-smallest);
  }

  &__text {
    display: inline-block;
    min-height: 60px;
    margin-top: var(--hw-spacing-smaller);
    font-size: var(--hw-font-size-small);
    font-family: var(--hw-font-primay-medium);
  }

  &__actions {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--hw-spacing-smaller);
    background: linear-gradient(to bottom, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 100%);
    z-index: 1;
  }

  &__tag-button {
    border: 0;
    background-color: var(--hw-color-secondary);
    min-width: 130px;
    font-family: var(--hw-font-primay-medium);
    padding: var(--hw-spacing-smallest);
  }

  &__date {
    color: var(--hw-color-white);
    font-size: var(--hw-font-size-lead);
    font-family: var(--hw-font-primay-medium);
  }
  &__date svg {
    fill: var(--hw-color-white);
    margin: 0 5px 4px 0;
    width: 19px;
  }

  /**
   * Variants
   */

  &--dark .hw-card__body {
    background: var(--hw-color-gray-darker);
  }
  &--dark .hw-card__title,
  &--dark .hw-card__text {
    color: white;
  }

}
