/**
 * Block
 */

.hw-stickynav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--hw-color-white);
  z-index: var(--z-index--stickynav);

  /**
   * Elements
   */

  &__inner {
    position: sticky;
    top: 0;
  }

  &__nav {
    background-color: var(--hw-color-white);
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    padding: 0 var(--hw-spacing-medium-2);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: var(--hw-spacing-medium-3);
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 90%);
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: var(--hw-spacing-small-3) var(--hw-spacing-small-4);
    color: var(--hw-color-gray-dark);
    font-size: var(--hw-font-size-small);

    &:hover {
      color: var(--hw-color-gray-darker);
    }

    &:hover::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--hw-color-primary);
      height: var(--hw-border-thickness);
    }

    &.hw-stickynav__link--active {
      color: var(--hw-color-gray-darker);
    }

    &.hw-stickynav__link--active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--hw-color-primary);
      height: var(--hw-border-thickness);
    }
  }
}
