/**
 * Block
 */

.hw-stickynav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: var(--hw-color-white);
  z-index: var(--z-index--stickynav);

  @media (--medium) {
    height: 72px;
  }

  /**
   * Elements
   */

  &__inner {
    position: sticky;
    top: 0;
  }

  &__nav {
    height: 45px;
    background-color: var(--hw-color-white);
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    padding: 0 var(--hw-spacing);

    @media (--medium) {
      height: 72px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: var(--hw-spacing-large);
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 90%);
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: var(--hw-spacing-smaller) var(--hw-spacing-small);
    color: var(--hw-color-gray-dark);
    font-size: var(--hw-font-size-small);
    font-family: var(--hw-font-primary-bold);
    font-weight: var(--hw-font-weight-bold);
    text-transform: uppercase;

    @media (--medium) {
      margin-top: 3px;
      padding: var(--hw-spacing) var(--hw-spacing-small);
    }

    &:hover {
      color: var(--hw-color-gray-darker);
    }

    &:hover::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--hw-color-primary-light);
      height: var(--hw-spacing-smallest);
    }

    &.hw-stickynav__link--active {
      color: var(--hw-color-gray-darker);
    }

    &.hw-stickynav__link--active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--hw-color-primary);
      height: var(--hw-spacing-smallest);
    }
  }
}
