.hw-icon {
  display: inline-block;
  width: var(--hw-spacing);
  height: var(--hw-spacing);
  fill: var(--hw-color-gray-light);
}

.hw-icon--small {
  width: var(--hw-spacing-small);
  height: var(--hw-spacing-small);
}

.hw-icon--large {
  width: var(--hw-spacing-large);
  height: var(--hw-spacing-large);
}

.hw-icon--primary {
  fill: var(--hw-color-primary);
}
