/**
 * Block
 */

.hw-fieldset {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  line-height: var(--hw-spacing);

  /**
   * Elements
   */

  &__legend {
    display: block;
    width: 100%;
    padding: var(--hw-spacing-smaller) var(--hw-spacing);
    margin: 0;
    margin-bottom: 2px;
    background: var(--hw-color-gray-lighter);
    font-size: var(--hw-font-size-p);
    font-family: var(--hw-font-primary-medium);
    color: var(--hw-color-gray-dark);
  }

  &__content {
    padding: var(--hw-spacing);
    background: var(--hw-color-gray-lighter);
  }

  /**
   * Variant for odd cases where a grid in the contents may require
   * custom margins and paddings
   */
  &__content--full {
    padding: 0;
    padding-top: var(--hw-spacing);
  }
}
