.hw-navbar__menu-button {
  z-index: var(--z-index--navbar-drawer-foreground);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: var(--hw-spacing);
  padding-right: var(--hw-spacing);
  border: 0;
  font-size: var(--hw-font-size-small);
  transition: color 0.1s ease;
  height: 44px;

  &-label-menu, &-label-close {
    display: none;
  }

  @media (--large) {
    position: relative;
    height: 72px;
    padding-right: 0;

    &-label-menu, &-label-close {
      padding-right: calc(var(--hw-spacing-small) + var(--hw-spacing-smaller));
      word-break: normal;
    }
  }
}

@media(--large) {
  .hw-navbar .hw-navbar__menu-button-label-menu {
    display: inline;
  }
  .hw-navbar--active {
    & .hw-navbar__menu-button-label-close {
      display: inline;
    }
    & .hw-navbar__menu-button-label-menu {
      display: none;
    }
  }
}
/**
 * Hamburger
 */

