/**
 * Block
 */

.hw-navbar {
  position: relative;
  background: var(--hw-color-white);
  border-bottom: 1px solid var(--hw-color-gray-lightest);
  height: var(--hw-navbar-height-mobile);
  @media (--large) {
    height: var(--hw-navbar-height-desktop);
  }

  /**
   * Elements
   */

  &__content {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: var(--hw-spacing);
    padding-right: var(--hw-spacing);

    @media (--xlarge) {
      padding-left: var(--hw-spacing-large);
      padding-right: var(--hw-spacing-large);
    }
  }

  &__logo {
    position: relative;
    width: var(--hw-logo-width);
    height: var(--hw-navbar-height-mobile);
    padding: 9px;
    margin: 0 auto;
    transform: translateY(0);
    opacity: 1;

    &-standard {
      visibility: visible;
      opacity: 1;
    }

    &-gray {
      position: absolute;
      top: 0;
      left: 0;
      height: var(--hw-navbar-height-mobile);
      padding: 9px;
      opacity: 0;
    }

    @media (--large) {
      position: relative;
      margin: 0;
      height: var(--hw-navbar-height-desktop);
      padding: 0;
    }
    &:hover {
      & .hw-navbar__logo-standard {
        opacity: 0;
      }
      & .hw-navbar__logo-gray {
        opacity: 1;
      }
    }
  }

  &__menu {
    display: flex;
  }

  &__item {
    z-index: var(--z-index--navbar-drawer-foreground);
    display: none;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.1s ease;
    font-size: var(--hw-font-size-small);
    line-height: var(--hw-navbar-height-mobile);

    @media (--large) {
      display: inline-block;
    }
  }

  &__icon {
    vertical-align: middle;
  }

  @media (--large) {
    &__item {
      line-height: var(--hw-navbar-height-desktop);
    }
    &__icon {
      margin-left: var(--hw-spacing-smallest);
    }
    &__item, &__menu-button, &__search-button {
      padding-left: var(--hw-spacing-small);
    }
    &__logo-gray {
      height: 100%;
      padding: 0;
    }
  }

  & .hw-navbar__item, & .hw-navbar__search-button, & .hw-navbar__menu-button,
  &__item, &__search-button, &__menu-button
  {
    outline: 0;
    color: inherit;
    background-color: transparent;
    &:hover, &:focus {
      color: var(--hw-color-primary-dark);
    }
  }

  &__search {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: var(--z-index--navbar-search);
    top: 96px;

    &::before {
      content: '';
      display: block;
      background-color: var(--hw-color-gray-lightest);
      height: var(--hw-navbar-height-mobile);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: var(--z-index--navbar);
      @media (--large){
        display: none;
      }
    }

    @media (--large) {
      top: 0;
    }
  }

  &__overlay {
    visibility: hidden;
    background: var(--hw-color-gray-lightest);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.2s ease;
    @media (--large){
      background: var(--hw-color-black);
      opacity: 0.3;
    }
  }

  &__close-search {
    position: fixed;
    top: 0;
    right: 24px;
    border: 0;
    line-height: 1;
    z-index: 401;
    height: var(--hw-navbar-height-mobile);
    color: inherit;
    background-color: transparent;
    @media (--large){
      position: absolute;
      color: var(--hw-color-white);
      height: var(--hw-navbar-height-desktop);
    }
  }

  &__menu-button-toggle {
    width: 26.25px;
  }

  &__bars, &__times {
    transition: opacity 0.1s ease;
  }

  &__bars {
    visibility: visible;
  }

  &__times {
    position: absolute;
    opacity: 0;
  }

  /**
  * Modifers: states
  */

  &--searching {
    & .hw-navbar__search {
      display: block;
      z-index: var(--z-index--navbar-search-foreground);
    }

    & .hw-navbar__menu {
      display: none;
    }

    & .hw-navbar__overlay {
      visibility: visible;
      z-index: var(--z-index--navbar-search);
    }
  }

  /**
   * Modifiers: variants
   */

  &--fixed &__content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--hw-color-white);
    z-index: var(--z-index--navbar);
  }

  &--active {
    background: transparent;

    & .hw-navbar__search-button, & .hw-navbar__item, & .hw-navbar__menu-button {
      color: var(--hw-color-gray);
    }
    /**
     * Logo while the menu is open
     */
    & .hw-navbar__logo {
      z-index: var(--z-index--navbar-drawer-foreground);
      transform: translateY(-100%);
      background: transparent !important;
      opacity: 0;

      @media (--large) {
        transform: translateY(0);
        opacity: 1;
      }
    }

    & .hw-navbar__logo-standard {
      height: 0;
      visibility: hidden;
      opacity: 0;

      @media (--large) {
        display: block;
      }
    }

    & .hw-navbar__bars {
      opacity: 0;
    }
    
    & .hw-navbar__times {
      opacity: 1;
    }
  }

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index--navbar);
    margin-bottom: 65px;
  }

  &--transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index--navbar);
    background: none;
    border: 0;
  }

  &--frontpage {
    margin-bottom: 0;
  }
}

.hw--searching {
  display: none;
  @media (--large){
    display: block;
  }
}
