.hw-navbar {
  &__drawer {
    background: var(--hw-color-white);
    width: 100%;
    min-height: 100vh;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &__drawer-content {
    margin-top: 70px;
    padding-left: var(--hw-spacing-small);
    padding-right: var(--hw-spacing-small);
    border-top: var(--hw-border-thickness) solid var(--hw-color-gray-lighter);

    font-size: var(--hw-font-size-small);

    a, .hw-link {
      border-bottom: none !important;
      text-decoration: none;
      color: var(--hw-color-primary-darker);
    }

    h5 {
      font-size: var(--hw-font-size-small);
      font-family: var(--hw-font-primary-medium);
      font-weight: var(--hw-font-weight-medium);
      margin-bottom: var(--hw-spacing-small);
    }

    .hw-flex {
      padding-top: var(--hw-spacing-even-larger-2);
    }

    @media (--large) {
      margin-top: 112px;
      padding-left: var(--hw-spacing);
      padding-right: var(--hw-spacing);
    }

    @media (--xlarge) {
      padding-left: var(--hw-spacing-larger);
      padding-right: var(--hw-spacing-larger);
    }
  }

  &__drawer-mobile {
    max-width: 690px;
    margin: 0 auto;
    padding-left: var(--hw-spacing-smaller);
    padding-right: var(--hw-spacing-smaller);

    @media (--large) {
      display: none;
    }
  }

  &__drawer-desktop {
    display: none;

    @media (--large) {
      display: block;
      max-width: var(--hw-width-wide);
      margin: 0 auto;
      padding-left: var(--hw-spacing);
      padding-right: var(--hw-spacing);
    }
  }

  &--active {
    & .hw-navbar__drawer {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
      visibility: visible;
      z-index: var(--z-index--navbar-drawer);
    }
  }
}
