/**
 * Block
 */

.hw-navbar {

  /**
   * Elements
   */

  &__login {
    background: var(--hw-color-gray);
    width: 100%;
    min-height: 100vh;
    padding: 0 var(--hw-spacing-larger);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  &__login-content {
    margin-top: 120px;
  }

  &--login-active {
    background: transparent;

    & .hw-navbar__login {
      animation: drawer-animation var(--hw-transition-time-slow) var(--hw-transition-easing-normal) both;
      visibility: visible;
      z-index: var(--z-index--navbar-drawer);
    }

    & .hw-navbar__logo {
      z-index: var(--z-index--navbar-drawer-foreground);
      background: transparent !important;
    }

    & .hw-navbar__logo-standard {
      display: none;
    }

    & .hw-navbar__logo-white {
      display: block;
    }

    & .hw-navbar__search-button {
      color: var(--hw-color-white);
      background: transparent !important;
      border-color: transparent !important;
      z-index: var(--z-index--navbar-drawer-foreground);
    }

    & .hw-navbar__menu-button {
      color: var(--hw-color-white);
      background: transparent !important;
      border-color: transparent !important;
      z-index: var(--z-index--navbar-drawer-foreground);
    }
  }
}
