/**
 * Block
 */

.hw-card-3 {
  padding: var(--hw-spacing-large) var(--hw-spacing);
  display: block;
  position: relative;
  text-align: center;
  background: var(--hw-color-primary-lighter);
  border-radius: var(--hw-border-radius);
  margin-bottom: var(--hw-spacing-small);

  &::after {

  }

  &:hover {
    opacity: 0.8;
  }

  &__icon {
    width: 72px;
    height: 72px;
  }

  &__title {
    margin-top: var(--hw-spacing-smaller);
    margin-bottom: var(--hw-spacing-large);
  }

  &__text {
    margin: var(--hw-spacing-large) 0;
  }

  &__media {
    height: auto;
    width: 100%;
  }
}
