.hw-media {
  display: table;
  width: 100%;

  /**
   * Elements
   */

  &__img,
  &__body {
    display: table-cell;
    vertical-align: middle;
  }

  &__img {
    padding: 0 var(--hw-spacing) 0 0;

    & img {
      max-width: inherit;
    }
  }

  /**
   * Modifiers
   */

  &--reversed {
    text-align: right;

    & .hw-media__img {
      padding: 0 0 0 var(--hw-spacing);
    }
  }

  &--top {
    & .hw-media__img,
    & .hw-media__body {
      vertical-align: top;
    }
  }

  &--bottom {
    & .hw-media__img,
    & .hw-media__body {
      vertical-align: bottom;
    }
  }

  &--responsive {
    display: block;

    & .hw-media__img {
      display: block;
      width: 100%;
      margin: 0 0 var(--hw-spacing) 0;
    }

    @media (--small) {
      display: table-cell;

      & .hw-media__img {
        display: inherit;
        width: auto;
        margin: 0 var(--hw-spacing) 0 0;
      }
    }
  }
}
