.hw-phone-input {
  display: block;
  width: 100%;

  &__label {
    min-width: 40px;
    display: block;
    font-size: var(--hw-font-size-small);
    margin-bottom: 3px;

    &[disabled] {
      color: var(--hw-color-gray-light);
    }
  }

  &__group {
    display: flex;
    position: relative;
  }

  & .hw-dropdown {
    width: auto;
    max-height: 42px;
    border: 3px solid transparent;
    overflow: hidden;
    position: absolute;
    color: var(--hw-color-gray-dark);

    &:focus {
      color: var(--hw-color-gray-darker);
    }

    &__inner {
      border: 0;
      position: relative;
      background: transparent;
      height: 42px;

      &::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: var(--hw-color-gray);
        right: 0;
      }
    }

    &__options {
      background: var(--hw-color-white);
      border: 3px solid var(--hw-color-gray);
      width: 0;
      display: none;
    }

    &__option:first-of-type {
      border-top: 0;
    }

    &__placeholder {
      position: relative;
      padding: 9px var(--hw-spacing-smallest) 9px var(--hw-spacing-small) !important;
      display: inline-block;
      width: auto !important;
      vertical-align: top;
    }

    &:focus .hw-dropdown__placeholder::after {
      background-color: var(--hw-color-gray-dark);
    }

    &__arrow {
      display: inline-block;
      position: relative !important;
      height: 41px;
      width: 30px;
      background: transparent;
    }

    &__arrow::before {
      background-color: var(--hw-color-gray);
    }

    &__arrow::after {
      background-color: var(--hw-color-gray);
    }

    &:focus .hw-dropdown__arrow::before {
      background-color: var(--hw-color-gray-dark);
    }

    &:focus .hw-dropdown__arrow::after {
      background-color: var(--hw-color-gray-dark);
    }

    &--expanded {
      max-width: 100%;
      width: 100%;
      overflow: visible;
      border: 0;

      & .hw-dropdown__inner {
        height: auto;
        border: 3px solid var(--hw-color-gray);
        background: var(--hw-color-white);

        &::after {
          top: 0;
          right: 0;
          display: none;
        }

        &::before {
          content: "";
          position: absolute;
          top: 42px;
          width: 100%;
          height: 3px;
          background: var(--hw-color-gray-lighter);
        }
      }

      & .hw-dropdown__options {
        width: 100%;
        border: 0;
        display: block;
      }
    }
  }

  & .hw-input {
    width: 100%;
    padding-left: calc(95px + var(--hw-spacing-smallest));
  }
}
