/**
 * Block
 */

.hw-phone-input {
  display: block;
  width: 100%;

  &__label {
    @extend .hw-label;
    min-width: 40px;
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: var(--hw-spacing-small);

    &[disabled] {
      color: var(--hw-color-gray-light);
    }
    &:focus-within {
      & .hw-phone-input__group{
        border-bottom: var(--hw-border-thickness) solid var(--hw-color-primary-dark);
      }
    }
  }

  /**
   * Elements
   */

  &__group {
    display: flex;
    position: relative;
    margin-top: var(--hw-spacing-tiny);
    border: var(--hw-border-thickness) solid transparent;
    border-radius: var(--hw-border-radius);
  }

  & .hw-dropdown {
    width: auto;
    border: var(--hw-border-thickness) solid transparent;
    overflow: hidden;
    position: absolute;
    color: var(--hw-color-gray-dark);

    &:focus {
      color: var(--hw-color-gray-darker);
    }

    &__inner {
      border: 0;
      position: relative;
      background: transparent;

      &::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }

    &__options {
      display: none;
    }
    &__option:first-of-type {
      border-top: 0;
    }

    &__placeholder {
      width: auto !important;
      height: var(--hw-input-field-height);
      font-size: var(--hw-font-size-small);
      line-height: 1.5em;
    }

    &__arrow {
      background: transparent;
      position: relative;
      margin-left: 7px;
      width: 10px;
      top: 13px;

      &::before,
      &::after {
        position: absolute;
        top: 16px;
        right: var(--hw-spacing-small);
        display: block;
        width: 5px;
        height: 1px;
        content: '';
        background-color: var(--hw-color-gray);
        transform: rotate(-45deg);
        transition: transform 0.1s ease;
      }

      &::after {
        right: 19px;
        transform: rotate(45deg);
      }
    }

    &--expanded {
      max-width: 100%;
      width: 100%;
      overflow: visible;
      border: 0;

      & .hw-dropdown__inner {
        height: auto;
        border: none;
        background: var(--hw-color-gray-lightest);

        &::after {
          top: 0;
          right: 0;
          display: none;
        }

        & .hw-dropdown__arrow{
          display: block;
        }
      }

      & .hw-dropdown__options {
        display: block;
      }
      /* Override - Display placeholder always */
      & .hw-dropdown__placeholder {
        display: block;
      }
    }
    &--transition .hw-dropdown__placeholder {
      display: block;
    }
    &--native {
      border-right: none;
      margin: 0;
      font-size: var(--hw-font-size-small);
      width: auto;
      padding-right: 25px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;

      background-image:
      /* Cut off the sharp ends of the arrow */
      linear-gradient(45deg, transparent 74%, var(--hw-color-gray-lightest) 0%),
      linear-gradient(135deg, var(--hw-color-gray-lightest) 26%, transparent 26%),
      /* Draw the arrow */
      linear-gradient(135deg, transparent 0, transparent 72%, var(--hw-color-gray-lightest) 73%, var(--hw-color-gray-lightest) 100%),
      linear-gradient(45deg, var(--hw-color-gray-lightest) 0, var(--hw-color-gray-lightest) 28%, var(--hw-color-gray) 29%, var(--hw-color-gray) 37%, transparent 38%, transparent 100%),
      linear-gradient(135deg, transparent 0, transparent 62%, var(--hw-color-gray) 63%, var(--hw-color-gray) 71%, var(--hw-color-gray-lightest) 72%, var(--hw-color-gray-lightest) 100%);
      background-size: 8px 8px;
      background-position: calc(100% - 18px) 48%;
      background-repeat: no-repeat;

      & ~ .hw-input {
        padding: var(--hw-spacing-small);
        padding-left: 0px;
        height: var(--hw-input-field-height);
        border-left: none;
        margin: 0 !important;
        transition: border-color 0.3s ease;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }

  /**
   * Modifiers
   */

  &--line {
    input {
      @extend .hw-input--line;
    }
    .hw-input {
      padding-left: 70px !important;
    }
    .hw-dropdown {
      @extend .hw-dropdown--line;
    }
  }

  & .hw-input {
    width: 100%;
    padding-left: calc(70px + var(--hw-spacing-smallest));
    margin-top: 5px !important;

    &:hover, &:focus, &:active {
      border-color: transparent;
    }
  }
}
