/**
 * Block
 */

.hw-label {
  font-size: var(--hw-font-size-small);
  font-family: var(--hw-font-primary-medium);
  margin-bottom: var(--hw-spacing-small);
  display: block;

  &[disabled] {
    color: var(--hw-color-gray-light);
  }
}
