/**
 * Block
 */

.hw-navbar {
  position: relative;
  background: var(--hw-color-white);
  border-bottom: 1px solid var(--hw-color-gray-lightest);
  height: 78px;

  /**
   * Elements
   */

  &__content {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: var(--hw-spacing);
    padding-right: var(--hw-spacing);

    @media (--xlarge) {
      padding-left: var(--hw-spacing-large);
      padding-right: var(--hw-spacing-large);
    }
  }

  &__logo {
    position: relative;
    width: 133px;
    height: 78px;
    margin: 0 auto;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s ease;

    @media (--large) {
      position: relative;
      margin: 0;
    }
  }

  &__logo-standard {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
  }

  &__logo-white {
    visibility: hidden;
    transition: all 0s ease;
    opacity: 0;

    @media (--large) {
      display: none;
    }
  }

  &__logo:focus {
    cursor: pointer;
    outline: 0;
    background: var(--hw-color-gray-lightest);
  }

  &__menu {
    display: flex;
  }

  &__item,
  &__search-button {
    padding: 0 var(--hw-spacing-small);
    line-height: 78px;
    display: none;
    outline: 0;
    color: var(--hw-color-gray-darker);
    border: 0;
    cursor: pointer;
    text-decoration: none;
    transition: background 100ms, color 0.3s ease;
    font-family: var(--hw-font-primary-medium);
    font-size: var(--hw-font-size-small);

    @media (--large) {
      display: inline-block;
    }
  }

  &__item:hover,
  &__item:focus {
    outline: 0;
    fill: var(--hw-color-primary-dark);
    color: var(--hw-color-primary-dark);
  }

  &__menu-button {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding: calc(var(--hw-spacing) + 3px) var(--hw-spacing-small) var(--hw-spacing) var(--hw-spacing-small);
    border: 0;
    background: var(--hw-color-white);
    color: var(--hw-color-gray-darker);
    font-family: var(--hw-font-primary-medium);
    font-size: var(--hw-font-size-small);
    transition: color 0.3s ease;
    & > span + span {
      /* Don't display the second span */
      display: none;
    }

    & > span {
      display: none;

      @media (--large) {
        display: inline;
      }
    }

    @media (--large) {
      position: relative;
      padding: 0 0 0 var(--hw-spacing-small);
    }
  }

  &__search-button {
    border: 0;
  }

  &__search-icon,
  &__login-icon {
    height: 24px;
    width: 24px;
    margin: 0 0 4px 3px;
  }

  &__menu-button:hover,
  &__menu-button:focus,
  &__search-button:hover,
  &__search-button:focus {
    fill: var(--hw-color-primary-dark);
    color: var(--hw-color-primary-dark);
    outline: 0;
    cursor: pointer;
  }

  &__search {
    display: none;
    position: absolute;
    left: 220px;
    right: 220px;
    z-index: var(--z-index--navbar-search);
  }

  &__overlay {
    visibility: hidden;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &__title {
    color: var(--hw-color-white);
    margin-bottom: var(--hw-spacing);
  }

  &__menu-group {
    @media (--large) {
      margin-top: var(--hw-spacing);
    }
  }

  &__menu-group-title {
    font-size: var(--hw-font-size-p);
    color: var(--hw-color-white);
    padding-bottom: var(--hw-spacing-smallest);
  }

  &__menu-group-links {
    list-style: none;
    margin-top: 0;
    padding-left: 0;

    @media (--large) {
      padding-left: var(--hw-spacing-small);
    }

    & a {
      font-size: var(--hw-font-size-small);
      font-family: var(--hw-font-primary-medium);
      color: var(--hw-color-white);
      display: block;
      position: relative;
      text-decoration: none;
      width: 100%;
      padding-top: var(--hw-spacing-smaller);
      padding-bottom: var(--hw-spacing-smaller);
      padding-left: 0;

      @media (--large) {
        display: inline;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
      }
    }

    & a:active {
      background-color: var(--hw-color-gray-dark);
    }

    & a::before {
      display: none;

      @media (--large) {
        position: absolute;
        top: 3px;
        content: "";
        width: 10px;
        height: 10px;
        display: inline-block;
        background-size: contain;
        transition: all 0.5s ease;
        transform: translateX(0);
        left: -var(--hw-spacing-small);
        background-image: url('data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMwIDMwIj48dGl0bGU+Y2FyZXQtcmlnaHQ8L3RpdGxlPjxwYXRoIGZpbGw9IndoaXRlIiBkPSJNOS42MyAwTDUuMTUgNC4zOCAxNS45IDE1IDUuMTUgMjUuNjMgOS42MyAzMGwxNS4yMi0xNUw5LjYzIDB6Ii8+PC9zdmc+');
      }
    }

    & a:hover::before {
      @media (--large) {
        transform: translateX(var(--hw-spacing-smallest));
      }
    }
  }

  /**
  * Modifers: states
  */

  &--searching {
    & .hw-navbar__search {
      display: block;
      z-index: var(--z-index--navbar-search-foreground);
    }

    & .hw-navbar__menu {
      display: none;
    }

    & .hw-navbar__overlay {
      visibility: visible;
      opacity: 0.3;
      z-index: var(--z-index--navbar-search);
    }
  }

  /**
   * Modifiers: variants
   */

  &--active {
    background: transparent;

    & .hw-navbar__drawer {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
      visibility: visible;
      z-index: var(--z-index--navbar-drawer);
    }
    /**
     * Logo while the menu is open
     */
    & .hw-navbar__logo {
      z-index: var(--z-index--navbar-drawer-foreground);
      transform: translateY(-100%);
      background: transparent !important;
      opacity: 0;

      @media (--large) {
        transform: translateY(0);
        opacity: 1;
      }
    }

    & .hw-navbar__logo-standard {
      height: 0;
      visibility: hidden;
      opacity: 0;

      @media (--large) {
        display: block;
      }
    }

    & .hw-navbar__logo-white {
      opacity: 1;
      visibility: visible;

      @media (--large) {
        display: block;
        height: auto;
      }
    }

    /**
     * Menu button while the menu is open
     */
    & .hw-navbar__menu-button {
      color: var(--hw-color-white);
      background: transparent !important;
      border-color: transparent !important;
      z-index: var(--z-index--navbar-drawer-foreground);

      @media (--large) {
        &:focus {
          color: var(--hw-color-gray-darker);
        }
        &:hover {
          color: var(--hw-color-gray-lighter);
        }
        /*
          Toggle between displaying the first and the second span.
          If only one span exists, always show it
        */
        & > span:first-child {
              display: none;
        }
        & > span + span {
              display: inline;
        }
        & > span:only-of-type {
              display: inline;
        }
      }

      &:focus .hw-hamburger__part {
        @media (--large) {
          background: var(--hw-color-gray-darker);
        }
      }
      &:hover .hw-hamburger__part {
        background: var(--hw-color-gray-darker);
        @media (--large) {
          background: var(--hw-color-gray-lighter);
        }
      }
    }
  }

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index--navbar);
    margin-bottom: 65px;
  }

  &--transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index--navbar);
    background: none;
    border: 0;
  }

  &--frontpage {
    margin-bottom: 0;
  }
}
