.hw-navbar {
  &__drawer {
    background: var(--hw-color-gray);
    width: 100%;
    min-height: 100vh;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;

    @media (--large) {
      background: var(--hw-color-white);
    }
  }

  &__drawer-content {
    margin-top: 120px;
    padding-left: var(--hw-spacing);
    padding-right: var(--hw-spacing);

    @media (--large) {
      padding-left: var(--hw-spacing);
      padding-right: var(--hw-spacing);
    }

    @media (--xlarge) {
      padding-left: var(--hw-spacing-larger);
      padding-right: var(--hw-spacing-larger);
    }
  }

  &__drawer-mobile {
    max-width: 690px;
    margin: 0 auto;

    @media (--large) {
      display: none;
    }
  }

  &__drawer-desktop {
    display: none;

    @media (--large) {
      display: block;
      max-width: var(--hw-width-wide);
      margin: 0 auto;
      padding-left: var(--hw-spacing);
      padding-right: var(--hw-spacing);
    }
  }
}
