/**
 * Block
 */

.hw-checkbox {
  position: relative;
  display: table;
  padding-left: calc(16px + 12px);
  margin-bottom: var(--hw-spacing-smaller);
  cursor: pointer;
  font-size: var(--hw-font-size-smaller);
  color: var(--hw-color-black);

  &:last-child {
    margin-bottom: 0;
  }


  &[disabled] {
    color: var(--hw-color-gray-dark);
  }


  /**
   * Elements
   */


  &__indicator {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--hw-color-primary-darker);
    line-height: 16px;
    background-color: transparent;
    user-select: none;
    text-align: center;
    border-radius: 0;
    transition: border 100ms;
  }

  & > input {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    vertical-align: middle;

    &:checked ~ .hw-checkbox__indicator {
      border-color: var(--hw-color-primary-darker);

      &::before {
        position: absolute;
        top: 5px;
        left: 3px;
        display: inline-block;
        width: 8px;
        height: 4px;
        border-bottom: 2px solid var(--hw-color-primary);
        content: "";
        transform: translateY(-50%) rotate(-45deg);
      }

      &::after {
        position: absolute;
        top: 7px;
        left: 3px;
        display: inline-block;
        width: 4px;
        height: 4px;
        border-left: 2px solid var(--hw-color-primary);
        content: "";
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    &:hover ~ .hw-checkbox__indicator {
      border: 2px solid var(--hw-color-primary);
    }

    &:focus ~ .hw-checkbox__indicator {
      border: 2px solid var(--hw-color-primary);
    }

    &:disabled ~ .hw-checkbox__indicator {
      border-color: var(--hw-color-gray-lighter);
      background-color: transparent;
      cursor: not-allowed;
    }

    &:disabled:checked ~ .hw-checkbox__indicator {
      border-color: var(--hw-color-gray-light);
      background: var(--hw-color-gray-lighter);
    }
  }



  /**
   * Modifers
   */

  &--error {
    position: relative;
  }

  &--error .hw-checkbox__indicator {
    border: 2px solid var(--hw-color-secondary) !important;
    transition: border 150ms;

    &::before {
      border-bottom-color: var(--hw-color-black) !important
    }
    &::after {
      border-left-color: var(--hw-color-black) !important
    }
  }

  &--horisontal {
    display: inline-block;
    margin-left: var(--hw-spacing);

    &.hw-text-small {
      display: inline-block;
    }
  }
}
