/**
 * Block
 */

.hw-checkbox {
  position: relative;
  display: block;
  padding-left: 2rem;
  margin-bottom: var(--hw-spacing-smaller);
  cursor: pointer;
  font-size: var(--hw-font-size-small);
  color: var(--hw-color-gray-darker);

  &:last-child {
    margin-bottom: 0;
  }

  /**
   * Elements
   */

  &__indicator {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 22px;
    height: 22px;
    border: 3px solid var(--hw-color-gray-light);
    line-height: 22px;
    background-color: var(--hw-color-white);
    user-select: none;
    text-align: center;
    border-radius: 0;
    transition: border 100ms;
  }

  & > input {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    vertical-align: middle;

    &:checked ~ .hw-checkbox__indicator {
      border-color: var(--hw-color-gray-darker);

      &::before {
        position: absolute;
        top: 6px;
        left: 3px;
        display: inline-block;
        width: 10px;
        height: 9px;
        border-bottom: 3px solid var(--hw-color-gray-darker);
        content: '';
        transform: translateY(-50%) rotate(-45deg);
      }

      &::after {
        position: absolute;
        top: 7px;
        left: 3px;
        display: inline-block;
        width: 11px;
        height: 7px;
        border-left: 3px solid var(--hw-color-gray-darker);
        content: '';
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    &:hover ~ .hw-checkbox__indicator {
      border: 3px solid var(--hw-color-gray-darker);
    }

    &:focus ~ .hw-checkbox__indicator {
      border: 3px solid var(--hw-color-gray-darker);
    }

    &:disabled ~ .hw-checkbox__indicator {
      border-color: var(--hw-color-gray-light);
      background: var(--hw-color-gray-lighter);
    }

    &:disabled:checked ~ .hw-checkbox__indicator {
      border-color: var(--hw-color-gray-light);
      background: var(--hw-color-gray-lighter);
    }
  }

  /**
   * Modifiers
   */

  &--horisontal {
    display: inline-block;
    margin-left: var(--hw-spacing);
    &.hw-text-small {
      display: inline-block;
    }
  }
}
