/**
 * Block
 */

.hw-checkbox {
  position: relative;
  display: table;
  padding-left: calc(16px + 12px);
  cursor: pointer;
  font-size: var(--hw-font-size-small);
  color: var(--hw-color-black);
  margin-right: var(--hw-spacing-small-4);
  margin-top: var(--hw-spacing-small-4);

  a {
    @extend .hw-link;
    font-size: var(--hw-font-size-small);
  }

  &:last-child {
    margin-bottom: 0;
  }

  * {
    line-height: unset;
  }


  &[disabled] {
    color: var(--hw-color-gray-dark);
    cursor: not-allowed;
  }


  /**
   * Elements
   */


  &__indicator {
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--hw-color-primary-darker);
    line-height: 16px;
    background-color: transparent;
    user-select: none;
    text-align: center;
    border-radius: 0;
  }

  & > input {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    vertical-align: middle;

    &:checked ~ .hw-checkbox__indicator {
      border-color: var(--hw-color-primary-darker);

      &::before {
        position: absolute;
        top: 5px;
        left: 3px;
        display: inline-block;
        width: 7px;
        height: 4px;
        border-bottom: 2px solid;
        border-color: var(--hw-color-checkbox-accent);
        content: "";
        transform: translateY(-50%) rotate(-45deg);
      }

      &::after {
        position: absolute;
        top: 7px;
        left: 3px;
        display: inline-block;
        width: 3px;
        height: 4px;
        border-left: 2px solid;
        border-color: var(--hw-color-checkbox-accent);
        content: "";
        transform: translateY(-50%) rotate(-45deg);
      }
    }


    &:disabled ~ .hw-checkbox__indicator {
      border-color: var(--hw-color-gray-normal);
      background-color: transparent;
      cursor: not-allowed;
    }

    &:disabled:checked ~ .hw-checkbox__indicator {
      border-color: var(--hw-color-gray-normal);
      background: var(--hw-color-gray-normal);
    }
  }



  /**
   * Modifers
   */

  &--bounding {
    display: inline-block;
    background: var(--hw-color-primary-lighter);
    padding: calc(var(--hw-spacing-small-4) - 2px) calc(var(--hw-spacing-medium-4) - var(--hw-spacing-small-1)) var(--hw-spacing-small-4) calc(var(--hw-spacing-medium-2) * 2);
    border-radius: var(--hw-border-radius);
    border: 1px solid;
    border-color: transparent;
    height: auto;

    .hw-checkbox__indicator {
      top: calc(var(--hw-spacing-medium-2) - var(--hw-spacing-small-1));
      left: calc(var(--hw-spacing-medium-2) - var(--hw-spacing-small-1));
    }

    &[disabled] {
      background: var(--hw-color-gray-light-fill);
    }

    &.hw-checkbox--error {
      border: var(--hw-border-thickness) solid var(--hw-color-alert-yellow);
    }
  }

  &--full {
    width: 100%;
  }

  &--error {
    position: relative;
    margin-bottom: var(--hw-spacing-small-1);
  }

  &--error .hw-checkbox__indicator {
    border: 2px solid var(--hw-color-alert-yellow) !important;

    &::before {
      border-bottom-color: var(--hw-color-black) !important
    }
    &::after {
      border-left-color: var(--hw-color-black) !important
    }
  }

  &--horisontal {
    display: inline-block;

    &.hw-text-small {
      display: inline-block;
    }
  }
}
