/**
 * Block
 */

.hw-show-more {
  display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
  border: 0;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    right: calc(50% + 70px);
    display: block;
    height: 1px;
    background-color: var(--hw-color-gray-light-stroke);
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    left: calc(50% + 70px);
    display: block;
    height: 1px;
    background-color: var(--hw-color-gray-light-stroke);
  }

  &:hover {
    .hw-show-more__button {
      color: var(--hw-color-primary-dark);
    }
  }


  /**
  * Elements
  */

  &__button {
    color: var(--hw-color-primary-dark);
    border: none;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    font-size: var(--hw-font-size-smaller);
    outline: none;
  }

  &__button::after {
    content: '+';
    color: var(--hw-color-primary-dark);
    margin-left: calc(var(--hw-spacing-small-2) + var(--hw-spacing-small-1));
    font-family: var(--hw-font-primary-regular);
    font-weight: var(--hw-font-weight-regular);
    font-size: 24px;
    vertical-align: -8%;
  }


  /**
   * Modifiers
   */

  &--expanded .hw-toggle__contents {
    display: block;
  }

  &--expanded .hw-toggle__button::after {
    content: '-';
  }
}

/**
  * no-js fallbacks
  */

.no-js .hw-toggle__contents {
  display: block;
}
