/**
 * Block
 */

.hw-show-more {
  display: block;
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  font-size: var(--hw-font-size-small);
  border: 0;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    right: calc(50% + 80px);
    display: block;
    height: 3px;
    background-color: var(--hw-color-gray-light);
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    left: calc(50% + 80px);
    display: block;
    height: 3px;
    background-color: var(--hw-color-gray-light);
  }

  &:hover {
    color: var(--hw-color-primary-dark);
  }

  /**
  * Elements
  */

  &__text::after {
    content: "+";
    margin-left: var(--hw-spacing-smaller);
    font-family: var(--hw-font-primary-bold);
    font-size: var(--hw-spacing-small);
  }

  /**
   * Modifiers
   */

  &--expanded .hw-toggle__contents {
    display: block;
  }

  &--expanded .hw-toggle__text::after {
    content: "-";
  }
}

/**
  * no-js fallbacks
  */

.no-js .hw-toggle__contents {
  display: block;
}
