.hw-navbar {
  background: var(--hw-color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  &__logo {
    width: 150px;
    height: 50px;
  }

  &__menu {
    display: flex;
  }

  &__item {
    padding: var(--hw-spacing-large);
    display: inline-block;
    color: var(--hw-color-gray-dark);
    border-left: 1px solid var(--hw-color-gray-lighter);
    text-decoration: none;
    transition: background 100ms;
    font-family: var(--hw-font-primay-bold);
    text-transform: uppercase;
  }

  &__item:hover {
    background: var(--hw-color-gray-lighter);
  }

  &__button {
    display: flex;
    align-items: center;
    padding: var(--hw-spacing);
    border: 0;
    color: var(--hw-color-gray-dark);
    border-left: 1px solid var(--hw-color-gray-lighter);
    font-family: var(--hw-font-primay-bold);
    text-transform: uppercase;
  }

  &__button svg {
    margin-left: var(--hw-spacing-xsmall);
  }

  &__button:hover,
  &__button:focus {
    background: var(--hw-color-gray-lighter);
    outline: 0;
    cursor: pointer;
  }

  &__drawer {
    background: var(--hw-color-white);
    border-top: 1px solid var(--hw-color-gray-lighter);
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: var(--hw-spacing);
    position: absolute;
    display: none;
  }

  &__drawer--active {
    animation: drawer-animation 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    display: block;
    z-index: 100;
  }
}
