.hw-navbar {
  background: var(--hw-color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--hw-color-gray-lighter);
  margin-bottom: 65px;

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  &--transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: none;
    border: 0;
  }

  &--transparent .hw-navbar__item {
    border: 0;
    color: var(--hw-color-white);

    &:hover {
      background: none;
    }
  }

  &--transparent .hw-navbar__button {
    border: 0;
    color: var(--hw-color-white);

    &:hover,
    &:focus {
      background: none;
    }
  }

  &--transparent .hw-hamburger__part {
    background: var(--hw-color-white);
  }

  &--frontpage {
    margin-bottom: 0;
  }

  &__logo {
    width: 100px;
    height: 40px;
    margin-left: 1rem;
  }

  &__menu {
    display: flex;
  }

  &__item {
    padding: var(--hw-spacing);
    display: inline-block;
    color: var(--hw-color-gray-dark);
    border-left: 1px solid var(--hw-color-gray-lighter);
    text-decoration: none;
    transition: background 100ms;
    font-family: var(--hw-font-primay-bold);
    text-transform: uppercase;
    font-size: var(--hw-font-size-small);
  }

  &__item:hover {
    background: var(--hw-color-gray-lighter);
  }

  &__button {
    display: flex;
    align-items: center;
    padding: var(--hw-spacing);
    border: 0;
    color: var(--hw-color-gray-dark);
    border-left: 1px solid var(--hw-color-gray-lighter);
    font-family: var(--hw-font-primay-bold);
    text-transform: uppercase;
    font-size: var(--hw-font-size-small);
  }

  &__button svg {
    margin-left: var(--hw-spacing-xsmall);
  }

  &__button:hover,
  &__button:focus {
    background: var(--hw-color-gray-lighter);
    outline: 0;
    cursor: pointer;
  }

  &__drawer {
    background: var(--hw-color-white);
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: var(--hw-spacing);
    position: absolute;
    display: none;
  }

  &__drawer--active {
    animation: drawer-animation 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    display: block;
    z-index: 2000;
  }
}
