.hw-search {
  background: rgba(255, 255, 255, .6);
  display: block;
  position: absolute;
  padding-left: 2rem;
  top: 71px;
  left: 0;
  width: 100%;
  display: block;
  transition:
    width 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275),
    background 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275),
  ;

  &--frontpage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(255, 255, 255, .9);

    @media (--medium) {
      width: 600px;
    }
  }

  &--stick {
    transform: none;
    width: 100vw;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    position: fixed;
    background: rgba(255, 255, 255, .6);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, .2);
  }

  &__input {
    font-size: 1.25rem;
    margin: 0;
    border: 0;
    padding: 1.25rem 2rem;
    font-family: var(--hw-font-primay-medium);
    width: 100%;
  }

  &__input:focus {
    outline: 0;
  }

  &__icon {
    fill: var(--hw-color-gray-light);
    position: absolute;
    left: 1rem;
    width: 2rem;
    top: 0;
  }
}
