/* Placeholder for the help tip contents in px as the content box width is fixed */
%left {
  right: -7px;
}
%left::after {
  right: 6%;
}

%right {
  right: -270px;
}
%right::after {
  right: 93%;
}

%middle {
  right: -140px;
}
%middle::after {
  right: 50%;
}

.hw-help-tip {
    display: inline-block;
    position: relative;
    margin-right: var(--hw-spacing-smallest);
    &:last-of-type {
      margin-right: 0;
    }

    &__button {
        border: 0;
        & span{
          margin-right: 4px;
        }
        & .hw-help-tip__wrapper{
          position: relative;
          display: inline-block;
          &::after{
            content: " ";
            visibility: hidden;
            position: absolute;
            bottom: 20px;
            right: 3px;
            border-width: 6px;
            border-style: solid;
            border-color: var(--hw-color-gray-darkest) transparent transparent transparent;
          }
        }
        & .hw-help-tip__content {
          @extend .hw-text-less-line-height;
          display: block;
          visibility: hidden;
          color: var(--hw-color-gray-lightest);
          background-color: var(--hw-color-gray-darkest);
          padding: var(--hw-spacing-smallest);
          font-family: var(--hw-font-primary-regular);
          font-size: var(--hw-font-size-small);
          max-width: 300px;
          width: 300px;
          position: absolute;
          bottom: 38px;
          right: -140px;
          margin-left: -100px;
          text-align: left;
          box-shadow: 0 0 0 var(--hw-spacing-smallest) var(--hw-color-gray-darkest); /* Coverup outline chrome */
        }
    }

    &__button:focus,
    &__button:hover{
      & .hw-help-tip__wrapper::after{
        visibility: visible;
      }
      & .hw-help-tip__content {
        visibility: visible;
      }
    }

    &__title{
      font-family: var(--hw-font-primary-bold);
      font-size: var(--hw-font-size-small);
    }

  /* Not responsive */
  &--left &__button &__content {
    @extend %left;
  }
  &--right &__button &__content {
    @extend %right;
  }

  /* Responsive */
  @media (--small), 
   (--only-base) {
    &--small--left &__button &__content {
      @extend %left;
    }
    &--small--right &__button &__content {
      @extend %right;
    }
    &--small--middle &__button &__content {
      @extend %middle;
    }
  }

  @media (--medium) {
    &--medium--left &__button &__content {
      @extend %left;
    }
    &--medium--right &__button &__content {
      @extend %right;
    }
    &--medium--middle &__button &__content {
      @extend %middle;
    }
  }

  @media (--large) {
    &--large--left &__button &__content {
      @extend %left;
    }
    &--large--right &__button &__content {
      @extend %right;
    }
    &--large--middle &__button &__content {
      @extend %middle;
    }
  }

  @media (--xlarge) {
    &--xlarge--left &__button &__content {
      @extend %left;
    }
    &--xlarge--right &__button &__content {
      @extend %right;
    }
    &--xlarge--middle &__button &__content {
      @extend %middle;
    }
  }
}

