/* Placeholder for the help tip contents in px as the content box width is fixed */
%left {
  right: -7px;
}
%left::after {
  right: 6%;
}

%right {
  right: -270px;
}
%right::after {
  right: 93%;
}

%middle {
  right: -140px;
}
%middle::after {
  right: 50%;
}

.hw-help-tip {
    display: inline-block;
    position: relative;
    margin-right: var(--hw-spacing-smallest);
    &:last-of-type {
      margin-right: 0;
    }

    &__button {
        border: 0;
        color: inherit;
        background-color: transparent;
        & span{
          margin-right: 4px;
        }
        & .hw-help-tip__wrapper{
          position: relative;
          display: inline-block;
          &::after{
            content: " ";
            visibility: hidden;
            position: absolute;

            bottom: 22px;
            right: 3px;
            border: 8px solid transparent;
            border-top: 11px solid var(--hw-color-primary-lighter);

            opacity: 0;
            transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
          }
        }
        & .hw-help-tip__content {
          display: block;
          visibility: hidden;
          color: var(--hw-color-black);
          padding: var(--hw-spacing);
          font-family: var(--hw-font-primary-regular);
          font-weight: var(--hw-font-weight-regular);
          font-size: var(--hw-font-size-p);
          max-width: 300px;
          width: 300px;
          position: absolute;
          bottom: 48px;
          right: -140px;
          margin-left: -100px;
          text-align: left;
          opacity: 0;
          transition: visibility 0s ease-in-out 0.3s, background-color 0s ease-in-out 0.3s, box-shadow 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
          &::after {
            display: none;
          }
          h5 {
            padding-bottom: 4px;
            line-height: 1.3;
          }
        }
    }
    
    
    &__button:focus ~ &__content, &__button:hover ~ &__content {
      background-color: var(--hw-color-primary-lighter);
      box-shadow: 0 0 0 var(--hw-spacing-smallest) var(--hw-color-primary-lighter); /* Coverup outline chrome */
      visibility: visible;
    }
    /* Old code deprecated - TO BE REMOVED  END */

    &__button:focus,
    &__button:hover{
      & .hw-help-tip__wrapper::after{
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
      & .hw-help-tip__content {
        background-color: var(--hw-color-primary-lighter);
        box-shadow: 0 0 0 var(--hw-spacing-smallest) var(--hw-color-primary-lighter); /* Coverup outline chrome */
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }

    &__title{
      font-family: var(--hw-font-primary-bold);
      font-weight: var(--hw-font-weight-bold);
      font-size: var(--hw-font-size-p);
    }

  /* Not responsive */
  &--left.hw-help-tip &__content {
    @extend %left;
  }
  &--right.hw-help-tip &__content {
    @extend %right;
  }

  /* Responsive */
  @media (--small), 
   (--only-base) {
    &--small--left &__content {
      @extend %left;
    }
    &--small--right &__content {
      @extend %right;
    }
    &--small--middle &__content {
      @extend %middle;
    }
  }

  @media (--medium) {
    &--medium--left &__content {
      @extend %left;
    }
    &--medium--right &__content {
      @extend %right;
    }
    &--medium--middle &__content {
      @extend %middle;
    }
  }

  @media (--large) {
    &--large--left &__content {
      @extend %left;
    }
    &--large--right &__content {
      @extend %right;
    }
    &--large--middle &__content {
      @extend %middle;
    }
  }

  @media (--xlarge) {
    &--xlarge--left &__content {
      @extend %left;
    }
    &--xlarge--right &__content {
      @extend %right;
    }
    &--xlarge--middle &__content {
      @extend %middle;
    }
  }
}

