/**
 * Variables - Bring
 */

:root {
  /**
   * Colors
   */

  --hw-color-primary: #e32d22;
  --hw-color-primary-dark: #980000;
  --hw-color-primary-darker: #4A1011;
  --hw-color-primary-light: #FF8A5F;
  --hw-color-primary-lighter: #FFF5F0;

  /**
  * Opaque
  */
  --hw-color-opaque-primary: rgba(227,45,34, 0.85); /* #e32d22 */

  /**
    * Link Colors
    */

  --hw-color-link: #980000;
  --hw-color-link-underline: rgb(255, 138, 95, 0.75);
  --hw-color-link-hover: #000;
  --hw-color-link-underline-hover: #000;


  /**
    * Button Colors
    */
  --hw-color-button-primary-hover: #D62722;

  /**
   * Color mappings
   */

  --hw-color-button-text: var(--hw-color-white);

  /**
   * Logo width adjusted for Posten logo
   */
  --hw-logo-width: 158px;

  /**
   * Font families
   */
  --hw-h1-large-font-family: var(--hw-font-primary-bold);
  --hw-h1-font-family: var(--hw-font-primary-bold);
  --hw-h2-font-family: var(--hw-font-primary-medium);
  --hw-h3-font-family: var(--hw-font-primary-regular);
  --hw-h4-font-family: var(--hw-font-primary-regular);
  --hw-h5-font-family: var(--hw-font-primary-regular);
  --hw-h6-font-family: var(--hw-font-primary-regular);
  --hw-caption-font-family: var(--hw-font-primary-regular);
}


