/**
 * Variables - Bring
 */

:root {

  /**
   * Colors
   */

  --hw-color-primary: #e32d22;
  --hw-color-primary-dark: #f1302f;
  --hw-color-primary-darker: #562022;
  --hw-color-primary-light: #f98c87;
  --hw-color-primary-lighter: #fec4c2;
  --hw-color-secondary: #fdbb2f;
  --hw-color-avocado: #26b576;

  /**
   * Color mappings
   */

  --hw-color-button-text: var(--hw-color-white);
}
