/**
 * Variables - Bring
 */

:root {

  /**
   * Colors
   */

  --hw-color-primary: red;
  --hw-color-primary-dark: red;
  --hw-color-primary-darker: red;
  --hw-color-primary-light: red;
  --hw-color-primary-lighter: red;

  --hw-color-secondary: #fdbb2f;
  --hw-color-link: #4a90e2;
  --hw-color-avocado: #26b576;
}
