/**
 * Block
 */

.hw-drawer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  z-index: var(--z-index--modal);
  overflow-y: auto;

  @media (--medium) {
    align-items: flex-start;
    justify-content: center;
  }

  /**
   * Elements
   */

  &__overlay {
    width: 100%;
    bottom: 0;
    top: 0;
    position: fixed;
    overflow: auto;
    z-index: -1;
  }

  &__content {
    box-shadow: 0 0 25px 0 rgb(0, 0, 0, 0.3);
    z-index: var(--z-index--modal-foreground);
    width: 100%;
    height: 100%;
    overflow: auto;
    animation-name: slide-in-drawer;
    animation-duration: 0.2s;
    background: #fff;

    &--animate-out {
      animation-name: slide-out-drawer;
      animation-duration: 0.2s;
    }

    @media (--large) {
      max-width: 50vw;
    }

    @media (--xlarge) {
      max-width: 33vw;
    }
  }

  &__close-button {
    cursor: pointer;
    padding: var(--hw-spacing-smallest);
    background-size: 50%;
    background-color: var(--hw-color-gray-lightest);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0;
    transition: background 0.3s ease;
    fill: var(--hw-color-gray-darker);

    &:hover,
    &:focus {
      background-color: var(--hw-color-gray-lighter);
      fill: var(--hw-color-gray-darkest);
      outline: 0;
    }

    &:active {
      background-color: var(--hw-color-gray-light);
      background-size: 100%;
    }
  }

  &__header {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--hw-color-white);
    width: 100%;
    height: 60px;
    padding-left: var(--hw-spacing);
    padding-right: var(--hw-spacing);
    z-index: var(--z-index--modal-foreground);
    @media (--large) {
      padding-left: var(--hw-spacing-large);
      padding-right: var(--hw-spacing-large);
      max-width: calc(50vw - 36px);
      height: 72px;
    }
    @media (--xlarge) {
      max-width: calc(33vw - 36px);
      height: 72px;
    }
  }

  &__body {
    margin-top: 60px;
    padding: var(--hw-spacing);

    @media (--large) {
      padding: var(--hw-spacing-large) var(--hw-spacing-larger);
    }
  }

  /**
   * Modifiers
   */

  &--open {
    display: flex;
    justify-content: flex-end;
  }

  &--animate-out {
    animation-name: fade-out-drawer;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
  }
}

/**
 * No-js fallback
 */

.no-js .hw-drawer {
  position: relative;
  display: flex;
  background: none;
  z-index: 0;

  &__window {
    z-index: 0;
    width: 100%;
    background: #fff;
  }
}

@keyframes slide-in-drawer {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-drawer {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(500px);
    opacity: 0;
  }
}

@keyframes fade-out-overlay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
