/**
 * Block
 */

.hw-link {
  text-decoration: none;
  border-bottom: var(--hw-border-thickness) solid var(--hw-color-link-underline);
  fill: var(--hw-color-link);
  color: var(--hw-color-link);
  transition: all 0.1s ease;
  cursor: pointer;
  margin-right: 3px;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover,
  &:active {
    color: var(--hw-color-link-hover);
    fill: var(--hw-color-link-hover);
    border-color: var(--hw-color-link-underline-hover);

    & .hw-link__text {
      border-color: var(--hw-color-link-underline-hover);
    }
  }

  /**
   * Modifers
   */
   
  &--inverted {
    color: var(--hw-color-white);
    text-decoration-color: var(--hw-color-primary);
    border-color: currentColor;
    &:hover,
    &:active {
      color: var(--hw-color-primary-light);
      border-color: currentColor;
    }
    &:disabled {
      color: var(--hw-color-gray-dark);
      fill: currentColor;
      border-color: currentColor;
      outline: 0 !important;
      box-shadow: none !important;
      cursor: default;
    }
  }

  &--small {
    font-size: var(--hw-font-size-small);
  }

  &--big {
    font-size: var(--hw-font-size-h3);
  }

  &--no-underline {
    font-family: var(--hw-font-primary-medium);
    color: var(--hw-color-primary-dark);
    text-decoration: none;
    border-bottom: none;

    &:hover {  
      color: var(--hw-color-primary-dark);
      text-decoration: underline;
      text-underline-color: var(--hw-color-primary-dark);
      border-bottom: none;
    }
  }

  &--solid {
    color: var(--hw-color-black);
    border-color: var(--hw-color-black);
    &:hover,
    &:active {
      color: var(--hw-color-black-hover);
      border-color: var(--hw-color-black-hover);
    }
  }
}
