/**
 * Hedwig
 * -----
 * Checkbox
 */


 .hw-checkbox {
   position: relative;
   display: block;
   cursor: pointer;
   padding-left: 2rem;
   font-size: var(--hw-font-size-small);
   margin-bottom: var(--hw-spacing-xsmall);
   font-family: var(--hw-font-primay-medium);
   color: var(--hw-color-gray-dark);

   &:last-child {
     margin-bottom: 0;
   }

   &__indicator {
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     width: var(--hw-spacing);
     height: var(--hw-spacing);
     line-height: var(--hw-spacing);
     background-color: var(--hw-color-white);
     border: 3px solid var(--hw-color-gray-light);
     user-select: none;
     text-align: center;
     border-radius: 0;
     transition: border 100ms;
   }

  & > input {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    vertical-align: middle;

     &:checked ~ .hw-checkbox__indicator {
       border-color: var(--hw-color-gray-darker);

       &:before {
         content: '';
         display: inline-block;
         width: 12px;
         height: 10px;
         border-bottom: 3px solid var(--hw-color-gray-darker);
         transform: translateY(-50%) rotate(-45deg);
       }

       &:after {
         position: absolute;
         left: 3px;
         top: 7px;
         content: '';
         display: inline-block;
         width: 10px;
         height: 8px;
         border-left: 3px solid var(--hw-color-gray-darker);
         transform: translateY(-50%) rotate(-45deg);
       }
     }

     &:hover ~ .hw-checkbox__indicator {
       border: 3px solid var(--hw-color-gray);
     }

     &:focus ~ .hw-checkbox__indicator {
      border: 3px solid var(--hw-color-gray-dark);
    }

     &:disabled ~ .hw-checkbox__indicator {
       border-color: var(--hw-color-gray-light);
       background: var(--hw-color-gray-lighter);
     }

     &:disabled:checked ~ .hw-checkbox__indicator {
       border-color: var(--hw-color-gray-light);
       background: var(--hw-color-gray-lighter);
     }
   }
 }
