/**
 * Block
 */

.hw-block {
  display: block;
  padding: 0 var(--hw-spacing);

  /**
   * Modifiers: sizes
   */

  &--full {
    padding: 0;
  }

  /**
   * Modifiers: padding and padding variations
   */

  &--mt {
    margin-top: var(--hw-spacing);
  }

  &--mb {
    margin-bottom: var(--hw-spacing);
  }

  &--mt-small {
    margin-top: var(--hw-spacing-small);
  }

  &--mb-smaller {
    margin-bottom: var(--hw-spacing-small);
  }

  &--mt-smaller {
    margin-top: var(--hw-spacing-smaller);
  }

  &--mb-smaller {
    margin-bottom: var(--hw-spacing-smaller);
  }

  &--mt-smallest {
    margin-top: var(--hw-spacing-smallest);
  }

  &--mb-smallest {
    margin-bottom: var(--hw-spacing-smallest);
  }

  &--mt-large {
    margin-top: var(--hw-spacing-large);
  }

  &--mb-large {
    margin-bottom: var(--hw-spacing-large);
  }

  &--mt-larger {
    margin-top: var(--hw-spacing-larger);
  }

  &--mb-larger {
    margin-bottom: var(--hw-spacing-larger);
  }

  &--mt-largest {
    margin-top: var(--hw-spacing-larger);
  }

  &--mb-largest {
    margin-bottom: var(--hw-spacing-largest);
  }

  &--pt {
    padding-top: var(--hw-spacing);
  }

  &--pb {
    padding-bottom: var(--hw-spacing);
  }

  &--pt-small {
    padding-top: var(--hw-spacing-small);
  }

  &--pb-small {
    padding-bottom: var(--hw-spacing-small);
  }

  &--pt-smaller {
    padding-top: var(--hw-spacing-smaller);
  }

  &--pb-smaller {
    padding-bottom: var(--hw-spacing-smaller);
  }

  &--pt-smallest {
    padding-top: var(--hw-spacing-smallest);
  }

  &--pb-smallest {
    padding-bottom: var(--hw-spacing-smallest);
  }

  &--pt-large {
    padding-top: var(--hw-spacing-large);
  }

  &--pb-large {
    padding-bottom: var(--hw-spacing-large);
  }

  &--pt-larger {
    padding-top: var(--hw-spacing-larger);
  }

  &--pb-larger {
    padding-bottom: var(--hw-spacing-larger);
  }

  &--pt-largest {
    padding-top: var(--hw-spacing-largest);
  }

  &--pb-largest {
    padding-bottom: var(--hw-spacing-largest);
  }


  /**
   * Modifiers: background colors
   */

  &--bg-primary {
    background-color: var(--hw-color-primary);
  }

  &--bg-primary-lighter {
    background-color: var(--hw-color-primary-lighter);
  }

  &--bg-gray {
    background-color: var(--hw-color-gray);
  }

  &--bg-gray-light {
    background-color: var(--hw-color-gray-light);
  }

  &--bg-gray-lighter {
    background-color: var(--hw-color-gray-lighter);
  }

  &--bg-gray-lightest {
    background-color: var(--hw-color-gray-lightest);
  }

  &--bg-white {
    background-color: var(--hw-color-white);
  }

  &--bg-alt:nth-child(even) {
    background: var(--hw-color-gray-lightest);
  }

  &--bg-alt:nth-child(odd) {
    background: var(--hw-color-white);
  }

  /**
   * Modifiers: other variants
   */

  &--relative {
    position: relative;
  }
}
