/**
 * Block
 */

.hw-block {
  display: block;
  padding: 0 var(--hw-spacing);

  /**
   * Modifiers: sizes
   */

  &--full {
    padding: 0;
  }

  &--small {
    padding: 0 var(--hw-spacing-small);
  }

  &--large {
    padding: 0 var(--hw-spacing-large);
  }

  /**
   * Modifiers: padding and padding variations
   */

  &--mt {
    margin-top: var(--hw-spacing);
  }

  &--mb {
    margin-bottom: var(--hw-spacing);
  }

  &--mt-small {
    margin-top: var(--hw-spacing-small);
  }

  &--mb-small {
    margin-bottom: var(--hw-spacing-small);
  }

  &--mt-large {
    margin-top: var(--hw-spacing-large);
  }

  &--mb-large {
    margin-bottom: var(--hw-spacing-large);
  }

  &--pt {
    padding-top: var(--hw-spacing);
  }

  &--pb {
    padding-bottom: var(--hw-spacing);
  }

  &--pt-small {
    padding-top: var(--hw-spacing-small);
  }

  &--pb-small {
    padding-bottom: var(--hw-spacing-small);
  }

  &--pt-large {
    padding-top: var(--hw-spacing-large);
  }

  &--pb-large {
    padding-bottom: var(--hw-spacing-large);
  }

  /**
   * Modifiers:: width limitations
   */

  &--limited {
    max-width: var(--hw-width-site);
    margin: 0 auto;
  }

  &--limited-article {
    max-width: var(--hw-width-article);
    margin: 0 auto;
  }

  &--limited-narrow {
    max-width: var(--hw-width-article-narrow);
    margin: 0 auto;
  }


  /**
   * Modifiers: background colors
   */

  &--bg-primary {
    background-color: var(--hw-color-primary);
  }

  &--bg-primary-lighter {
    background-color: var(--hw-color-primary-lighter);
  }

  &--bg-gray {
    background-color: var(--hw-color-gray);
  }

  &--bg-gray-light {
    background-color: var(--hw-color-gray-light);
  }

  &--bg-gray-lighter {
    background-color: var(--hw-color-gray-lighter);
  }

  &--bg-white {
    background-color: var(--hw-color-white);
  }

  /**
   * Modifiers: other variants
   */

  &--relative {
    position: relative;
  }
}
