 .hw-footer {
  display: block;
  background: var(--hw-color-gray-lightest);

  /**
   * Elements
   */

   &__mobile {
    display:none;
    

    @media (--high-res-mobile), (--max-medium)
     {
      display:block;
      margin: 0 auto;

      & .hw-footer__accordion {
        padding: 0 3px;
      }
    }

  
  }

  &__desktop {
    
    display: block;
    margin: 0 auto;
     
    @media (--high-res-mobile) {
      display: none;
    }

    @media (--max-medium) {
      display:none;
    }
  }

  &__logo {

    position:relative;

    &-link {
      position:relative;
      height: 75px;
      width:var(--hw-logo-width);
      display:inline-block;

      & svg {
        display: block;
        height: 80px;
        width: 150px;
      }

      &-standard {
        transition: opacity 0.3s ease;
        visibility: visible;
        opacity: 1;
      }

      &-gray {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover {

        & .hw-footer__logo-link-standard {
          opacity: 0;
        }
        & .hw-footer__logo-link-gray {
          opacity: 1;
        }
      }

    }

  }

}

/**** Special cases ****/ 

.hw-background-color-gray-lightest .hw-footer {
  background: var(--hw-color-gray-lighter);
}


