 .hw-footer {
  display: block;
  background: var(--hw-color-primary-darker);

  /**
   * Elements
   */

   &__mobile {
    display:none;
    

    @media (--high-res-mobile), (--max-medium)
     {
      display:block;
      margin: 0 auto;
    }

  
  }

  &__desktop {
    
    display: block;
    margin: 0 auto;
    padding: var(--hw-spacing-even-larger) var(--hw-spacing-even-larger-2);
     
    @media (--high-res-mobile) {
      display: none;
    }

    @media (--max-medium) {
      display:none;
    }
  }

  &__logo {

    position:relative;

    &-link {
      position:relative;
      height: 75px;
      width:var(--hw-logo-width);
      display:inline-block;

      & svg {
        display: block;
        height: 80px;
        width: 150px;
      }

      &-standard {
        visibility: visible;
        opacity: 1;
      }

      &-gray {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      &:hover {

        & .hw-footer__logo-link-standard {
          opacity: 0;
        }
        & .hw-footer__logo-link-gray {
          opacity: 1;
        }
      }

    }

  }


  /**
   * Modifications to other components
   */

  p {
    color: var(--hw-color-white);
  }

  h4 {
    font-family: var(--hw-font-primary-medium);
    font-weight: var(--hw-font-weight-medium);
    font-size: var(--hw-font-size-p);
    color: var(--hw-color-white);
  }
  .hw-linklist {
    margin-top: var(--hw-spacing-small);

    a {
      color: var(--hw-color-primary-lighter);
      font-size: var(--hw-font-size-p);
      text-decoration: none;
      border-bottom: none !important;
    }
  }

  .hw-copyright, .hw-link {

    color: var(--hw-color-primary-lighter);
    font-size: var(--hw-font-size-smaller);
  }

  .hw-link {
    margin-left: var(--hw-spacing-large);
    padding-bottom: var(--hw-spacing-tiny);
  }


  .hw-button {
    border: var(--hw-border-thickness) solid var(--hw-color-primary-light);
    color: var(--hw-color-white);
  }

  .hw-hr {
    background: var(--hw-color-primary-dark);
  }

  .hw-some {
    float: right;
    margin-top: 30px;

    .hw-some__button {
      color: var(--hw-color-white);
      fill: var(--hw-color-white);
      border: none;
      background: transparent;
      font-size: 90%;
    }
  }

}

/**** Special cases ****/ 

.hw-background-color-gray-lightest .hw-footer {
  background: var(--hw-color-gray-lighter);
}



