/**
 * Block
 */

.hw-callout {
  width: 100%;
  position: relative;
  display: block;
  border: 0px solid var(--hw-color-gray-lighter);
  border-top: var(--hw-border-thickness) solid var(--hw-color-primary-dark);
  padding: var(--hw-spacing-small-4) 0;

  p {
  	color: var(--hw-color-gray-dark);
  	padding: var(--hw-spacing-small-4) 0 var(--hw-spacing-small-2) 0;
  }

  @media (--max-medium) {
    padding: var(--hw-spacing-small-3);
  }

}
