/**
 * Block
 */

.hw-callout {
  width: 100%;
  position: relative;
  display: block;
  border: 0px solid var(--hw-color-gray-light-fill);
  border-top: var(--hw-border-thickness) solid var(--hw-color-primary-dark);
  padding: var(--hw-spacing-small-4) 0;
  color: var(--hw-color-gray-dark);

  .hw-h3 {
    color: var(--hw-color-black);
  }

  &> p, &> .hw-block:nth-child(2) {
  	padding: var(--hw-spacing-small-4) 0 var(--hw-spacing-small-2) 0;
  }

  .hw-wysiwyg>:first-child{
    margin-top:0;
  }

  @media (--max-medium) {
    padding: var(--hw-spacing-small-3);
  }

}
