.hw-quote {
  display: block;
  margin: var(--hw-spacing-larger) 0;
  padding: 0 var(--hw-spacing);
  border-left: 6px solid var(--hw-color-primary);
  box-shadow: -6px 0 0 0 var(--hw-color-primary-dark);
  width: 100%;
}

.hw-quote--pull-right {
  float: right;
  max-width: var(--hw-width-narrow);
}

.hw-quote__content {
  margin-bottom: var(--hw-spacing);
}

.hw-quote__content::before {
  content: '\00AB';
  font-size: 1.2em;
  padding-right: 3px;
}

.hw-quote__content::after {
  content: '\00BB';
  font-size: 1.2em;
  padding-left: 3px;
}

.hw-quote__author {
  @extend .hw-text-uppercase;
  font-size: var(--hw-font-size-small);
  font-style: normal;
}
