/**
 * Block
 */

.hw-quote {
  display: block;
  margin: var(--hw-spacing-larger) 0;
  padding: 0 var(--hw-spacing);
  width: 100%;

  /**
   * Elements
   */

  &__content {
    font-family: var(--hw-h2-font-family);
  }

  /**
   * Modifiers
   */

  &--norwegian {
    .hw-quote__content:not(:last-child):before {
      content: '\00AB';
      padding-right: 3px;
    }

    .hw-quote__content:not(:last-child):after {
      content: '\00BB';
      padding-left: 0px;
    }
  }
}

.hw-quote--pull-right {
  float: right;
  max-width: var(--hw-width-narrow);
}

.hw-quote__content:not(:last-child):before {
  content: '\201C';
  padding-right: 3px;
}

.hw-quote__content:not(:last-child):after {
  content: '\201D';
  padding-left: 0px;
}

.hw-quote__author {
  font-size: var(--hw-font-size-smaller);
  font-style: normal;
  margin-top: var(--hw-spacing-smaller);
}