/**
 * Container
 */

 .hw-container {
  display: block;
  margin: 0 auto;
  padding: 0 var(--hw-spacing-small);
}

/* 720px - max-width: 590px */
@media (--medium) {
  .hw-container {
    max-width: var(--hw-width-slim);
    padding: 0;
  }
}

/* 940px - max-width: 1200px 36px gutters */
@media (--large) {
  .hw-container {
    max-width: var(--hw-width-wide);
    padding: 0 var(--hw-spacing-large);
  }
}

/**
  * Modifiers
  */

  .hw-container--slim {
    display: block;
  }

  /* 720px - max-width: 590px */
  @media (--medium) {
    .hw-container--slim {
      max-width: var(--hw-width-slim);
      padding: 0;
    }
  }

  /* 940px - max-width: 762px 36px gutters */
  @media (--large) {
    .hw-container--slim {
      max-width: 762px;
      padding: 0 var(--hw-spacing-large);
    }
  }

  .hw-container--pt {
    padding-top: var(--hw-spacing-smaller);
  }

  .hw-container--pb {
    padding-bottom: var(--hw-spacing-smaller);
  }

  .hw-container--mt {
    margin-top:var(--hw-spacing-smaller);
  }

  .hw-container--mb {
    margin-bottom: var(--hw-spacing-smaller);
  }

  /* 720px - max-width: 590px */
  @media (--medium) {
    .hw-container--pt {
      padding-top: var(--hw-spacing-large);
    }

    .hw-container--pb {
      padding-bottom: var(--hw-spacing-large);
    }

    .hw-container--mt {
      margin-top:var(--hw-spacing-large);
    }

    .hw-container--mb {
      margin-bottom: var(--hw-spacing-large);
    }
  }

  /* 940px - max-width: 762px 36px gutters */
  @media (--large) {
    .hw-container--mt {
      margin-top: var(--hw-spacing-even-larger);
    }

    .hw-container--mb {
      margin-bottom: var(--hw-spacing-even-larger);
    }
  }

  /* 1200px - max-width: 762px 36px gutters */
  @media (--xlarge) {
    .hw-container--pt {
      padding-top: var(--hw-spacing-larger);
    }

    .hw-container--pb {
      padding-bottom: var(--hw-spacing-larger);
    }

    .hw-container--mt {
      margin-top: var(--hw-spacing-even-larger);
    }

    .hw-container--mb {
      margin-bottom: var(--hw-spacing-even-larger);
    }
  }


