/**
 * Block
 */

.hw-autocomplete {
  position: relative;

  /**
   * Elements
   */

  &__input-wrapper {
    position: relative;
    width: 100%;
    display: block;
  }

  &__input-reset {
    visibility: hidden;
    position: absolute;
    background: transparent;
    top: calc(var(--hw-spacing-small-4) - var(--hw-border-thickness));
    right: var(--hw-spacing-small-4);
    color:var(--hw-color-gray-dark);
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity var(--hw-transition-time-quick) var(--hw-transition-easing-normal), visibility var(--hw-transition-time-quick) var(--hw-transition-easing-normal) 0.1s;
  }

  &[data-hw-autocomplete-reset-visible="true"]
    .hw-autocomplete__input-reset {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--hw-transition-time-quick) var(--hw-transition-easing-normal);
    &:hover,
    &:focus {
      color:var(--hw-color-primary-darker);
    }
  }

  &__input {
    
    @extend .hw-input;


    &::-webkit-input-placeholder {
      /* Not autprefixed - Chrome/Opera/Safari */
      color: var(--hw-color-gray-dark);
    }

    &:-ms-input-placeholder {
      /* Not autprefixed - IE 10+ */
      color: var(--hw-color-gray-dark);
    }
  }

  &__input:placeholder-shown + .hw-autocomplete__input-reset {
    opacity: 0;
  }

  /* Optional element description */

  &__suggestions {
    @extend .hw-input-basic;

    max-height: 400px;
    top: var(--hw-spacing-small-1);
    width: 100%;
    padding: 0 !important;
    overflow-y: auto;
    z-index: 2;
    display: none !important;
  }

  &__suggestion {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 0 var(--hw-spacing-small-4);

    & > input {
      position: absolute;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      vertical-align: middle;

      &:checked ~ .hw-autocomplete__suggestion-text {
        color: var(--hw-color-input-accent);
      }
    }

    &:last-of-type {
      & .hw-autocomplete__suggestion-text {
        border-bottom: 0;
      }
    }

    &:hover,
    &:focus {
      & .hw-autocomplete__suggestion-text {
        color: var(--hw-color-input-accent);
      }
    }
  }

  &__suggestion-text {
    color: var(--hw-color-black);
    width: 100%;
    padding: var(--hw-spacing-small-4) 0;
    line-height: normal;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: var(--hw-border-thickness) solid var(--hw-color-gray-light-fill);
  }

  /**
   * Modifiers
   */

  &--line {
    input {
      @extend .hw-input--line;
    }
  }

  &--active {
    & .hw-autocomplete__suggestions {
      height: auto;
      display: block !important;
    }
  }
}
