/**
 * Block
 */

.hw-autocomplete {
  position: relative;

  /**
   * Elements
   */

  &__input-wrapper {
    position: relative;
    width: 100%;
    display: block;
  }

  &__input-reset {
    display: none;
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 0;
    border: none;
  }

  &[data-hw-autocomplete-reset-visible='true']
    .hw-autocomplete__input:focus
    + .hw-autocomplete__input-reset {
    display: block;
  }

  &[data-hw-autocomplete-reset-visible='true']
    .hw-autocomplete__input:hover
    + .hw-autocomplete__input-reset {
    display: block;
  }

  &[data-hw-autocomplete-reset-visible='true']
    .hw-autocomplete__input-reset:hover {
    display: block;
  }

  &__input {
    position: relative;
    display: block;
    width: 100%;
    height: var(--hw-spacing-larger);
    margin-top: 3px;
    padding: var(--hw-spacing-smaller) var(--hw-spacing-small);
    padding-right: var(--hw-spacing-large);
    background-color: var(--hw-color-white);
    font-size: var(--hw-font-size-small);
    line-height: normal;
    border: 3px solid var(--hw-color-gray-light);
    transition: border 100ms;

    &::placeholder {
      color: var(--hw-color-gray-dark);
    }

    &:hover {
      border: 3px solid var(--hw-color-gray);
    }

    &:focus {
      border: 3px solid var(--hw-color-gray-darker);
      outline: 0;
    }

    &::-webkit-input-placeholder {
      /* Not autprefixed - Chrome/Opera/Safari */
      color: var(--hw-color-gray-dark);
    }

    &:-ms-input-placeholder {
      /* Not autprefixed - IE 10+ */
      color: var(--hw-color-gray-dark);
    }

    &[disabled] {
      border: 3px solid var(--hw-color-gray-lighter);
    }
  }

  /* Optional element description */

  &__suggestions {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: calc(var(--hw-spacing-larger) + 3px);
    width: 100%;
    background: #fff;
    border: 3px solid var(--hw-color-gray-darker);
  }

  &__suggestion {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 0 var(--hw-spacing-small);

    & > input {
      position: absolute;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      vertical-align: middle;

      &:checked ~ .hw-autocomplete__suggestion-text {
        color: var(--hw-color-primary);
      }
    }

    &:last-of-type {
      & .hw-autocomplete__suggestion-text {
        border-bottom: 0;
      }
    }

    &:hover,
    &:focus {
      & .hw-autocomplete__suggestion-text {
        color: var(--hw-color-primary);
      }
    }
  }

  &__suggestion-text {
    width: 100%;
    padding: var(--hw-spacing-smaller) 0;
    height: var(--hw-spacing-larger);
    line-height: normal;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 3px solid var(--hw-color-gray-lighter);
  }

  /**
   * Modifiers
   */

  &--active {
    & .hw-autocomplete__suggestions {
      height: auto;
      display: block;
    }
  }
}
