/**
 * Block
 */

.hw-card-cta {
  position: relative;
  transition: transform 0.3s;
  background: var(--hw-color-white);
  display: flex;
  flex-direction: column;
  padding: var(--hw-spacing-larger) var(--hw-spacing);
  text-align: center;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    content: '';
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    & .hw-card-cta__title {
      color: var(--hw-color-black);
    }

    & .hw-card-cta__hr {
      transform: scaleX(2);
      background-color: var(--hw-color-primary);
    }
  }

  /**
   * Elements
   */

  &__body {
    z-index: 1;
  }

  &__title {
    color: var(--hw-color-gray-darker);
    font-family: var(--hw-font-primary-medium);
    margin-bottom: var(--hw-spacing-smallest);
    transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__hr {
    transition: 0.2s ease all;
    border: 0;
    background: var(--hw-color-gray);
    height: 3px;
    width: 100%;
    max-width: 36px;
    margin: 0 auto;
  }

  &__text {
    margin-top: var(--hw-spacing-smaller);
    font-family: var(--hw-font-primary-medium);
  }
}
