/**
 * Block
 */

.hw-accordion {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: var(--hw-spacing-small-4);
  list-style: none;
  background-color: white;
  border: none;
  border-bottom: var(--hw-border-thickness) solid var(--hw-color-gray-light-fill);


  /**
   * Elements
   */

  &__item {
    transition: height var(--hw-transition-time-normal) var(--hw-transition-easing-normal);
    overflow: hidden;

    &:first-child .hw-accordion__trigger {
      border: 0;
    }
  }

  &__trigger {
    position: relative;
    display: block;
    width: 100%;
    padding: calc(var(--hw-spacing-small-3) * 2) 0;
    padding-right: var(--hw-spacing-medium-2);
    border: 0;
    border-top: var(--hw-border-thickness) solid var(--hw-color-gray-light-fill);
    font-size: var(--hw-font-size-p);
    text-align: left;
    color: inherit;
    background-color: transparent;

    &:hover {
      color: var(--hw-color-primary-dark);
      outline: 0;
    }
 /*   &:focus {
      outline: 0;
    }*/
  }

  &__icon {
    &::before,
    &::after {
      position: absolute;
      top: 38px;
      right: 0;
      display: block;
      width: 14px;
      height: 2px;
      content: '';
      background-color: var(--hw-color-primary-dark);
      transform: rotate(0deg);
      transition: transform 0.2s ease;
    }

    &::after {
      right: 0px;
      transform: rotate(90deg);
    }
  }

  

  &__contents {
    padding: 0 var(--hw-spacing-medium-4) var(--hw-spacing-medium-3) 0;
  }

  &__item--expanded .hw-accordion__arrow::after {
    transform: rotate(90deg) scale(0.0, 1.0);
  }


  /**
   * Modifiers
   */

  &--menu {
    border: 0;
    color: var(--hw-color-link);
    background-color: transparent;
    padding: 0 var(--hw-border-thickness);

    & .hw-accordion__item:not(:first-child) {
      border-top: var(--hw-border-thickness) solid var(--hw-color-gray-light-stroke);
    }

    & .hw-accordion__trigger {
      font-size: var(--hw-font-size-p);
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      border: 0;
      color: inherit;
      background-color: transparent;
      transition: background-color var(--hw-transition-time-normal) var(--hw-transition-easing-normal);

      &:active {
        color: var(--hw-color-primary-dark);
        transition: 0s;
      }

      &:hover, &:focus {
        color: var(--hw-color-link);
      }
    }

    & .hw-accordion__link {
      padding-top: var(--hw-spacing-small-3);
      padding-bottom: var(--hw-spacing-small-3);
      display: inline-block;
      color: var(--hw-color-link);
      width: 100%;
      transition: background-color var(--hw-transition-time-normal) var(--hw-transition-easing-normal);
      &:active {
        color: var(--hw-color-primary-dark);
        transition: background-color 0s;
      }
    }

    & .hw-accordion__link-items {
      list-style: none;
      padding-left: var(--hw-spacing-medium-2);
    }

    & .hw-accordion__contents {
      padding-left: 0;
    }
    & .hw-accordion__item--expanded .hw-accordion__trigger {
      color: var(--hw-color-link);
    }
  }

}


/**
 * Backwards compatibility
 */
.hw-accordion__arrow {
    @extend .hw-accordion__icon;
  }

/**
  * no-js fallbacks
  */

.no-js .hw-accordion__contents {
  display: block;
}
