/**
 * Block
 */

.hw-toggle {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;

  &__trigger {
    position: relative;
    display: block;
    width: 100%;
    font-family: var(--hw-font-primay-medium);
    font-size: var(--hw-font-size-small);
    border: 0;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      right: calc(50% + 80px);
      display: block;
      height: 1px;
      background-color: var(--hw-color-gray-light);
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      left: calc(50% + 80px);
      display: block;
      height: 1px;
      background-color: var(--hw-color-gray-light);
    }

    &:hover {
      color: var(--hw-color-primary-dark);
    }
  }

  &__text:after {
    content: "+";
    margin-left: var(--hw-spacing-xsmall);
    font-family: var(--hw-font-primay-bold);
    font-size: var(--hw-spacing-small);
  }

  &__contents {
    display: none;
  }


  /**
   * padding and padding variations
   */

  &--expanded .hw-toggle__contents {
    display: block;
  }

  &--expanded .hw-toggle__text:after {
    content: "-";
  }
}

/**
  * no-js fallbacks
  */

.no-js .hw-toggle__contents {
  display: block;
}
