/**
 * Block
 */

 .hw-hero {
  background: var(--hw-color-gray-lightest);
  position: relative;
  min-height: 55vh;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.1) 100%);
    pointer-events: none;
  }

  /**
   * Elements
   */

   &__image,
   &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  &__content {
    display:flex;
    flex-direction:column;
    height:100%;
    max-width: var(--hw-width-wide);
    overflow: hidden;

    &--bottom {
      justify-content:flex-end;
    }

    &--top {
      justify-content: flex-start;
    }

    &--middle {
      justify-content:center;
    }

    &--left {     
      align-items:flex-start;
    }

    &--right {

      align-items:flex-end;
    }

    &--center {
      align-items:center;
    }
  }

  /**
   * Modifiers: sizes
   */

   &--small {
    min-height: 35vh;
  }

  &--full {
    min-height: calc(100vh - var(--hw-navbar-height-mobile));
    @media (--large){
      min-height: calc(100vh - var(--hw-navbar-height-desktop));
    }
  }
  
}

@media(--max-medium) {
  .hw-hero { 
    &__content {
      justify-content:center;
      align-items:center;
      text-align:center;
    }
  }
}



