/**
 * Block
 */

.hw-hero {
  background: var(--hw-color-gray-lightest);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.1) 100%);
  }

  /**
   * Elements
   */

  &__image,
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    color: var(--hw-color-white);
    text-align: center;
  }

  &__content {
    flex-basis: auto;
    flex-grow: 1;
    max-width: var(--hw-width-default);
    overflow: hidden;

    &--bottom {
      align-self: flex-end;
    }
  }

  /**
   * Modifiers: sizes
   */

  &--small {
    min-height: 35vh;
  }

  &--full {
    min-height: 100vh;
  }
}
