/**
 * Block
 */

.hw-hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 239px;
  overflow: hidden;
  border-bottom: var(--hw-spacing-smallest) solid var(--hw-color-secondary);

  /**
   * Elements
   */

  &__image,
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    color: var(--hw-color-white);
    text-align: center;
  }

  &__content {
    flex-basis: auto;
    flex-grow: 1;
    max-width: var(--hw-width-contents);
    overflow: hidden;

    &--bottom {
      align-self: flex-end;
    }
  }

  /**
   * Modifiers: sizes
   */

  &--large {
    min-height: 40vh;
  }

  &--no-border {
    border-bottom: none;
  }
}
