/**
 * Block
 */

 .hw-message {
    padding: var(--hw-spacing-medium-2);
    background-color: var(--hw-color-primary-lighter);
    border-radius: var(--hw-border-radius);
    display: flex;

    @media (--large){
        padding: var(--hw-spacing-medium-3);
    }


   /**
    * Elements
    */


    &__title {
        font-family: var(--hw-font-primary-medium);
    }

    &__title, &__text {
        margin-bottom: var(--hw-spacing-small-3);
        @media (--large) {
            margin-bottom: var(--hw-spacing-small-4);
        }
    }

    &__icon {
        margin-right: var(--hw-spacing-medium-1);
        @media (--large) {
            margin-right: var(--hw-spacing-medium-2);
        }
    }

   /**
    * Modifiers
    */


    &--error, &--subtle-error {
        background-color: var(--hw-color-alert-yellow);
    }

    &--subtle, &--subtle-light {
        background: initial;
        border-width: 1px;
        border-style: solid;
    }

    &--subtle, &--subtle-light, &--subtle-error {
        align-items: center;
        padding: var(--hw-spacing-small-3) var(--hw-spacing-medium-1);
        @media (--large) {
            padding: var(--hw-spacing-small-4) var(--hw-spacing-medium-2);
        }
    }

    &--subtle {
        border-color: var(--hw-color-primary-dark);
    }

    &--subtle-light {
        border-color: var(--hw-color-primary);
        color: var(--hw-color-white);
    }
}
