/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.hw-datepicker {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: var(--hw-spacing-small);
}

.hw-datepicker__icon {
  position: absolute;
  cursor: pointer;
  right: var(--hw-spacing-smaller);
  bottom: var(--hw-spacing-smaller);
}

.pika-single {
  z-index: var(--z-index--navbar-search);
  display: block;
  margin-top: calc(var(--hw-spacing-smallest) / 2);
  position: absolute !important;
  width: 100%;
  min-width: 300px;
  background: var(--hw-color-white);
  border: 3px solid var(--hw-color-gray-darker);
  font-family: var(--hw-font-primary-regular), Helvetica, Arial, sans-serif;
}

.pika-select option {
  & option {
    font-size: 14px;
  }
}

.pika-title {
  color: var(--hw-color-gray-dark);
  text-transform: capitalize;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single::before,
.pika-single::after {
  content: " ";
  display: table;
}

.pika-single::after {
  clear: both;
}

.pika-single {
  *zoom: 1;
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-name: expand;
}

.pika-lendar {
  float: left;
  width: inherit;
  padding: var(--hw-spacing);
}

.pika-title {
  position: relative;
  text-align: center;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: var(--hw-spacing-smallest) var(--hw-spacing-smallest);
  font-size: var(--hw-font-size-h3);
  line-height: 20px;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px; /* hide text using text-indent trick, using width value (it's enough) */
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: 0.5;
  *position: absolute; /* IE7 */
  *top: 0; /* IE7 */
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHRpdGxlPmNhcmV0LWxlZnQ8L3RpdGxlPjxnIGlkPSJJY29ucyI+PGcgaWQ9Iklrb25lciI+PHBvbHlnb24gaWQ9IlNoYXBlIiBwb2ludHM9IjIwLjM3IDMwIDI0Ljg1IDI1LjYzIDE0LjEgMTUgMjQuODUgNC4zOCAyMC4zNyAwIDUuMTUgMTUgMjAuMzcgMzAiLz48L2c+PC9nPjwvc3ZnPg==');
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHRpdGxlPmNhcmV0LXJpZ2h0PC90aXRsZT48ZyBpZD0iSWNvbnMiPjxnIGlkPSJJa29uZXIiPjxwb2x5Z29uIGlkPSJTaGFwZSIgcG9pbnRzPSI5LjYzIDAgNS4xNSA0LjM4IDE1LjkgMTUgNS4xNSAyNS42MyA5LjYzIDMwIDI0Ljg1IDE1IDkuNjMgMCIvPjwvZz48L2c+PC9zdmc+');
  *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: 0.2;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
}

.pika-table td {
  padding: 2px;
}

.pika-table th {
  color: var(--hw-color-gray);
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: var(--hw-spacing-smallest);
  color: var(--hw-color-white);
  font-size: var(--hw-font-size-p);
  line-height: 15px;
  text-align: center;
  background: var(--hw-color-gray);
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  color: var(--hw-color-gray-dark);
  background: var(--hw-color-gray-light);
  font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
  color: #fff;
  font-weight: bold;
  background: var(--hw-color-primary);
}

.has-event .pika-button {
  background: var(--hw-color-primary);
}

.is-disabled .pika-button,
.is-inrange .pika-button {
  background: var(--hw-color-primary-light);
}

.is-startrange .pika-button {
  color: #fff;
  background: #6cb31d;
  box-shadow: none;
}

.is-endrange .pika-button {
  color: #fff;
  background: #33af;
  box-shadow: none;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--hw-color-gray);
  background-color: var(--hw-color-gray-lighter);
  opacity: 0.3;
}

.is-outside-current-month .pika-button {
  color: #999;
  opacity: 0.3;
}

.is-selection-disabled {
  pointer-events: none;
  cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
  color: #fff;
  background: var(--hw-color-gray-darker);
  box-shadow: none;
}

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help;
}
