/**
 * Block
 */

.hw-datepicker {
  position: relative;
  width: 100%;
  display: block;

  /**
   * Elements
   */

  &__icon {
    position: absolute;
    cursor: pointer;
    right: var(--hw-spacing-small-4);
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--hw-font-size-lead);
  }

  &__inner {
    position: relative;
    & input{
      display: flex;
      -webkit-appearance: none;
    }
    & .hw-placeholder{
      display: none;
    }
    &.hw-datepicker__native .hw-placeholder{
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      bottom: 3px;
      background: var(--hw-color-white);
      color: var(--hw-color-gray-dark);
      padding: 10px 15px;
    }
  }

  /* Don't show the icon for error for datepicker */
  & .hw-error::before {
    display: none;
  }

  &:focus-within {
    color: var(--hw-color-primary-dark);
  }
}


/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */


.pika-single {
  z-index: var(--z-index--navbar-search);
  display: block;
  margin-top: calc(var(--hw-spacing-small-2) / 2);
  position: absolute !important;
  width: 100%;
  min-width: 240px;
  background: var(--hw-color-gray-light-fill);
  border: none;
  border-radius: var(--hw-border-radius);
  font-family: var(--hw-font-primary-regular), Helvetica, Arial, sans-serif;
  font-weight: var(--hw-font-weight-regular);
}

.pika-select option {
  & option {
    font-size: 14px;
  }
}

.pika-title {
  color: var(--hw-color-gray-dark);
  text-transform: capitalize;
  font-size: var(--hw-font-size-smaller);

}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single::before,
.pika-single::after {
  content: " ";
  display: table;
}

.pika-single::after {
  clear: both;
}

.pika-single {
  *zoom: 1;
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-name: expand;
}

.pika-lendar {
  float: left;
  width: inherit;
  padding: var(--hw-spacing-medium-2);
}

.pika-title {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: var(--hw-spacing-small-2) var(--hw-spacing-small-2);
  font-size: var(--hw-font-size-smaller);
  color: var(--hw-color-black);
  line-height: 20px;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}


.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  text-indent: 18px; /* hide text using text-indent trick, using width value (it's enough) */
  white-space: nowrap;
  overflow: hidden;
  opacity: 1.0;
  *position: absolute; /* IE7 */
  *top: 0; /* IE7 */
  background-color: var(--hw-color-gray-light-fill);
  background-image:
    /* Cut off the sharp ends of the arrow */
    linear-gradient(45deg, transparent 72%, var(--hw-color-gray-light-fill) 0%), /* Bottom right corner of left arrow */
    linear-gradient(135deg, var(--hw-color-gray-light-fill) 26%, transparent 26%), /* Top right corner of left arrow */
    /* Draw the arrow */
    linear-gradient(135deg, transparent 0, transparent 65%, var(--hw-color-gray-light-fill) 65%, var(--hw-color-gray-light-fill) 100%), /* Bottom left corner of left arrow */
    linear-gradient(45deg, var(--hw-color-gray-light-fill) 0, var(--hw-color-gray-light-fill) 31%, var(--hw-color-gray-dark) 32%, var(--hw-color-gray-dark) 38%, transparent 39%, transparent 100%), /* Upper stroke of left arrow */
    linear-gradient(135deg, transparent 0, transparent 58%, var(--hw-color-gray-dark) 59%, var(--hw-color-gray-dark) 65%, var(--hw-color-gray-light-fill) 66%, var(--hw-color-gray-light-fill) 100%); /* Bottom stroke of left arrow */
}

.pika-prev {
  transform: rotate(90deg);
  left: 8px;
  top: 7px;
}
.pika-next {
  transform: rotate(-90deg);
  right: 7px;
  top: 5px;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}




.pika-prev,
.is-rtl .pika-next {
  float: left;
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: 0.2;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
}

.pika-table td {
  padding: 2px;
}

.pika-table th {
  color: var(--hw-color-gray-dark);
  font-size: var(--hw-font-size-smallest);
  font-weight: var(--hw-font-weight-regular);
  line-height: 25px;
  text-align: center;
  text-decoration: none;
}


.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  height: calc(280px * 0.14285714285714286);
  padding: 0px  ;
  color: var(--hw-color-black);
  font-size: var(--hw-font-size-smallest);
  line-height: 15px;
  text-align: center;
  background: transparent;
  border-radius: var(--hw-border-radius);
  border: var(--hw-border-thickness) solid transparent;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  border: var(--hw-border-thickness) solid var(--hw-color-black);
}

.is-selected .pika-button,
.has-event .pika-button {
  background: var(--hw-color-primary);
}

.has-event .pika-button {
  background: var(--hw-color-primary);
}

.is-disabled .pika-button,
.is-inrange .pika-button {
  background: var(--hw-color-primary-light);
}

.is-startrange .pika-button {
  color: var(--hw-color-white);
  background: #6cb31d;
  box-shadow: none;
}

.is-endrange .pika-button {
  color: var(--hw-color-white);
  background: #33af;
  box-shadow: none;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--hw-color-gray-dark);
  background-color: var(--hw-color-gray-light-fill);
}

.is-outside-current-month .pika-button {
  color: #999;
  opacity: 0.3;
}

.is-selection-disabled {
  pointer-events: none;
  cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
  background: var(--hw-color-gray-light-stroke);
  box-shadow: none;
}

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help;
  text-decoration: none;
}
