/**
 * Block
 */

.hw-footer {
  display: block;
  background: var(--hw-color-gray);

  /**
   * Elements
   */

  &__mobile {
    margin: 0 auto;
    padding: var(--hw-spacing);

    @media (--large) {
      display: none;
    }
  }

  &__desktop {
    display: none;
    padding-top: var(--hw-spacing-large);

    @media (--large) {
      display: block;
      max-width: var(--hw-width-wide);
      margin: 0 auto;
    }
  }

  &__navigation-items {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 1px solid var(--hw-color-white);

    @media (--large) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__navigation-item {
    border-bottom: 1px solid var(--hw-color-gray-light);

    @media (--large) {
      border-bottom: 0;
      line-height: 1;
    }

    & a {
      font-size: var(--hw-font-size-p);
      font-family: var(--hw-font-primary-medium);

      @media (--large) {
        font-size: var(--hw-font-size-h3);
      }
    }
  }

  &__logo {
    padding: var(--hw-spacing-large) 0;

    & svg {
      display: block;
      margin: 0 auto;
      height: 70px;
      width: 120px;
    }
  }

  &__legal {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin: 0 auto;
    padding: var(--hw-spacing-smaller) 0;

    @media (--large) {
      max-width: 550px;
    }

    & a {
      font-family: var(--hw-font-primary-medium);
      font-size: 12px;
      color: var(--hw-color-gray-dark);

      @media (--large) {
        font-size: var(--hw-font-size-small);
      }
    }

    & span {
      font-family: var(--hw-font-primary-regular);
      font-size: 12px;

      @media (--large) {
        font-size: var(--hw-font-size-small);
      }
    }
  }
}
