/**
 * Block
 */

.hw-entrance-box {
  position: relative;
  background: var(--hw-color-primary-lighter);
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--hw-spacing-medium-2);

  &:hover {
    opacity: 0.8;
  }

  /**
   * Elements
   */

  &__media {
    height: auto;
    width: 100%;
    object-fit:cover;
  }

  &__body {
    z-index: 1;
    padding: var(--hw-spacing-medium-2);
  }

  &__label {
    text-transform: uppercase;
    margin-bottom: var(--hw-spacing-small-4);
    font-size: var(--hw-font-size-smaller);
    display: inline;
    transition: all 0.1s ease;
    @extend .hw-color-gray-dark
  }

  &__text {
    display: inline;
    min-height: 60px;
    margin-top: var(--hw-spacing-small-4);
    font-size: var(--hw-font-size-small);
    transition: all 0.1s ease;
  }

}

