/**
 * Block
 */

.hw-accordion {
  display: block;
  padding: 0;
  margin: 0 0 var(--hw-spacing) 0;
  list-style: none;
  background-color: white;

  &__trigger {
    position: relative;
    display: block;
    width: calc(100% - var(--hw-spacing) * 2);
    margin: 0 var(--hw-spacing);
    padding: var(--hw-spacing-smaller) 0;
    padding-right: var(--hw-spacing);
    border: 0;
    border-bottom: 3px solid var(--hw-color-gray-lighter);
    font-family: var(--hw-font-primay-medium);
    font-size: var(--hw-font-size-small);
    text-align: left;

    &:hover,
    &:focus {
      color: var(--hw-color-primary-dark);
      border-color: var(--hw-color-gray-light);
      outline: 0;
    }
  }

  &__arrow {
    &::before,
    &::after {
      position: absolute;
      top: 22px;
      right: 0;
      display: block;
      width: 12px;
      height: 4px;
      content: '';
      background-color: currentColor;
      transform: rotate(-45deg);
      transition: transform 0.1s ease;
    }

    &::after {
      right: 6px;
      transform: rotate(45deg);
    }
  }

  &__contents {
    display: none;
    margin: var(--hw-spacing-small) var(--hw-spacing);
    border-bottom: 3px solid var(--hw-color-gray-lighter);
  }

  /**
   * padding and padding variations
   */

  &__item--expanded .hw-accordion__contents {
    display: block;
  }

  &__item--expanded .hw-accordion__trigger {
    color: var(--hw-color-primary-dark);
  }

  &__item--expanded .hw-accordion__arrow::before {
    transform: rotate(45deg);
  }

  &__item--expanded .hw-accordion__arrow::after {
    transform: rotate(-45deg);
  }
}

/**
  * no-js fallbacks
  */

.no-js .hw-accordion__contents {
  display: block;
}
