/**
  * Base body styles
  */

/**
  * Paragraph styles
  */

p,
a,
button {
  font-size: var(--hw-font-size-p);
  font-family: var(--hw-font-primay-regular);
  line-height: 1.4;
  font-weight: 300;
  color: var(--hw-color-gray-dark);
  margin: 0;
  padding: 0;
  letter-spacing: -.02em;
}

a {
  text-decoration: none;
}

/**
  * Header styles
  */
h1,
h2,
h3 {
  color: var(--hw-color-gray-dark);
  margin: 0;
  padding: 0;
  font-family: var(--hw-font-primay-medium);
  font-weight: normal;
  line-height: 1;
  letter-spacing: -.02em;
}
@media (--medium) {
  h1,
  h2,
  h3 {
    line-height: 1.2;
  }
}

h1 {
  font-size: var(--hw-font-size-h1-mobile);
}
@media (--medium) {
  h1 {
    font-size: var(--hw-font-size-h1);
  }
}

h2 {
  font-size: var(--hw-font-size-h2);
}

h3 {
  font-size: var(--hw-font-size-h3);
  font-family: var(--hw-font-primay-bold);
}

/**
  * Extra text styles
  */

.hw-text-lead {
  font-size: var(--hw-font-size-lead);
  font-family: var(--hw-font-primay-regular);
  line-height: 1.4;
  color: var(--hw-color-gray-dark);
}

.hw-text-small {
  font-size: var(--hw-font-size-small);
  line-height: 1.4;
  color: var(--hw-color-gray-dark);
}
