/**
 * HEWDIG
 *
 * Hr
 */

.hw-link {
  font-family: var(--hw-font-primay-regular);
  border-bottom: 2px solid var(--hw-color-gray);
  transition: border-color 0.2s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--hw-color-primary);
    outline: 0;
  }
}
