/**
 * HEWDIG
 *
 * Buttons
 */

.hw-button {
  display: inline-block;
  padding: var(--hw-spacing-smaller) var(--hw-spacing);
  border: 2px solid var(--hw-color-gray);
  background: var(--hw-color-gray);
  color: var(--hw-color-white);
  font-size: var(--hw-font-size-small);
  font-family: var(--hw-font-primary-medium);
  line-height: var(--hw-font-size-p);
  transition: all cubic-bezier(0.08, 0.84, 0.07, 0.96) 120ms, background 75ms;
  cursor: pointer;

  /**
   * States
   */

  &:disabled {
    color: var(--hw-color-white) !important;
    fill: var(--hw-color-white) !important;
    background: var(--hw-color-gray-light) !important;
    border: 2px solid var(--hw-color-gray-light) !important;
    outline: 0 !important;
    box-shadow: none !important;
    cursor: default;
  }

  /**
   * Sizes
   */

  &--large {
    padding: var(--hw-spacing-smaller) var(--hw-spacing-large);
    font-size: var(--hw-font-size-p);
  }

  &--small {
    padding: 0 var(--hw-spacing-smaller);
  }

  &--full {
    width: 100%;
  }

  /**
   * Variants
   */

  /* Primary button */

  &--primary {
    border: 2px solid var(--hw-color-primary);
    background: var(--hw-color-primary);
    color: var(--hw-color-black);

    &:hover,
    &:active,
    &:focus {
      color: var(--hw-color-white);
      border-color: var(--hw-color-primary-dark);
      background: var(--hw-color-primary-dark);
      outline: 1px solid var(--hw-color-primary-dark);
    }

    &:active {
      background: var(--hw-color-primary) !important;
    }
  }

  /* Secondary button */

  &--secondary {
    border: 2px solid var(--hw-color-gray-dark);
    background: var(--hw-color-gray-dark);
    color: var(--hw-color-white);

    &:hover,
    &:active,
    &:focus {
      border-color: var(--hw-color-gray-darker);
      background: var(--hw-color-gray-darker);
      outline: 1px solid var(--hw-color-gray-darker);
    }

    &:active {
      background: var(--hw-color-gray-dark) !important;
    }
  }

  /* Outline button */

  &--outline {
    border: 3px solid var(--hw-color-gray);
    background: none;
    color: var(--hw-color-gray);

    &:hover,
    &:active,
    &:focus {
      color: var(--hw-color-white);
      border-color: var(--hw-color-gray);
      background: var(--hw-color-gray);
      outline: 1px solid var(--hw-color-gray);
    }

    &:active {
      border-color: var(--hw-color-gray-darker);
      outline: 1px solid var(--hw-color-gray-darker);
    }
  }

  /* White outlined button */

  &--outline-white {
    border: 3px solid var(--hw-color-white);
    background: none;
    color: var(--hw-color-white);

    &:hover,
    &:active,
    &:focus {
      color: var(--hw-color-gray-darker);
      border-color: var(--hw-color-white);
      background: var(--hw-color-white);
      outline: 1px solid var(--hw-color-white);
    }

    &:active {
      background: var(--hw-color-gray-lightest);
    }
  }

  /* Icon buttons */

  &--icon {
    border: 2px solid var(--hw-color-primary);
    fill: var(--hw-color-white);
    background: var(--hw-color-primary);
    padding: var(--hw-spacing-smaller);
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      border-color: var(--hw-color-primary-dark);
      background: var(--hw-color-primary-dark);
      box-shadow: 0 0 0 1px var(--hw-color-primary-dark);
      outline: 0;
    }

    &:active {
      background: var(--hw-color-primary);
      outline: 0;
    }
  }

  &--icon-outline {
    border: 3px solid var(--hw-color-gray);
    fill: var(--hw-color-gray);
    background: transparent;
    padding: var(--hw-spacing-smaller);
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--hw-color-gray);
      fill: var(--hw-color-white);
      box-shadow: 0 0 0 1px var(--hw-color-gray);
      outline: 0;
    }

    &:active {
      border-color: var(--hw-color-gray-darker);
      outline: 0;
    }
  }

  &--icon-stripped {
    border: 0;
    fill: var(--hw-color-gray);
    background: transparent;
    padding: var(--hw-spacing-smaller);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      fill: var(--hw-color-gray-darker);
      box-shadow: 0;
      outline: 0;
    }

    &:active {
      fill: var(--hw-color-gray-darker);
      outline: 0;
    }
  }
}
