/**
 * Block
 */

.hw-button {
  display: inline-block;
  padding: var(--hw-spacing-small-3) var(--hw-spacing-medium-2);
  margin-top: 3px;
  margin-right: 3px;
  border-radius: var(--hw-border-radius);
  border-width: 0px;
  background: var(--hw-color-gray-normal);
  border-color: var(--hw-color-gray-normal);
  color: var(--hw-color-button-text);
  fill: var(--hw-color-button-text);
  font-family: var(--hw-font-primary-medium);
  font-size: var(--hw-font-size-small);
  line-height: var(--hw-font-size-p);
  transition: all var(--hw-transition-time-quick) var(--hw-transition-easing-normal);
  text-align: center; /* Center text when this is an <a> */
  cursor: pointer;
  outline: 0px solid transparent;
  word-break: normal;

  &:last-of-type {
    margin-right: 0;
  }

  &:disabled, &[disabled], &[disabled]:active {
    color: var(--hw-color-gray-dark) !important;
    fill: var(--hw-color-gray-dark) !important;
    background: var(--hw-color-gray-normal) !important;
    border-color: var(--hw-color-gray-normal) !important;
    outline: 0 !important;
    box-shadow: none !important;
    cursor: default;
  }


  /**
   * Modifiers: sizes
   */

  &--large {
    font-size: 18px;
    height: 58px;
    padding: 19px 24px;
    i, svg {
      margin-right: 12px;
    }
  }

  &--medium {
    font-size: 18px;
    height: 50px;
    padding: 15px 20px;
    i, svg {
      margin-right: 10px;
    }
  }

  &--small {
    font-size: 16px;
    height: 44px;
    padding: 12px 16px;
    i, svg {
      margin-right: 8px;
    }
  }

  &--full {
    width: 100%;
  }

  /**
  * Responsive modifiers
  */

  &--mobile-full {
    @media (--max-medium){
       width: 100%;
    }
  }


  /**
   * Modifiers: types
   */

  &--primary {
    background: var(--hw-color-primary);
    border-color: var(--hw-color-primary);
    color: var(--hw-color-button-text);
    fill: var(--hw-color-button-text);

    &:hover,
    &:active,
    &:focus {
      background: var(--hw-color-button-primary-hover);
      border-color: var(--hw-color-primary);
      outline: 0px solid var(--hw-color-button-primary-hover);
    }

    &:active {
      background: var(--hw-color-primary) !important;
    }
  }

  &--secondary {
    background: var(--hw-color-primary-darker);
    border-color: var(--hw-color-primary-darker);
    color: var(--hw-color-white);
    fill: var(--hw-color-white);

    &:hover,
    &:active,
    &:focus {
      background: var(--hw-color-black);
      outline: 0px solid var(--hw-color-black);
    }

    &:active {
      background: var(--hw-color-primary-darker) !important;
    }
  }

  &--outline {
    background: transparent;
    color: var(--hw-color-primary-dark);
    fill: var(--hw-color-primary-dark);
    border: var(--hw-border-thickness) solid var(--hw-color-primary-dark);

    &:disabled, &[disabled], &[disabled]:active {
      background: none !important;
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--hw-color-black);
      fill: var(--hw-color-black);
      border-color: var(--hw-color-black);
      outline: 0px solid var(--hw-color-black);
      background: none;
    }

    &:active {
      border-color: var(--hw-color-gray-dark);
      outline: 0px solid var(--hw-color-gray-dark);
    }
  }

  &--outline-dark {
    @extend .hw-button--outline-secondary;
  }

  &--outline-white {
    background: transparent;
    border: var(--hw-border-thickness) solid var(--hw-color-primary-light);
    color: var(--hw-color-white);
    fill: var(--hw-color-white);

    &:hover,
    &:active,
    &:focus {
      color: var(--hw-color-primary-light);
      fill: var(--hw-color-primary-light);
      outline: 0px solid var(--hw-color-white);
    }
    &:disabled, &[disabled], &[disabled]:active {
      border: var(--hw-border-thickness) solid var(--hw-color-gray-dark);
      color: var(--hw-color-gray-normal);
      background: transparent !important;
    }
  }

  &--outline-primary {
    background: transparent;
    border: var(--hw-border-thickness) solid var(--hw-color-primary);
    color: var(--hw-color-black);
    fill: var(--hw-color-black);

    &:hover,
    &:active,
    &:focus {
      color: var(--hw-color-primary-dark);
      fill: var(--hw-color-primary-dark);
      border: var(--hw-border-thickness) solid var(--hw-color-primary-dark);
      outline: 0px solid var(--hw-color-white);
    }
    &:disabled, &[disabled], &[disabled]:active {
      border: var(--hw-border-thickness) solid var(--hw-color-gray-normal);
      color: var(--hw-color-gray-dark);
      fill: var(--hw-color-gray-dark);
      background: transparent !important;
    }
  }

  &--outline-secondary {
    background: transparent;
    border: var(--hw-border-thickness) solid var(--hw-color-primary-darker);
    color: var(--hw-color-primary-darker);
    fill: var(--hw-color-primary-darker);

    &:hover,
    &:active,
    &:focus {
      color: var(--hw-color-black);
      fill: var(--hw-color-black);
      border: var(--hw-border-thickness) solid var(--hw-color-black);
      outline: 0px solid var(--hw-color-white);
    }
    &:disabled, &[disabled], &[disabled]:active {
      border: var(--hw-border-thickness) solid var(--hw-color-gray-normal);
      color: var(--hw-color-gray-dark);
      fill: var(--hw-color-gray-dark);
      background: transparent !important;
    }
  }

  &--stripped {
    outline: 0;
    background: none;
    fill: var(--hw-color-gray-dark);
    color: var(--hw-color-gray-dark);

    &:hover {
      fill: var(--hw-color-gray-dark);
      color: var(--hw-color-gray-dark);
    }
  }
  &--chat {
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 10px 10px 8px;
    border-radius: 50%;
    background: var(--hw-color-primary-light);
    color: var(--hw-color-primary-darker);
    outline: none;

    &:hover,
    &:active,
    &:focus {
      color: var(--hw-color-primary-darker);
      fill: var(--hw-color-primary-darker);
      border-color: var(--hw-color-button-primary-light-hover);
      background: var(--hw-color-button-primary-light-hover);
      outline: none;
    }
    &:active {
      background: var(--hw-color-button-primary-light-hover);
    }
  }
  &--chat-fixed {
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: var(--z-index--stickynav);
    @extend .hw-button--chat;
  }
}
