.hw-badge {
  display: inline-block;
  background-color: var(--hw-color-primary-lighter);
  border: var(--hw-border-thickness) solid var(--hw-color-primary-lighter);
  border-radius: var(--hw-border-radius);
  border-left-width: 8px;
  border-right-width: 8px;
  border-top-width: 4px;
  border-bottom-width: 4px;

  color: var(--hw-color-primary-dark);
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 0.75em; /* 75% of surrounding content unless spesified otherwise*/
  font-family: var(--hw-font-primary-medium);
  font-weight: var(--hw-font-weight-medium);

  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;

  vertical-align: 10%;



  /* Variations */
  /* Size variations */

  &--larger {
    font-size: var(--hw-font-size-small);
    border-left-width: 12px;
    border-right-width: 12px;
    border-top-width: 8px;
    border-bottom-width: 8px;
  }

  &--large {
    font-size: var(--hw-font-size-smaller);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 4px;
    border-bottom-width: 4px;
  }

  &--small {
    font-size: var(--hw-font-size-smallest);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 4px;
    border-bottom-width: 4px;
  }

  &--smaller {
    font-size: var(--hw-font-size-smallest);
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-width: 2px;
    border-bottom-width: 2px;
  }



  /* Color variations */
  
  &--primary { /* Default */
    background-color: var(--hw-color-primary-lighter);
    border-color: var(--hw-color-primary-lighter);
    color: var(--hw-color-primary-dark);
  }

  &--dark {
    background-color: var(--hw-color-primary-darker);
    border-color: var(--hw-color-primary-darker);
    color: var(--hw-color-white);
  }

  &--white {
    background-color: var(--hw-color-white);
    border-color: var(--hw-color-white);
    color: var(--hw-color-primary-dark);
  }

  &--warning {
    background-color: var(--hw-color-secondary);
    border-color: var(--hw-color-secondary);
    color: var(--hw-color-black);
  }
}
