.hw-badge {
  display: inline-block;
  border-color: var(--hw-color-primary-dark);
  border-style: solid;
  border-left-width: 5px;
  border-right-width: 5px;
  border-radius: 3px;
  line-height: 1.1;
  background-color: var(--hw-color-primary-dark);
  color: var(--hw-color-white);

  &--large {
    font-size: var(--hw-font-size-h2);
    border-left-width: 7px;
    border-right-width: 7px;
  }

  &--larger {
    font-size: var(--hw-font-size-h1);
    border-left-width: 11px;
    border-right-width: 11px;
  }

  &--small {
    font-size: var(--hw-font-size-small);
    border-top-width: 4px;
  }

  &--smaller {
    font-size: var(--hw-font-size-smaller);
  }
}
