/**
 * Block
 */

.hw-hr {
  text-align: left; /* IE */
  display: block;
  width: 100%;
  max-width: 36px;
  height: 3px;
  border: 0;
  margin: 0;
  background: var(--hw-color-gray-darker);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  /**
   * Modifers
   */

  &--full {
    max-width: initial;
  }

  &--centered {
    margin: 0 auto;
  }

  &--white {
    background: var(--hw-color-white);
  }

  &--gray {
    background: var(--hw-color-gray);
  }

  &--gray-light {
    background: var(--hw-color-gray-light);
  }

  &--gray-lighter {
    background: var(--hw-color-gray-lighter);
  }
}
